
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>光明 纯牛奶250mL*24盒（新老包装随机发货）-苏州商城首页</title>
<meta name="keywords" content="商城关键词"/>
<meta name="description" content="商城描述"/>
<link rel="shortcut icon" href="https://ihuoniao.cn/favicon.ico?v=1632885997" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="https://ihuoniao.cn/static/css/core/base.css?v=1632885997" media="all"/>
<link rel="stylesheet" type="text/css" href="https://ihuoniao.cn/templates/shop/skin2/css/public.css?v=1632885997" media="all"/>
<link rel="stylesheet" type="text/css" href="https://ihuoniao.cn/templates/shop/skin2/css/businessD.css?v=1632885997" media="all"/>
<script type="text/javascript" src="https://ihuoniao.cn/static/js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = 'https://ihuoniao.cn', channelDomain = 'https://ihuoniao.cn/sz/shop', cfg_staticPath = staticPath = 'https://ihuoniao.cn/static/';

	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

	var hideFileUrl = 0, cookiePre = 'HN_', cookieDomain = 'ihuoniao.cn';
	var detailShopunit ='件' ;//商品单位
	var detailID = '1199';     //当前信息ID
	var detailTitle = '光明 纯牛奶250mL*24盒（新老包装随机发货）';
	var detailPrice = '66.00';
	var maxCount = '9999';  //最多购买数量
	var detailThumb = 'https://upload.ihuoniao.cn//shop/thumb/small/2021/09/02/16305650018595.jpg';   //当前商品缩略图
	var detailUrl = 'https://ihuoniao.cn/sz/shop/detail-1199.html';
	var date = [];
		var huodongid = "170";
	var imconfig = {
		'mod':'shop',
		'chatid':"15575",
		'title': '光明 纯牛奶250mL*24盒（新老包装随机发货）',
		"price": '¥66.00',
		"imgUrl": 'https://upload.ihuoniao.cn//shop/thumb/small/2021/09/02/16305650018595.jpg',
		"link": 'https://ihuoniao.cn/sz/shop/detail-1199.html',

	}
	//商品信息-商品颜色和尺寸
	var sku_conf = {

			//属性表
			"property": [
							]

			//属性值
			,"data": {

							},"pindata":{
									}
	};

	//商品规格选择
	var detail_inventory = '9995';  //库存
</script>
</head>
<body class="w1200">
 

<script type="text/javascript">var cookiePre = 'HN_', cfg_clihost = 'ihuoniao.cn', cfg_module = 'shop',cfg_cityInfo = '{"cityid":"166","name":"\u82cf\u5dde","pinyin":"suzhou","url":"https:\/\/ihuoniao.cn\/sz","domain":"sz","type":"2","default":"1","count":75}'; </script>

<!-- 多语言 -->
<script src="https://ihuoniao.cn/include/lang/zh-CN.js?v=1632885997"></script>

<!-- 顶部信息 s -->
<div class="topInfo">
	<div class="wrap fn-clear">
		<div class="loginbox">
						<span class="siteCityInfo">苏州</span>
			<span class="changeCityBtn">
				「<a href="javascript:;">切换城市</a>」      
				<div class="changeCityList">
					<p class="setwidth"></p>
					<div class="boxpd">
						<div class="sj"><i></i></div>
						<div class="box">
							<div class="content fn-clear">
								<p class="tit">请选择您所在的城市：</p>      
								<ul></ul>
				      		</div>
				      <div class="morecontent fn-hide">
								<dl class="hot">
									<dt>热门</dt>      
									<dd></dd>
								</dl>
								<div class="more">
									<dl class="pytit">
										<dt>城市</dt>      
										<dd></dd>
									</dl>
									<div class="list"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</span>
															<div class="loginafter fn-clear" id="navLoginBefore">
				<span class="fn-left">欢迎您回来，</span><a href="https://ihuoniao.cn/u" target="_blank">连理之理</a><a href="https://ihuoniao.cn/u/message.html?state=0" style="margin-left: -5px;" target="_blank">(<font color="#ff0000">188</font>)</a><a href="https://ihuoniao.cn/u" target="_blank">管理</a><span class="separ fn-left" style="margin: 0 5px 0 -5px;">|</span><a href="https://ihuoniao.cn/logout.html" class="logout">退出</a>
			</div>
					</div>
		<ul class="menu topbarlink fn-clear">
			<li>
				<a href="https://ihuoniao.cn" style="color: #f60;">网站首页</a><span class="separ">|</span>
			</li>
			<li class="dropdown user">
				<a href="https://ihuoniao.cn/u">会员中心<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="https://ihuoniao.cn/u/order.html" target="_blank">我的订单</a>					<a href="https://ihuoniao.cn/u/record.html" target="_blank">交易明细</a>
					<a href="https://ihuoniao.cn/u/security.html" target="_blank">安全中心</a>
										<a href="https://ihuoniao.cn/supplier/loupan" target="_blank">楼盘管理平台</a>
									</div>
			</li>
			<li><a href="https://ihuoniao.cn/mobile.html" target="_blank"><i class=""><img src="https://ihuoniao.cn/static/images/public_top_icon_mobile.png" /></i>手机站</a><span class="separ">|</span>
				<div class="pop">
					<s></s>
					<p>扫码访问<a href="https://ihuoniao.cn/mobile.html" target="_blank"><img src="https://ihuoniao.cn/include/qrcode.php?data=https://ihuoniao.cn" width="150" height="150" /></a></p>
				</div>
			</li>
			<li><a href="javascript:;"><i class=""><img src="https://ihuoniao.cn/static/images/public_top_icon_wechat.png" /></i>微信公众号</a><span class="separ">|</span>
				<div class="pop" style="left: -26px;">
					<s></s>
					<p>扫码关注<img src="https://upload.ihuoniao.cn//siteConfig/card/large/2021/04/26/16194043459817.jpg" width="150" height="150" /></p>
				</div>
			</li>
			<li class="dropdown">
				<a href="javascript:;">快速发布<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="https://ihuoniao.cn/u/fabu-article.html" target="_blank">新闻投稿</a>					<a href="https://ihuoniao.cn/u/fabu-info.html" target="_blank">分类信息</a>					<a href="https://ihuoniao.cn/u/config-house.html" target="_blank">发布房源</a>					<a href="https://ihuoniao.cn/sz/huodong/fabu.html" target="_blank">发布活动</a>					<a href="https://ihuoniao.cn/sz/tieba/fabu.html" target="_blank">发布新贴</a>					<a href="https://ihuoniao.cn/u/fabu-live.html" target="_blank">发起直播</a>  
					<a href="https://ihuoniao.cn/u/fabu-vote.html" target="_blank">发布投票</a>  
					<a href="https://ihuoniao.cn/u/fabu-car.html" target="_blank">发布二手车</a>  
					<a href="https://ihuoniao.cn/u/fabu-sfcar.html" target="_blank">发布顺风车</a>				</div>
			</li>
			<li class="dropdown webmap">
				<a href="javascript:;">网站导航<i class="picon picon-down"></i></a>
				<div class="submenu">
					
					<a href="https://ihuoniao.cn/sz/info" style="">分类信息</a>
					
					<a href="https://ihuoniao.cn/sz/sfcar" style="">顺风车</a>
					
					<a href="https://ihuoniao.cn/sz/article" style="">信息资讯</a>
					
					<a href="https://ihuoniao.cn/sz/circle" style="">圈子动态</a>
					
					<a href="https://ihuoniao.cn/sz/awardlegou" style="">有奖乐购</a>
					
					<a href="https://ihuoniao.cn/sz/house" style="">房产门户</a>
					
					<a href="https://ihuoniao.cn/sz/job" style="">招聘求职</a>
					
					<a href="https://ihuoniao.cn/sz/waimai" style="">美食外卖</a>
					
					<a href="https://ihuoniao.cn/sz/shop" style="">在线商城</a>
					
					<a href="https://ihuoniao.cn/sz/tuan" style="">团购秒杀</a>
					
					<a href="https://ihuoniao.cn/business" target="_blank" style=" font-weight: 700;">火鸟商家</a>
					
					<a href="https://ihuoniao.cn/sz/renovation" style="">装修门户</a>
					
					<a href="https://ihuoniao.cn/sz/live" style="">视频直播</a>
					
					<a href="https://ihuoniao.cn/include/plugins/8/list.php?hideAppMenu=1" target="_blank" style="">小程序直播</a>
					
					<a href="https://ihuoniao.cn/sz/tieba" style="">贴吧社区</a>
					
					<a href="https://ihuoniao.cn/sz/video" style="">视频频道</a>
					
					<a href="https://ihuoniao.cn/sz/dating" style="">互动交友</a>
					
					<a href="https://ihuoniao.cn/sz/travel" style="">旅游频道</a>
					
					<a href="https://ihuoniao.cn/sz/education" style="">教育培训</a>
					
					<a href="https://ihuoniao.cn/sz/homemaking" style="">家政服务</a>
					
					<a href="https://ihuoniao.cn/sz/car" style="">汽车门户</a>
					
					<a href="https://ihuoniao.cn/sz/marry" style="">婚嫁频道</a>
					
					<a href="https://ihuoniao.cn/sz/huodong" style="">同城活动</a>
					
					<a href="https://ihuoniao.cn/sz/pension" style="">养老机构</a>
					
					<a href="https://ihuoniao.cn/sz/zhuanti" style="">拖拽专题</a>
					
					<a href="https://ihuoniao.cn/sz/paper" style="">电子报刊</a>
					
					<a href="https://ihuoniao.cn/sz/jianzhan" style="">自助建站</a>
					
					<a href="https://ihuoniao.cn/sz/huangye" style="">便民黄页</a>
					
					<a href="https://ihuoniao.cn/sz/vote" style="">投票活动</a>
					
					<a href="https://ihuoniao.cn/sz/integral" style="">积分商城</a>
					
					<a href="https://ihuoniao.cn/sz/quanjing" style="">VR全景</a>
					
					<a href="https://ihuoniao.cn/sz/image" style="">图说资讯</a>
					
					<a href="https://www.kumanyun.com" target="_blank" style=" color: #00b0f0; font-weight: 700;">酷曼官网</a>
					
					<a href="https://ihuoniao.cn/waimai/paotui.html" style="">飞速跑腿</a>
					
					<a href="https://ihuoniao.cn/include/json.php?action=openWxMiniProgram&param=wxMiniprogram://gh_ea4eec6fe0cd/wxa5b8a049003e43ee" style="">小程序</a>
					
					<a href="https://ihuoniao.cn/include/json.php?action=openWxMiniProgram&param=wxMiniprogram://gh_40d7992f36f7/wx344516f1a44e843b" style="">其他小程序</a>
					
					<a href="https://ihuoniao.cn/include/plugins/14/homepage.php" style="">电话本</a>
					
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- 顶部信息 e -->
<script type="text/template" id="notLoginHtml">
	<div class="loginbefore fn-clear" id="navLoginAfter">
		<a href="https://ihuoniao.cn/register.html" class="regist">注册</a>
		<span class="fn-left">&nbsp;/&nbsp;</span>
		<span class="logint"><a href="https://ihuoniao.cn/login.html">登录</a></span>
		
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=wechat" title="微信快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/wechat/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=qq" title="QQ快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/qq/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=alipay" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/alipay/img/24.png" /></i></a>
				
				
	</div>
</script>

<script>
	var productUrl = 'https://ihuoniao.cn/sz/shop/list.html', storeUrl = 'https://ihuoniao.cn/sz/shop/store.html';
	var shopAction = 'https://ihuoniao.cn/sz/shop/store-detail-101.html';
	var listAction = 'https://ihuoniao.cn/sz/shop/list.html';

</script>
<div class="shopbox">
	<div class="shopInfo wrap fn-clear">
		<div class="leftbox fn-left fn-clear">
			<div class="logobox fn-left"><img src="https://upload.ihuoniao.cn//siteConfig/logo/large/2019/09/26/15694623734496.png" alt=""></div>
			<div class="sDetail fn-left">
				<h2>苏州伍尔伍兹德有限公司</h2>
				<span class="chat_to-Link" data-type="detail">联系商家</span>			</div>
			<div class="erCodeBox fn-left">
				<div class="showCode canjia_btn">
					<p>手机购</p>
					<div class="erIcon"><s></s></div>
					<div class="popCode">
						<div class="code"><img src="https://ihuoniao.cn/include/qrcode.php?data=https://ihuoniao.cn/sz/shop/detail-1199.html" alt=""></div>
						<p>手机扫码进行砍价</p>
					</div>
				</div>

			</div>
		</div>
		<div class="rightbox fn-right">
			<form class="searchbox" action="https://ihuoniao.cn/sz/shop/list.html">
				<div class="searchInp"><input type="text" name="keywords" value=""></div>
				<a href="javascript:;" class="search" data-type="1">搜全站</a>
				<a href="javascript:;" class="search search_grey" data-type="2">搜本店</a>
			</form>
		</div>
	</div>
</div>
<div class="navBoxContainer">
	<div class="navBox wrap fn-clear">
		<dl class="allNav">
			<dt>
				全部分类
				<div class="lines">
					<p></p>
					<p></p>
					<p></p>
				</div>
		</dt>
		<dd>
			<ul class="pul">
				
				<li>
					<a href="https://ihuoniao.cn/sz/shop/store-detail-101-522.html" class="ycate">电脑游戏</a>
					<ul class="cul">
												
												<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-523.html" class="ycate">独立游戏</a></li>
						
												<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-524.html" class="ycate">单击游戏</a></li>
						
												<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-525.html" class="ycate">动作游戏</a></li>
						
												<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-526.html" class="ycate">养成游戏</a></li>
						
					</ul>
										<s></s>
									</li>
				
				<li>
					<a href="https://ihuoniao.cn/sz/shop/store-detail-101-527.html" class="ycate">手机游戏</a>
					<ul class="cul">
												
												<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-528.html" class="ycate">闪耀暖暖</a></li>
						
												<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-529.html" class="ycate">克鲁赛德战记</a></li>
						
					</ul>
										<s></s>
									</li>
				
				<li>
					<a href="https://ihuoniao.cn/sz/shop/store-detail-101-530.html" class="ycate">动漫周边</a>
					<ul class="cul">
												
												<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-531.html" class="ycate">杯子</a></li>
						
												<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-532.html" class="ycate">抱枕</a></li>
						
					</ul>
										<s></s>
									</li>
				
				<li>
					<a href="https://ihuoniao.cn/sz/shop/store-detail-101-533.html" class="ycate">生活文创</a>
					<ul class="cul">
												
												<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-534.html" class="ycate">文具</a></li>
						
												<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-535.html" class="ycate">充电宝</a></li>
						
					</ul>
										<s></s>
									</li>
				
			</ul>
		</dd>
		</dl>
		<ul class="navShow">
			<li><a href="https://ihuoniao.cn/sz/shop">首页</a></li>
			
			<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-522.html" class="ycate">电脑游戏</a></li>
			
			<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-527.html" class="ycate">手机游戏</a></li>
			
			<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-530.html" class="ycate">动漫周边</a></li>
			
			<li><a href="https://ihuoniao.cn/sz/shop/store-detail-101-533.html" class="ycate">生活文创</a></li>
			

		</ul>
	</div>
</div>

<div class="bread">
	<p><a href="https://ihuoniao.cn/sz/shop" target="_blank">首页</a> >
				<a href="https://ihuoniao.cn/sz/shop/list.html?typeid=226" target="_blank">酒类生鲜</a>
		>				<a href="https://ihuoniao.cn/sz/shop/list.html?typeid=234" target="_blank">饮料冲调</a>
					</p>
</div>

<div class="content clearfix fn-clear">
	<div class="sjLeft">
		<form action="https://ihuoniao.cn/sz/shop/confirm-order.html" id="buyForm" method="post">
			<input type="hidden" name="pros[]" id="pros" value="" />
			<input type="hidden" name="price" id="payPrice">
			<input type="hidden" name="ordertype" id="ordertype">
			<input type="hidden" name="hid" id="hid" value="170">
			<input type="hidden" name="bid" id="bid" value="">

			<input type="hidden" name="buytype" id="buytype" value="">
			<dl class="singleGoods clearfix fn-clear">
				<dt>
					<div class="bigtobox">
						<div class="tb-booth tb-pic tb-s310">
														<a href="https://upload.ihuoniao.cn//shop/atlas/large/2021/09/02/16305650068233.jpg"><img src="https://upload.ihuoniao.cn//shop/atlas/large/2021/09/02/16305650068233.jpg" rel="https://upload.ihuoniao.cn//shop/atlas/large/2021/09/02/16305650068233.jpg" class="jqzoom" /></a>
							<div  class="pro_show">

									<a href="" data-tit="" data-id="">
										<img src="" alt="" class="jqzoom1">
									</a>

							</div>
						</div>
						<ul class="tb-thumb" id="thumblist">
																					<li class="tb-selected">
								<div class="tb-pic tb-s40"><a href="javascript:;">
									<img src="https://upload.ihuoniao.cn//shop/atlas/small/2021/09/02/16305650068233.jpg" mid="https://upload.ihuoniao.cn//shop/atlas/large/2021/09/02/16305650068233.jpg" big="https://upload.ihuoniao.cn//shop/atlas/large/2021/09/02/16305650068233.jpg"></a>
								</div>
							</li>
																												<li>
								<div class="tb-pic tb-s40"><a href="javascript:;">
									<img src="https://upload.ihuoniao.cn//shop/atlas/small/2021/09/02/16305650065970.jpg" mid="https://upload.ihuoniao.cn//shop/atlas/large/2021/09/02/16305650065970.jpg" big="https://upload.ihuoniao.cn//shop/atlas/large/2021/09/02/16305650065970.jpg"></a>
								</div>
							</li>
																												<li>
								<div class="tb-pic tb-s40"><a href="javascript:;">
									<img src="https://upload.ihuoniao.cn//shop/atlas/small/2021/09/02/16305650057079.jpg" mid="https://upload.ihuoniao.cn//shop/atlas/large/2021/09/02/16305650057079.jpg" big="https://upload.ihuoniao.cn//shop/atlas/large/2021/09/02/16305650057079.jpg"></a>
								</div>
							</li>
																				</ul>
					</div>
					<div class="collectBtn ">
						<a class="collect" href="javascript:;" data-temp="detail" data-id="1199"><i></i>收藏</a>						<a href="javascript:;" class="shareBtn newBtn_share" data-title="光明 纯牛奶250mL*24盒（新老包装随机发货）" title="光明 纯牛奶250mL*24盒（新老包装随机发货）" data-pic="https://upload.ihuoniao.cn//shop/atlas/large/2021/09/02/16305650068233.jpg"><i></i>分享</a>
												<div class="tui tui_txt"><s></s>退换无忧</div>
											</div>
				</dt>
				<dd class="title">
					<p>光明 纯牛奶250mL*24盒（新老包装随机发货）</p>
					<span></span>
				</dd>
				<dd class="info">
										<ul class="yhBox">
												
						<li class="price"><label class="label">价格：</label><div class="txt"><span class="moneyTxt"><i>¥</i><b>66.00</b></span></div><s>¥75.00</s>						</li>
												<div class="sales">已售<span>15</span>件</div>
						<!-- 分销用户独享s -->
												<li class="fenxiao_share" >
							<span><s class="fx_icon"></s>分享赚<s class="arr_icon"></s></span>邀请好友下单，可赚<b>¥0.99</b><s class="yqzq newBtn_share"></s>
						</li>
												<!-- 分销用户独享e -->


						<li class="q_li">
							<span class="label">优惠：</span>

							<div class="newqbox">
								
								<!-- 参与活动的都不参与vip折扣 -->
																<!-- 会员优惠 -->
																
															</div>
						</li>




					</ul>
					<!--					<div class="express_fee"><span class="label">运费：</span></div>-->
					<ul>
						<em>请选择商品信息</em>
																														<li class="count fn-clear">
							<span class="label">数量：</span>
							<div class="num"><i class="down noclick"><span class="heng"></span></i><input type="text" value="1" readonly ><i class="up"><span class="shu"></span><span class="heng"></span></i></div>
							<var class="left">库存<b> 10005</b>件</var><cite style="display: none;">超过当前库存！</cite>
						</li>
												<li class="buy_mincount" style="display: none;">
							<div class="mincoutDiv">
								<div>
									<span>购买数量需为最小起订量+装箱数量倍数之和</span>
									<div class="mincoutDiv2">
										<a href="javascript:;" class="mincoutNote"></a>
										<div class="mincoutTip" data-mincout="1" data-eachcout="1">最小起订量：1；装箱数量：1 <b><s></s></b></div>
									</div>

								</div>

							</div>
						</li>

					</ul>
				</dd>
															<dd class="cartBuy">
																					<a class="cart" href="javascript:;"><i></i>加入购物车</a>
							<a class="buyNow" href="javascript:;">立即购买</a>
							
													</dd>
												</dl>

		</form>

		<!-- 相关推荐 -->
		<div class="recBox">
			<h2>相关推荐</h2>
			<ul class="rec_ul fn-clear">
				
				<li>
					<a href="https://ihuoniao.cn/sz/shop/detail-1216.html" class="probox">
						<div class="imgbox"><img src="https://upload.ihuoniao.cn//shop/thumb/middle/2021/09/18/16319551804106.png" alt="" onerror="javascript:this.src='https://ihuoniao.cn/static/images/noPhoto_100.jpg';this.onerror=this.src='https://ihuoniao.cn/static/images/404.jpg';"></div>
						<div class="proinfo">
							<p>测测测测测测22</p>
							<h4>¥100.00</h4>
						</div>
					</a>
				</li>
				
				<li>
					<a href="https://ihuoniao.cn/sz/shop/detail-1215.html" class="probox">
						<div class="imgbox"><img src="https://upload.ihuoniao.cn//shop/thumb/middle/2021/09/18/16319550202852.png" alt="" onerror="javascript:this.src='https://ihuoniao.cn/static/images/noPhoto_100.jpg';this.onerror=this.src='https://ihuoniao.cn/static/images/404.jpg';"></div>
						<div class="proinfo">
							<p>11111111</p>
							<h4>¥10000.00</h4>
						</div>
					</a>
				</li>
				
				<li>
					<a href="https://ihuoniao.cn/sz/shop/detail-1213.html" class="probox">
						<div class="imgbox"><img src="https://upload.ihuoniao.cn//shop/thumb/middle/2021/09/15/16316934135136.png" alt="" onerror="javascript:this.src='https://ihuoniao.cn/static/images/noPhoto_100.jpg';this.onerror=this.src='https://ihuoniao.cn/static/images/404.jpg';"></div>
						<div class="proinfo">
							<p>测试商品请不要支付（06）</p>
							<h4>¥129.00</h4>
						</div>
					</a>
				</li>
				
				<li>
					<a href="https://ihuoniao.cn/sz/shop/detail-1212.html" class="probox">
						<div class="imgbox"><img src="https://upload.ihuoniao.cn//shop/thumb/middle/2021/09/15/16316914321347.png" alt="" onerror="javascript:this.src='https://ihuoniao.cn/static/images/noPhoto_100.jpg';this.onerror=this.src='https://ihuoniao.cn/static/images/404.jpg';"></div>
						<div class="proinfo">
							<p>测试商品请不要支付（05）</p>
							<h4>¥120.00</h4>
						</div>
					</a>
				</li>
				
				<li>
					<a href="https://ihuoniao.cn/sz/shop/detail-1211.html" class="probox">
						<div class="imgbox"><img src="https://upload.ihuoniao.cn//shop/thumb/middle/2021/09/15/16316768648338.png" alt="" onerror="javascript:this.src='https://ihuoniao.cn/static/images/noPhoto_100.jpg';this.onerror=this.src='https://ihuoniao.cn/static/images/404.jpg';"></div>
						<div class="proinfo">
							<p>测试测试</p>
							<h4>¥100.00</h4>
						</div>
					</a>
				</li>
				
				<li>
					<a href="https://ihuoniao.cn/sz/shop/detail-1210.html" class="probox">
						<div class="imgbox"><img src="https://upload.ihuoniao.cn//shop/thumb/middle/2021/09/15/16316759928125.png" alt="" onerror="javascript:this.src='https://ihuoniao.cn/static/images/noPhoto_100.jpg';this.onerror=this.src='https://ihuoniao.cn/static/images/404.jpg';"></div>
						<div class="proinfo">
							<p>测试测测试</p>
							<h4>¥100.00</h4>
						</div>
					</a>
				</li>
				
			</ul>
		</div>

		<div class="detailBox">
			<div class="left shopDetailBox">
				<!-- 店铺信息 -->
				<div class="shopDetail">
					<h1><span>苏州伍尔伍兹德有限公司</span><a href="javascript:;" class="chat_btn" data-type="detail"></a></h1>
					<div class="shopLogo"><img src="https://upload.ihuoniao.cn//shop/logo/large/2020/05/19/15898804367185.jpg" alt=""></div>
					<div class="btns_group">
						<a href="https://ihuoniao.cn/sz/shop/store-detail-101.html" class="toshop"><s></s>进店逛逛</a>
						<a href="javascript:;" class="gz"><s></s>关注店铺</a>
					</div>
					<div class="sjInfo">
						<span><font class="left">联系人：</font><em>烮轩</em></span>
						<span><font class="left">电&nbsp;&nbsp;&nbsp;话：</font><em>18605222935</em></span>
						<span><font class="left">地&nbsp;&nbsp;&nbsp;址：</font><em>江苏 苏州 西百花巷16号3D打印别墅</em></span>
						<span><font class="left">经&nbsp;&nbsp;&nbsp;营：</font><em>宠物、游戏、电子、安全、服务、食品、娱乐、文玩</em></span>
					</div>
				</div>
				<!-- 热销详情 -->
				<div class="hotSaleBox">
					<h1><span>热销排行榜</span></h1>
					<ul>
						
						<li>
							<a href="https://ihuoniao.cn/sz/shop/detail-1071.html" class="probox fn-clear">
								<div class="proimg"><span class="lab">1</span><img src="https://upload.ihuoniao.cn//shop/thumb/small/2019/01/25/15483940534076.png" alt="卡尔文克雷恩（Calvin Klein）卡雷优淡香水幸运当红版100ml（又名：CK ONE 幸运当红男女式通用淡香水）"></div>
								<div class="proinfo">
									<p>卡尔文克雷恩（Calvin Klein）卡雷优淡香水幸运当红版100ml（又名：CK ONE 幸运当红男女式通用淡香水）</p>
									<h2 class="price">¥100.00</h2>
								</div>
							</a>
						</li>
						
						<li>
							<a href="https://ihuoniao.cn/sz/shop/detail-1177.html" class="probox fn-clear">
								<div class="proimg"><span class="lab">2</span><img src="https://upload.ihuoniao.cn//shop/thumb/small/2021/07/26/1627279580929.png" alt="测试商品请不要支付"></div>
								<div class="proinfo">
									<p>测试商品请不要支付</p>
									<h2 class="price">¥0.01</h2>
								</div>
							</a>
						</li>
						
						<li>
							<a href="https://ihuoniao.cn/sz/shop/detail-14.html" class="probox fn-clear">
								<div class="proimg"><span class="lab">3</span><img src="https://upload.ihuoniao.cn//shop/thumb/small/2018/01/13/15158135664718.jpg" alt="2015夏季薄款八九分裤 弹力小脚直筒女裤 大码显瘦彩色休闲裤"></div>
								<div class="proinfo">
									<p>2015夏季薄款八九分裤 弹力小脚直筒女裤 大码显瘦彩色休闲裤</p>
									<h2 class="price">¥1.00</h2>
								</div>
							</a>
						</li>
						
						<li>
							<a href="https://ihuoniao.cn/sz/shop/detail-1162.html" class="probox fn-clear">
								<div class="proimg"><span class="lab">4</span><img src="https://upload.ihuoniao.cn//shop/thumb/small/2021/09/22/1632273333723.jpg" alt="手工酱干500g"></div>
								<div class="proinfo">
									<p>手工酱干500g</p>
									<h2 class="price">¥100.00</h2>
								</div>
							</a>
						</li>
						
						<li>
							<a href="https://ihuoniao.cn/sz/shop/detail-12.html" class="probox fn-clear">
								<div class="proimg"><span class="lab">5</span><img src="https://upload.ihuoniao.cn//shop/thumb/small/2018/01/13/15158148699718.jpg" alt="2015新款夏季时尚套装休闲宽松短袖t恤+棉短裤两件套夏休闲服潮女"></div>
								<div class="proinfo">
									<p>2015新款夏季时尚套装休闲宽松短袖t恤+棉短裤两件套夏休闲服潮女</p>
									<h2 class="price">¥69.00</h2>
								</div>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
			<div class="rightCon">
								<div class="commentBox">
					<div class="detailComment">
						<div class="left">
							<a class="on" href="javascript:;">商品详情</a>
							<a href="javascript:;">商品评价</a>
						</div>
												<div class="right">
														<a href="javascript:;" class="cart">加入购物车</a>
													</div>
											</div>
					<div class="allCon">
						<div class="con detailCon ">
														<div class="detailbody">
								<p><img src="https://upload.ihuoniao.cn//shop/editor/image/large/2021/09/02/1630565019409.jpg" alt="27.jpg"/></p>
							</div>
						</div>
						<div class="con comentCon"  style="display: none;" >
							<div class="rate">
								<div class="left score"><span>0<em>%</em></span><p>好评度</p></div>
								<div class="left percent">
									<dl><dt>描述<span>(0%)</span></dt><dd><span style=" width: 0%;"></span></dd></dl>
									<dl><dt>服务<span>(0%)</span></dt><dd><span style=" width: 0%;"></span></dd></dl>
									<dl><dt>质量<span>(0%)</span></dt><dd><span style=" width: 0%;"></span></dd></dl>
								</div>
							</div>
							<div class="all-comment">
								<div class="left commentSel">
									<a class="on" href="javascript:;" data-filter="">全部<span class="score0">(0)</span></a>
									<a href="javascript:;" data-filter="h">好评<span class="score1">(0)</span></a>
									<a href="javascript:;" data-filter="z">中评<span class="score2">(0)</span></a>
									<a href="javascript:;" data-filter="c">差评<span class="score3">(0)</span></a>
									<a href="javascript:;" data-filter="img">有图/有视频<span class="score4">(0)</span></a>
								</div>
							</div>
							<div class="comment-list">
								<p class="loading"><img src="https://ihuoniao.cn/static/images/loading_h8.gif"></p>
								<ul  id="comment-list">
									<!-- <li class="comment_li">
									<div class="leftBox">
									<div class="headIcon"><img src="" alt=""></div>
									<h5 class="nickname">我是昵称</h5>
								</div>
								<div class="commCon">
								<p class="star"><i style="width:50%;"></i></p>
								<div class="txtcon">床品四件套收到了，做工面料特别精致，尺寸花色彩很正，特别漂亮哦</div>
								<div class="carousel">
								<div class="thumb">
								<ul class="imgList fn-clear">
								<li><img src="https://upload.ihuoniao.cn//siteConfig/thumb/small/2020/12/15/16079972987926.png" alt=""></li>
								<li><img src="https://upload.ihuoniao.cn//siteConfig/thumb/large/2020/12/15/16079972949554.jpg" alt=""></li>
							</ul>
						</div>
						<div class="album">
						<a href="javascript:;" hidefocus="true" class="prev"></a>
						<a href="javascript:;" hidefocus="true" class="close"></a>
						<a href="javascript:;" hidefocus="true" class="next"></a>
						<div class="albumlist">
						<div class="aitem">

					</div>
				</div>
			</div>
		</div>
		<p class="pro_chose"><span class="btime">2020年11月23日 21:18</span>适用床尺寸：被套220*240 床单245*270 加枕套  颜色分类：E38-蓝色</p>
	</div>
</li> -->
</ul>
<div class="pagination fn-clear"></div>
</div>
</div>
</div>

				</div>
			</div>
		</div>
	</div>

</div>



<div class="ensure wrap">
  <ul class="fn-clear">
    <li class="fn-clear">
      <div class="img"><img src="https://ihuoniao.cn/templates/shop/skin2/images/icon_01.png" alt=""></div>
      <h2>官方自营</h2>
      <p>商城全场商品均为自营</p>
    </li>
    <li class="fn-clear">
      <div class="img"><img src="https://ihuoniao.cn/templates/shop/skin2/images/icon_02.png" alt=""></div>
      <h2>正品承诺</h2>
      <p>厂家直供，保证质量</p>
    </li>
    <li class="fn-clear">
      <div class="img"><img src="https://ihuoniao.cn/templates/shop/skin2/images/icon_03.png" alt=""></div>
      <h2>极速物流</h2>
      <p>顺丰速运，次日即可送达</p>
    </li>
    <li class="fn-clear">
      <div class="img"><img src="https://ihuoniao.cn/templates/shop/skin2/images/icon_04.png" alt=""></div>
      <h2>全国联保</h2>
      <p>国税发票，质保无忧</p>
    </li>
    <li class="fn-clear">
      <div class="img"><img src="https://ihuoniao.cn/templates/shop/skin2/images/icon_05.png" alt=""></div>
      <h2>门店保障</h2>
      <p>50家实体门店遍布全国</p>
    </li>
  </ul>
</div>
<div class="footer gray">
  <div class="wrap">
        <div class="friendlink">
      <h5>友情链接</h5>      
      <ul class="fn-clear">
        
        <li><a href="http://www.beibei.com/" target="_blank" title="贝贝网">贝贝网</a></li>
        
        <li><a href="https://www.m6go.com/" target="_blank" title="麦乐购">麦乐购</a></li>
        
        <li><a href="http://www.haitao.com/" target="_blank" title="海淘网">海淘网</a></li>
        
        <li><a href="http://www.feiniu.com/" target="_blank" title="飞牛网">飞牛网</a></li>
        
        <li><a href="https://global.rakuten.com/" target="_blank" title="乐天">乐天</a></li>
        
        <li><a href="https://www.windeln.com.cn/" target="_blank" title="德国W家">德国W家</a></li>
        
        <li><a href="http://mall.happigo.com/" target="_blank" title="快乐购">快乐购</a></li>
        
        <li><a href="http://www.globalscanner.com/" target="_blank" title="环球捕手">环球捕手</a></li>
        
        <li><a href="http://gouwu.360.cn/?src=gd" target="_blank" title="360购物">360购物</a></li>
        
        <li><a href="https://2.taobao.com/" target="_blank" title="闲鱼">闲鱼</a></li>
        
        <li><a href="http://www.ymatou.com/" target="_blank" title="洋码头">洋码头</a></li>
        
        <li><a href="https://shouji.suning.com/" target="_blank" title="苏宁易购">苏宁易购</a></li>
        
        <li><a href="https://www.kaola.com/" target="_blank" title="网易考拉海购">网易考拉海购</a></li>
        
        <li><a href="http://www.mogujie.com/" target="_blank" title="蘑菇街">蘑菇街</a></li>
        
        <li><a href="http://sh.jumei.com/" target="_blank" title="聚美优品">聚美优品</a></li>
        
        <li><a href="http://www.yhd.com/" target="_blank" title="一号店">一号店</a></li>
        
        <li><a href="http://www.dangdang.com/" target="_blank" title="当当网">当当网</a></li>
        
        <li><a href="https://www.amazon.cn/" target="_blank" title="亚马逊">亚马逊</a></li>
        
        <li><a href="https://jx.tmall.com/" target="_blank" title="天猫精选">天猫精选</a></li>
        
        <li><a href="https://www.jd.com/" target="_blank" title="京东">京东</a></li>
        
      </ul>
    </div>
        <div class="help fn-clear">
      <div class="helplist">
        <dl>
          <dt>关于我们</dt>     
          
          <dd><a href="https://ihuoniao.cn/about-1.html" target="_blank">网站介绍</a></dd>
          
          <dd><a href="https://ihuoniao.cn/about-2.html" target="_blank">关于我们</a></dd>
          
          <dd><a href="https://ihuoniao.cn/about-3.html" target="_blank">服务条款</a></dd>
          
          <dd><a href="https://ihuoniao.cn/about-4.html" target="_blank">广告服务</a></dd>
          
          <dd><a href="https://ihuoniao.cn/feedback.html" target="_blank">意见反馈</a></dd>     
        </dl>
        
        <dl>
          <dt>常见问题<s></s></dt>
          
          <dd><a href="https://ihuoniao.cn/help-2.html" target="_blank" title="账户类">账户类</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-3.html" target="_blank" title="购物类">购物类</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-4.html" target="_blank" title="款项类">款项类</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-5.html" target="_blank" title="配送类">配送类</a></dd>
          
        </dl>
        
        <dl>
          <dt>订单百事通<s></s></dt>
          
          <dd><a href="https://ihuoniao.cn/help-11.html" target="_blank" title="提交订单">提交订单</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-12.html" target="_blank" title="订单查询">订单查询</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-13.html" target="_blank" title="订单取消">订单取消</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-15.html" target="_blank" title="订单异常">订单异常</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-14.html" target="_blank" title="交易纠纷">交易纠纷</a></dd>
          
        </dl>
        
        <dl>
          <dt>购物指南<s></s></dt>
          
          <dd><a href="https://ihuoniao.cn/help-16.html" target="_blank" title="交易条款">交易条款</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-17.html" target="_blank" title="促销咨询">促销咨询</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-18.html" target="_blank" title="购物流程">购物流程</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-19.html" target="_blank" title="商品咨询">商品咨询</a></dd>
          
        </dl>
        
        <dl>
          <dt>支付及发票<s></s></dt>
          
          <dd><a href="https://ihuoniao.cn/help-20.html" target="_blank" title="支付流程">支付流程</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-21.html" target="_blank" title="在线支付">在线支付</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-22.html" target="_blank" title="公司转账">公司转账</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-23.html" target="_blank" title="支票支付">支票支付</a></dd>
          
        </dl>
        
        <dl>
          <dt>售后服务<s></s></dt>
          
          <dd><a href="https://ihuoniao.cn/help-24.html" target="_blank" title="售后政策（自营）">售后政策（自营）</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-25.html" target="_blank" title="售后政策（卖家）">售后政策（卖家）</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-26.html" target="_blank" title="返修/退换货申请">返修/退换货申请</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-27.html" target="_blank" title="商品返回">商品返回</a></dd>
          
          <dd><a href="https://ihuoniao.cn/help-28.html" target="_blank" title="退款说明">退款说明</a></dd>
          
        </dl>
        
      </div>
      <div class="qr">
        <div class="qr-img"><img src="https://ihuoniao.cn/include/qrcode.php?data=https://ihuoniao.cn" />移动版</div>     
        <div class="qr-img"><img src="https://upload.ihuoniao.cn//siteConfig/card/large/2021/04/26/16194043459817.jpg" />微信公众号</div>     
      </div>
    </div>
    <div class="copyright"><p style="text-align: center;">本站非实际运营网站，所载全部信息内容均仅作为软件系统功能测试之用，切勿当真！若有侵权，请即时联系：<a href="tel:0512-67581578" textvalue="0512-67581578">0512-67581578</a><br/>版权所有 © 2018 苏州酷曼软件技术有限公司. All rights reserved.&nbsp; <a href="https://www.kumanyun.com/terms.html" target="_blank">使用协议</a></p><p style="text-align: center;"><a href="http://beian.miit.gov.cn" target="_blank">苏ICP备13047463号</a></p></div>
    <div class="statisticscode"><script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?595dbdda36d0783ce6ff61a56e901635";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script></div>
  </div>
</div>

<style>
  .login_tip {padding: 6px 5px;border: 1px solid #edd28b;background: #fffdee;text-align: center;}
  .login_tip span{vertical-align: middle;}
  .login_tip a{display: inline-block;height: 20px;line-height: 20px;padding: 0 5px;margin-left: 5px;color: #fff;vertical-align: middle;background: #FF3451;}
</style>
<div class="right_side">
  <div class="floatnav">
    <div class="topcart">
      <a href="javascript:;" class="cart-btn"><span class="icon"></span><i>0</i>购物车
        <!--<s><em></em></s>-->
      </a>
      <div class="cart-con">
        <!--<div class="spacer"></div>-->
        <p class="empty">购物车中还没有商品，赶紧选购吧！</p>
        <div class="cartlist"><ul></ul><div class="cartft fn-clear">共<em></em>件商品 总计：<span class="pric">¥<strong>0.00</strong></span> <small>(不含运费)</small><a href="https://ihuoniao.cn/sz/shop/cart.html" class="cartbtn">去购物车结算</a></div></div>
      </div>
    </div>

    <div class="sc"><a target="_blank" href="https://ihuoniao.cn/u/collect-shop.html"></a><div class="scdex">我的收藏</div></div>

    <div class="showQuan" title="优惠券"><i></i></div>
    <div class="code">
      <i></i>
      <p>手机购物</p>
    </div>
    <div class="qrcode" id="qrcode">
        <s></s>
        <p><a href="https://ihuoniao.cn/mobile.html" target="_blank"><img src="https://ihuoniao.cn/include/qrcode.php?data=https://ihuoniao.cn" width="150" height="150" /></a></p>
    </div>

    <div class="gotop">
      <a href="#top"><i></i></a>
    </div>

  </div>
  <div class="right_con">
    <div class="cartbox">
      <div class="toptit">
        <h3>购物车</h3>
        <a href="javascript:;" class="close_right"></a>
      </div>
      <p class="empty">购物车中还没有商品，赶紧选购吧！</p>
      <div class="cartlist">
        <ul></ul>
        <div class="cartft fn-clear">共<em></em>件商品 总计：<span class="pric">¥<strong>0.00</strong></span> <small>(不含运费)</small><a href="https://ihuoniao.cn/sz/shop/cart.html" class="cartbtn">去购物车结算</a></div>
      </div>
    </div>
    <div class="quanbox">

      <div class="toptit">
        <h3>优惠券</h3>
        <a href="javascript:;" class="close_right"></a>
      </div>
             <div class="quan-list">
        <!-- 本店可用 -->
                  <dl class="forPro_quan">
            <dt><s class="line l_line"><em></em></s><span>本品可用券</span><s class="line r_line"><em></em></s></dt>

                                    <div class="noQuan">
              <s></s>
              还没有可用优惠券哦
            </div>
                      </dl>
                  <dl class="allHas_quan">
            <dt><s class="line l_line"><em></em></s><span>已领取的券</span><s class="line r_line"><em></em></s></dt>
            
                        <div class="noQuan">
              <s></s>
              还没有可用优惠券哦
            </div>
            <a href="https://ihuoniao.cn/sz/shop/getQuan.html" class="toQuan_btn">前往领券中心</a>
                      </dl>
      </div>
          </div>
  </div>
</div>



<!--<div class="btntop">-->
  <!--<a href="javascript:;" class="top" title="返回顶部">返回顶部</a>-->
  <!--<a href="javascript:;" class="close" title="关闭">关闭</a>-->
<!--</div>-->

<script type='text/javascript' src='https://ihuoniao.cn/include/json.php?action=lang'></script>
<script type="text/javascript" src="https://ihuoniao.cn/static/js/common.js?v=1632885997"></script>
<script type="text/javascript" src="https://ihuoniao.cn/static/js/ui/jquery.scroll.loading.js"></script>
<script type='text/javascript' src='https://ihuoniao.cn/static/js/ui/jquery.ajaxFileUpload.js?v=1632885997'></script>
<script type="text/javascript" src="https://ihuoniao.cn/templates/shop/skin2/js/public.js?v=1632885997"></script>

<div class="quandalog">
	<div class="quanbox">
		<span class="closebtn"></span>
		<h2>可领取优惠券 <span>共4张</span></h2>
		<ul class="quancon">
			<li><a href="#" class="fn-clear">
				<div class="img">
					<p class="price"><e>¥</e>300 </p>
					<p class="contact">满4999可用</p>
				</div>
				<div class="info">
					<p class="name">店铺优惠券</p>
					<p class="zhu">全店商品通用</p>
					<div class="count">已抢 60%</div>
					<div class="progress">
						<b style="width:60%"></b>
					</div>
					<span class="btn">立即领取</span>
				</div>
			</a></li>
			<li><a href="#" class="fn-clear">
				<div class="img">
					<p class="price"><e>¥</e>300 </p>
					<p class="contact">满4999可用</p>
				</div>
				<div class="info">
					<p class="name">店铺优惠券</p>
					<p class="zhu">全店商品通用</p>
					<div class="count">已抢 60%</div>
					<div class="progress">
						<b style="width:60%"></b>
					</div>
					<span class="btn curr">立即领取</span>
				</div>
			</a></li>
			<li><a href="#" class="fn-clear">
				<div class="img">
					<p class="price"><e>¥</e>300 </p>
					<p class="contact">满4999可用</p>
				</div>
				<div class="info">
					<p class="name">店铺优惠券</p>
					<p class="zhu">全店商品通用</p>
					<div class="count">已抢 60%</div>
					<div class="progress">
						<b style="width:60%"></b>
					</div>
					<span class="btn">立即领取</span>
				</div>
			</a></li>
			<li><a href="#" class="fn-clear">
				<div class="img">
					<p class="price"><e>¥</e>300 </p>
					<p class="contact">满4999可用</p>
				</div>
				<div class="info">
					<p class="name">店铺优惠券</p>
					<p class="zhu">全店商品通用</p>
					<div class="count">已抢 60%</div>
					<div class="progress">
						<b style="width:60%"></b>
					</div>
					<span class="btn">立即领取</span>
				</div>
			</a></li>

		</ul>
	</div>
	<div class="bg"></div>
</div>

<script type="text/javascript" src="https://ihuoniao.cn/static/js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="https://ihuoniao.cn/static/js/ui/jquery.imagezoom.min.js"></script>
<!--[if lte IE 9]>
<script src="https://ihuoniao.cn/static/js/ui/requestAnimationFrame.js"></script>
<![endif]-->
<script type="text/javascript" src="https://ihuoniao.cn/static/js/ui/jquery.fly.min.js"></script>

<script type="text/javascript" src="https://ihuoniao.cn/templates/shop/skin2/js/goodsD.js?v=1632885997"></script>
</body>
</html>
<script>var cfg_currency = {"name":"\u4eba\u6c11\u5e01","short":"\u5143","symbol":"\u00a5","code":"RMB","rate":"1","areaname":"\u5e73\u65b9\u7c73","areasymbol":"\u33a1"};</script><!-- Processed in page load 0.202123 second(s), 507 queries ,0.066426 second(s) -->