<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={#$cfg_soft_lang#}">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta charset="UTF-8">
    <title>{#$detail_title#}-{#$shop_title#}</title>
    <meta name="keywords" content="{#$shop_keywords#}"/>
    <meta name="description" content="{#$shop_description#}"/>
    <link rel="shortcut icon" href="{#$cfg_basehost#}/favicon.ico?v={#$cfg_staticVersion#}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/public.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/store_top.css?v={#$cfg_staticVersion#}" media="all" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/storeD.css?v={#$cfg_staticVersion#}" media="all" />
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$shop_channelDomain#}';
        var storeid = {#$detail_id#};
        var id = {#$detail_id#};
        var imconfig = {
        	chatid :'{#$detail_userid#}',
        }

        

    </script>
</head>

<body class="w1200">
<!--头部 s-->
{#include file="store_top.html"#}
<!--头部 e-->

<!--广告轮播 s-->
{#if $detail_pics && ($pid == 0 && $all != '1')#}
<div class="adbox" id="adbox">
    <div class="wrap">
    <div class=" slideBox" id="slideBox">
        <div class="wrap">
            <div class="hd">
                <ul></ul>
            </div>
        </div>
        <div class="bd">
            <ul>
                {#foreach from=$detail_pics key=k item=i#}
                <li class="fn-clear">
                    <div class="item">
                        <a href="#"><img src="{#$i.path#}"></a>
                    </div>
                </li>
                {#/foreach#}
            </ul>
        </div>
    </div>
    </div>
</div>
{#/if#}
<!--广告轮播 e-->

<div class="contain {#if $pid != 0 || $all == '1'#}allbox{#/if#}" id="contain" data-type="{#$all#}">
    <div class="wrap fn-clear">
      {#if $pid==0 && $all != '1'#}
        <div class="storeD_left">
          <div class="store_info infobox">
            <div class="logobox">
                <img src="{#$detail_logo#}" alt="{#$detail_title#}" title="{#$detail_title#}">
                <h4>{#$detail_title#}</h4>
                <p>{#if $detail_certifyState#}<span class="zhizhao"></span>{#/if#} <span class="bzj"></span><span class="zlpay"></span></p>
            </div>
            <div class="sjInfo">
  						<span><font class="left">{#$langData['siteConfig'][19][642]#}：</font><em>{#$detail_people#}</em></span>
  						<span><font class="left">电   话：</font><em>{#$detail_tel#}</em></span>
  						<span><font class="left">地   址：</font><em>{#$detail_addr[0]#} {#$detail_addr[1]#} {#$detail_address#}</em></span>
  						<span><font class="left">经   营：</font><em>{#$detail_project#}</em></span>
  					</div>
            <div class="btns_group">
				<a href="javascript:;" class="chat_to-Link contact"><s></s>联系商家</a>
				{#if $detail_collect != 1#}
				<a href="javascript:;" class="gz"><s></s>关注店铺</a>
				{#else#}
				<a href="javascript:;" class="gz has"><s></s>已关注</a>
				{#/if#}
  			</div>
          </div>
          <div class="infobox store_search">
            <h3 class="box_title">店铺内搜索</h3>
            <div class="storeSeaarch">
                <input class="search" id="keywords" type="text" placeholder="{#$langData['shop'][2][10]#}" value="{#if $keywords != ""#}{#$keywords#}{#else#}{#/if#}" />
              <input class="price" type="text" id="price1" value="{#$price[0]#}" placeholder="最低价" /> <em>-</em> <input class="price" type="text" id="price2"  placeholder="最高价" value="{#$price[1]#}" />
              <a href="javascript:;" id="search">{#$langData['siteConfig'][6][109]#}</a>

            </div>
          </div>
          <div class="infobox">
            <h3 class="box_title">商品分类</h3>
            <div class="storeCategory">
              <ul>
                  {#loop service='shop' action="category" store={#$detail_id#}#}
                  <li>
                    <i class="icon_category {#if $pid == $row.id#} on{#/if#}"></i>
                    <a class="partype {#if $pid == $row.id#} on{#/if#}" data-id="{#$row.id#}" href="{#getUrlPath service='shop' template='store-detail' id={#$detail_id#} typeid={#$row.id#}#}">{#$row.typename#}</a>
                    <div class="sub_category" {#if $pid == $row.id#}style="display:block;"{#else#}style="display:none;"{#/if#}>
					          {#loop service='shop' action="category" type=$row.id store={#$detail_id#} return=row2#}
                        <a data-id="{#$row2.id#}" href="{#getUrlPath service='shop' template='store-detail' id={#$detail_id#} typeid={#$row.id#}#}">{#$row2.typename#}</a>
					          {#/loop#}
                    </div>
                  </li>
                  {#/loop#}
              </ul>
            </div>
          </div>
        </div>
      {#/if#}
        <div class="right">
          <!-- 直播s -->
          <div class="livebox fn-clear fn-hide">
            <div class="live_info left">
              <div class="leftimg"><s class="zan"></s></div>
              <div class="live_txt">
                <div class="live_state"><ul class="music">
                  <li class="m1"></li>
                  <li class="m2"></li>
                  <li class="m3"></li>
                </ul>直播中</div>
                <h2>新街口街头表演看的新街口街头表演看的</h2>
                <a href="javascript:;" class="btn_toLive">立即观看</a>
              </div>
            </div>
            <div class="right_info right">
              <div class="live_pro">
                <div class="proimg">
                  <img src="" alt="">
                </div>
                <div class="pro_info">
                  <span><s></s>主播力荐商品</span>
                  <h4>新街口街头表演看的新街口街头表演看的</h4>
                  <p class="price">{#echoCurrency type="symbol"#}480.05</p>
                </div>
              </div>
              <div class="liveAll">
                <p>30<br/>宝贝</p>
              </div>
            </div>
          </div>
          <!-- 直播e -->

			<!--shoyPage-->
            <div class="shouypage {#if $pid == 0 && $all != '1' #}show{#/if#}">
                <div class="tjbox indexBox">
                  <h3><span>限量特价<em></em></span></h3>
                  <ul class="list fn-clear" id="limitbuy">
                  </ul>
                </div>


                <div class="bkbox indexBox ">
                  <h3><span>店铺爆款<em></em></span></h3>
                  <ul class="list fn-clear" id="hotbuy">
                  </ul>
                </div>


                <div class="dzbox indexBox">
                  <h3><span>店长推荐<em></em></span></h3>
                  <ul class="list fn-clear" id="recbuy">
                  </ul>
                </div>
            </div>

			<div class="shopcon allgoods {#if $pid != 0 || $all == '1'#}show{#/if#}">
          <!-- 分类s -->
          <div class="flBox fn-clear">
            <label class="left">分类</label>
            <div class="fenlei">
              	{#loop service='shop' action="category" store={#$detail_id#} type={#$pid#} return="childlist"#}
                <a href="{#getUrlPath service='shop' template='store-detail' id={#$detail_id#} typeid={#$childlist.id#}#}" class="ycate {#if $typeid == $childlist.id#}on{#/if#}">{#$childlist.typename#}</a>
                {#/loop#}
            </div>
          </div>
          <!-- 分类e -->
          <h3 class="spro_box">
              <ul class="choose-tab">
                  <li data-type="orderbyType" class="orderby active" data-id="1"><a href="javascript:;"><i><span>销量</span></i></a></li>
                  <li data-type="orderbyType" class="orderby" data-id="3"><a href="javascript:;"><i><span>价格</span></i></a></li>
                  <li class="style1" data-id="5"><a href="javascript:;"><i><span>新品</span></i></a></li>
              </ul>

              <div class="codi">
                  <!--<input class="left search" id="keywords" type="text" onblur="if(value==''){value='{#$langData['shop'][2][10]#}'}" onfocus="if(value=='{#$langData['shop'][2][10]#}'){value=''}" value="{#if $keywords != ""#}{#$keywords#}{#else#}{#$langData['shop'][2][10]#}{#/if#}" />-->
                  <input type="text" id="price3" value="{#$price[0]#}" placeholder="最低价" /><em>-</em><input type="text" id="price4" value="{#$price[1]#}" placeholder="最高价"  />
                  <input type="text" name="keywords" id="searchPro"  value="" placeholder="搜索店铺内商品">
                  <a href="javascript:;" id="searchbtn">确定</a>
              </div>

              <!-- <div class="r" id="bar-area">
                  <div class="pagination">
                  </div>
              </div> -->

          </h3>
				<div class="list-box" id="mod-item">
					<ul class="list fn-clear" id="maincontent">
					</ul>
          <div class="pagination fn-clear"><div class="pagination-pages"></div></div>
				</div>

			</div>
        </div>

    </div>
</div>

<!--底部 s-->
{#include file="bottom.html"#}
<!--底部 e-->
<!--{#getUrlPath service='shop' template='store-category' id={#$detail_id#}#}-->
<script>
    var pageUrl = '{#getUrlPath service="shop" template="store-detail" id={#$detail_id#} typeid={#$typeid#}#}';
    var atpage = 1,
        pageSize = 20,
        totalCount = 0,
        tid = '{#$typeid#}',
        typeid = "{#$pid#}",
        keywords = '{#$keywords#}';
</script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.SuperSlide.2.1.1.js"></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/common.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/storeD.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>
