body{background-color: #F2F7FF !important; min-height: 100vh;}
.partOne{background-color: #fff; min-height: 800px; border-radius: 0 0 16px 16px;}
.dealHeaderCon{margin: 0 30px; border-bottom: solid 1px #F2F3F5; padding: 20px 0 20px;}
.disflex{display: flex;}
.a-c{align-items: center;}
.j-c{justify-content: center;}
.dealHeaderCon .title .lab{padding: 0 5px; line-height: 20px; height: 20px; background: #FFA349; border-radius: 4px; color: #fff; font-size: 14px; margin-right: 6px;}
.dealHeaderCon .title .lab.zl_lab{background-color: #3275FA; color: #fff;}
.dealHeaderCon .title .lab.shixiao_lab{background-color: #B7B7B7; color: #fff;}
.dealHeaderCon .title h4{color: #1F1F33; font-size: 18px; margin-right: 10px;}
.dealHeaderCon .title .state{height: 24px; padding: 0 6px; background: #EBF3FF; border-radius: 3px; color: #3377FF; font-size: 12px;}
.dealHeaderCon .title .state.qicao{background-color: #E7F9F3; color: #00CC88;}
.dealHeaderCon .title .state.jieyue{background-color: #FFEFE9; color: #F7473E;}
.dealHeaderCon .title .state.jieyue::before{content: ''; vertical-align: middle; display: inline-block; width: 16px; height: 16px; background: url(/static/images/admin/red_tip.png) no-repeat  center/cover; margin-right: 2px;}
.dealHeaderCon .info {color: #606266; font-size: 14px; margin-bottom: 30px;}
.dealHeaderCon .info span{margin-right: 45px;}
.dealHeaderCon .btns button{width: 68px; height: 34px; background: #FFFFFF; border-radius: 4px; border: 1px solid #AFB0B3; margin-right: 6px; }
.dealHeaderCon .hetong {margin-bottom: 10px;}
.dealHeaderCon .hetong .labelText{width: 120px; line-height: 40px; height: 40px; color: #787980; font-size: 14px;  background: #F2F3F5; border: 1px solid #E8E9ED; box-sizing: border-box; padding-left: 16px; box-sizing:border-box;}
.dealHeaderCon .hetong .value{width: 250px; line-height: 40px; height: 40px; color: #222; padding-left: 19px; font-size: 14px; background: rgba(242,243,245,0); border: 1px solid #E8E9ED; box-sizing:border-box; border-left: none;}
.dealCon {padding: 0 30px;}
.tableConBox.dealCon .titlebox{justify-content: space-between;}
.dealCon .titlebox{height: 69px; box-sizing: border-box; display: flex; align-items: center;}
.dealCon .titlebox .title{color: #1F1F33; font-size: 16px; font-weight: bold; display: flex; align-items: center;}
.dealCon .titlebox .title::before{content: ''; display: inline-block;width: 4px; height: 18px; background: #3275FA; box-shadow: 2px 0px 4px 0px rgba(50,117,250,0.2); border-radius: 2px; margin-right: 9px;}
.dealCon .title .tip{font-size: 14px; font-weight: normal; opacity: .6; margin-left: 10px;}

.tableCon table{max-width: 1105px; border-collapse:collapse}
.tableCon table td{border: solid 1px #E8E9ED;}
.tableCon .title{width: 120px; height: 40px; background-color: #F2F3F5; box-sizing: border-box; padding-left: 18px;}
.tableCon .title.weight{font-weight: bold; color: #262C44;}
.tableCon .con{width: 250px; box-sizing: border-box; padding-left: 20px; padding-right: 8px;}
.tableCon .pic{width: 156px; box-sizing: border-box; padding: 8px;}
.tableCon .pic .picbox{background-color: #f5f5f5; height: 100%;}
.tableCon .con .pay_end{ height: 24px; background: #00CC88; float: right; font-size: 12px; border-radius: 4px; color: #fff; padding: 0 8px; box-sizing: border-box;}
.tableCon .con .pay_end.no_end{background-color: #F7473E;}

.conBox {padding-bottom: 50px;}
.conBox .picList::after{content: ''; clear: both; display: block;}
.conBox .pic{width: 120px; position: relative; height: 118px; float: left; margin-right: 16px; margin-bottom: 16px; background: #F2F3F5; border-radius: 4px; border: 1px solid #E8E9ED;}
.conBox .pic img{display: block; width: 100%; height: 100%; object-fit: cover;}
.conBox .pic .del{width: 24px; display: none; height: 24px; cursor: pointer; background: url(/static/images/admin/del_btn2.png) no-repeat center/cover; position: absolute; right: -10px; top: -10px;}
.conBox .pic:hover .del{display: block;}
.conBox .upload{width: 120px; height: 118px; display: flex; align-items: center;justify-content: center; flex-direction: column; float: left; background: #FFFFFF; border-radius: 4px; border: 1px dashed #D4D5D9; color: #787980; font-size: 14px; position: relative;}
.conBox .upload::before{content: '+'; display: block; font-size: 28px; color: #303133;}
.conBox .inpFile{position: absolute; width: 100%; height: 100%; opacity: 0; position: absolute; inset: 0; cursor: pointer;}
/* min-height: calc(100vh - 800px);  */
.partTow{background-color: #fff; margin-top: 16px; border-radius: 16px;}
.btmBox{height: 70px; box-sizing: border-box; padding: 17px 29px; background: #FFFFFF; box-shadow: 0px -4px 10px 0px rgba(0,34,102,0.03); border-radius: 0px 0px 16px 16px; }
.btmBox .btn_pass{width: 150px; text-decoration: none; display: block; height: 36px; background: #3377FF; border-radius: 4px; color: #fff; font-size: 14px; text-align: center; line-height: 36px;} 
.btmBox .btn_refuse{width: 114px; height: 36px; background: rgba(247,71,62,0); border-radius: 4px; border: 1px solid #F7473E; display: flex; align-items: center;justify-content: center; color: #F7473E; text-decoration: none;} 
.tablebox .tablel{width: 100%; border-collapse:collapse}
.tablebox thead{height: 40px; background: #F2F7FF; border-radius: 3px; color: #262C44; font-size: 14px; font-weight: bold;}
.tablebox table td{border-bottom: solid 1px #F2F3F5; text-align: center;}
.tablebox table td .yjblInput{border: none !important; text-align: center; background: none;}
.tablebox table td.yjbl .txtbox{position: relative;}
.tablebox table td.yjbl .txtbox .txtShow{display: inline-block; width: 40px;}
.tablebox table td.yjbl .txtbox .edit_btn{color: #3377FF; font-size: 14px; position: absolute; display: none; cursor: pointer;}
.tablebox table td.yjbl:hover .txtbox  .edit_btn{display: inline;}
.tablebox table td.yjbl .inpShow{width: 80px; display: flex; align-items: center; height: 34px; box-sizing: border-box; padding: 0 9px; background: #FFFFFF; border-radius: 3px; border: 1px solid #DDD;}
.tablebox table td.yjbl .inpShowBox:not(.hide){display: flex; column-gap: 4px;}
.tablebox table td.yjbl .inpShow input{ min-width: 0; flex-grow: 1; background-color: transparent; height: 100%;}
.tablebox table td.yjbl .btn_conmfirm{width: 54px; cursor: pointer; height: 34px; background: #3377FF; color: #fff; border-radius: 4px; opacity: 0.9; display: flex; align-items: center; justify-content: center;}
.tablebox table td.yjbl .btn_conmfirm:hover{opacity: 1;}
.tablebox table td.opt,.tablebox table th.opt{text-align: left; padding-left: 20px;}
.tablebox table td.reason,.tablebox table th.reason{text-align: left; padding-left: 20px; min-width: 20%; display: none; color: #222;}
.tablebox table td.reason.showReason,.tablebox table th.reason.showReason{display: block;}
.tablebox table td:first-of-type{display: none !important;}
.tablebox .js{width: 120px; text-align: center;}
.tablebox tbody .js{height: 50px;background-color: #408CFF; color: #fff; font-weight: bold;}
.tablebox tbody .js .shikan{cursor: pointer;}
.tablebox tbody .js .shikan i{width: 18px; height: 18px; background: rgba(242,243,245,0); border-radius: 4px; border: 1px solid rgba(255, 255, 255, 0.4); display: flex; align-items: center; justify-content: center; margin-right: 10px; margin-left: -28px;}
.tablebox tbody .js .shikan i::before{content: '';width: 8px; height: 2px; background: #FFFFFF; border-radius: 1px}
.tablebox table td.add .shikan i::after{content: '';width: 2px; height: 8px; background: #FFFFFF; border-radius: 1px; transform: translateX(-5px);}
.tablebox tbody tr{height: 50px;}
.tablebox tbody tr.disabled td.js{background-color: #B3D1FF;}
.tablebox .jjr{width: 20%; box-sizing: border-box; padding-left: 50px; text-align: left;}
.tablebox .mark {width: 20%;}
.tablebox .mark .state{ height: 24px; display: inline-block; width: fit-content; background: #EBF3FF;  border-radius: 3px; color: #3377FF; font-size: 12px; padding: 0 6px;}
.tablebox .mark .state.heshi{background-color: #E8FAF4; color: #00CC88;}
.tablebox .mark .state.bohui{background-color: #FFEFE9; color: #F7473E;}
.tablebox .refuse{color: #F7473E; font-size: 14px; margin-right: 40px;}
.tablebox .refuse.noClick{color: #606266; opacity: .4; cursor: no-drop;}
.tablebox .delP{color: #606266;}
.tablebox .jjr .lab{height: 20px; background: #F7FAFF; box-decoration-break:clone; border-radius: 4px; border: 1px solid #CED9ED; line-height: 20px; padding: 0 5px; width: fit-content; margin-top: 4px;}
.tablebox tr:first-of-type td.js{border-radius: 4px 4px 0 0;}
.tablebox tr:last-of-type td.js{border-radius: 0 0 4px 4px;}
.tablebox tr:last-of-type:first-of-type td.js{border-radius: 4px;}
.tablebox .tipConbox {display: inline-block; position: relative;}
.tablebox .tipConbox .tip_icon{width: 16px; height: 16px; display: inline-block; background:url(/static/images/admin/wh.png) no-repeat center/cover;}
.tablebox .tipConbox:hover .tipPoover{display: block;}
.tipPoover{display: none; height: 70px; width: 320px; font-weight: normal; text-align: left; word-wrap: break-all; padding: 10px; padding-left: 15px; box-sizing: border-box; background: #FFFFFF; color: #616366; font-size: 14px; transform: translateX(-100px); box-shadow: 0px 10px 20px 0px rgba(0,17,51,0.06); border-radius: 6px; border: 1px solid #EAEFF6; position: absolute;}
.tipPoover::before{content: ''; display: block; width: 8px; height: 8px; background-color: #fff; position: absolute; left: 0; top: 0; border-left: solid 1px rgba(0,17,51,0.06); border-top: solid 1px rgba(0,17,51,0.06); transform: rotate(45deg); left: 70px;  top: -4px;}
.tablebox td .statebox{display: flex; align-items: center; justify-content: center; column-gap: 12px;}
.tablebox td .more {display: block; text-indent:0;text-align: center; width:15px; height:15px;border:1px solid #999; border-radius:10px; background-image:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eee)); background-image:-webkit-linear-gradient(#fefefe, #eee); background-image:-moz-linear-gradient(#fefefe, #eee); background-image:-ms-linear-gradient(#fefefe, #eee); background-image:-o-linear-gradient(#fefefe, #eee); background-image:linear-gradient(#fefefe, #eee); visibility: hidden;}
.tablebox td .more s {display:inline-block; width:0; height:0; text-indent:0; vertical-align:middle; margin-top:-10px; border-top:4px solid #000; border-right:4px solid transparent; border-left:4px solid transparent; content:"";}
.tablebox tr:hover .more {visibility: visible;}
.tablebox .pzRead i{width: 20px; height: 20px; background: url(/static/images/admin/pz_icon.png) no-repeat center/cover; margin-right: 3px; display: block;}


/* 打款列表 */
.dkListBox table{width: 100%; border-collapse:collapse}
.dkListBox table thead th{background-color: #F2F3F5; height: 40px; font-weight: normal; text-align: left;}
.dkListBox table thead th.center,.dkListBox table td.center{text-align: center;}
.dkListBox table td{height: 52px; border-bottom: solid 1px #F2F3F5;}
.dkListBox table td .pay_lab{height: 24px; margin-left: 8px; padding: 0 8px; display: inline-block; color: #fff; font-size: 12px; background: #F7473E; border-radius: 4px;}
.dkListBox table td .pay_lab.pay_end{background-color: #00CC88;}
.dkListBox table td.pay_type,.dkListBox table td.pay_name{border: solid 1px #F2F3F5;}
.dkListBox table td.pay_amount .lab{height: 20px; padding: 0 5px; margin-right: 6px; box-sizing: border-box; line-height: 20px; display: inline-block; color: #7D8FB3; font-size: 12px; background: #F7FAFF; border-radius: 4px; border: 1px solid #CED9ED;}


.searchComp{position: relative; display: none;}
.searchComp.show{display: block;}
.searchComp button{width: 64px; height: 34px; background: #3377FF; border-radius: 4px; color: #fff; font-size: 14px; border: none;}
.searchComp button.cancel{background-color: #f2f3f5; color: #333;}
.searchComp input{width: 170px;}
.listPover{width: 400px; max-height: 350px; min-height: 200px; background: #FFFFFF; box-shadow: 0px 10px 20px 0px rgba(0,17,51,0.06); border-radius: 6px; border: 1px solid #EAEFF6; position: absolute; margin-top: 3px; right: 90px; display: none; animation: topFade 0.3s ease-in-out;}
.searchComp.show .listPover{display: block;}
.listPover .thead {background: #F2F4F7; margin: 0!important; color: #999; padding-right: 4px; }
.listPover .tr{height: 40px; }
.listPover .thead .th,.listPover .tbody .td{float: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.listPover .tbody{padding-right: 0; overflow:auto;  min-height: auto; max-height: 310px; line-height: 40px;}
.listPover .name,.listPover .cname,.listPover .phone{padding-left: 20px; box-sizing: border-box;}
.listPover .tbody .tr{cursor: pointer;}
.listPover .tbody .tr:hover{background-color: #EBF3FF; color: #3377FF;}
.listPover .name{width: 25%; }
.listPover .cname{width: 30%;}
.listPover .phone{width: 45%;}

.tablebox .noData{height: 220px; color: rgba(34,34,34,.6); text-align: center; font-size: 16px; margin-bottom: -50px; display: flex; align-items: center; justify-content: center;} 