.list td a{text-decoration:none;}
.list td a:hover .titles{color: #23A3FA;}
.tab{display: flex;padding:10px 0 10px 20px;}
.t-item{border: 1px solid #dcdfe6;height: 35px;font-size: 14px;color: #606266;display: flex;align-items: center;padding: 0 20px;cursor: pointer;text-decoration: none !important;}
.t-item.active{background-color: #23A3FA;border-color: #23A3FA;color: #FFFFFF !important;}
.t-item:hover{color: #23A3FA;}
.t-item:first-of-type{border-radius: 4px 0 0 4px;}
.t-item:last-of-type{border-radius: 0 4px 4px 0;}
.company{display: flex;}
.company .logo{width: 60px;height: 60px;border-radius: 5px;margin-right: 10px;}
.infoRight .titles{font-size: 14px;color: #606266;}
.infoRight .tags{display: flex;}
.infoRight .tags div{height: 20px;background: #F7FAFF;border-radius: 4px;border: 1px solid #CED9ED;font-size: 12px;color: #7D8FB3;display: flex;align-items: center;justify-content: center;box-sizing: border-box;margin-right: 4px;padding: 0 6px;}
.infoRight .tags .green{height: 20px;background: #F0F9EB;border-radius: 4px;border: 1px solid #E1F3D8;font-size: 12px;color: #67C23A;}