<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>安装程序 - 火鸟门户管理系统<?php echo version; ?></title>
<link rel="stylesheet" type="text/css" href="./templates/css/jquery.mCustomScrollbar.min.css"></link>
<link rel="stylesheet" type="text/css" href="./templates/css/install.css?v=2"></link>
<script>
    var https = <?php echo $https;?>, userIni = <?php echo $userIni;?>;
    if(https){
        alert("请使用http协议访问安装程序！\r\n关闭宝塔、CDN或者其他强制跳转到https的功能！\r\n\r\n关闭后如果还会自动跳转到https地址，可以尝试清除浏览器缓存，或者换个浏览器安装！");
    }
	if(userIni){
        alert("请删除网站根目录的.user.ini文件，或者在宝塔面板中修改站点，网站目录中，不勾选 【防跨站攻击(open_basedir)】！");
    }
</script>
</head>
<body>

<div class="wrap fn-clear">
	<div class="sidebar step1">
		<div class="st"><s class="s1"></s><s class="s2"></s><s class="s3"></s><s class="s4"></s><s class="s5"></s><s class="s6"></s></div>
		<ul class="step">
			<li class="s1"><s></s>用户验证</li>
			<li class="s2"><s></s>协议条款</li>
			<li class="s3"><s></s>探测环境</li>
			<li class="s4"><s></s>网站配置</li>
			<li class="s5"><s></s>在线云安装</li>
			<li class="s6"><s></s>安装成功</li>
		</ul>
		<span class="sbg"></span>
	</div>
	<div class="container">
		<h1 class="logo"><a href="<?php echo OFFICIAL;?>" target="_blank" title="火鸟门户管理系统<?php echo version; ?>"><s></s>火鸟门户</a></h1>
		<div class="step s1">
			<div class="icons"><s class="i1"></s><s class="i2"></s><s class="i3"></s><s class="i4"></s><s class="i5"></s><s class="i6"></s><s class="i7"></s><s class="i8"></s><s class="i9"></s><s class="i10"></s><s class="i11"></s></div>
			<form action="" class="login" autocomplete="off">
				<dl class="uname">
					<dt><s></s></dt>
					<dd><input type="text" id="uname" placeholder="用户名/手机/邮箱" value="<?php echo $_SESSION['uname'];?>" /><s></s></dd>
				</dl>
				<dl class="upawd">
					<dt><s></s></dt>
					<dd><input type="password" id="upawd" placeholder="请输入登录密码" value="<?php echo $_SESSION['upawd'];?>" /><s id="togglePassword" title="显示密码">显示密码</s></dd>
				</dl>
				<input type="submit" id="login" value="用户登录验证" />
			</form>
			<span class="s1_icon"></span>
			<div class="tips">
				<h3>安装提示：</h3>
				<p>1. 用户名/手机/邮箱和密码是您登录官方网站的帐号，如果您忘记密码请<a href="https://www.kumanyun.com/passport/login.html?type=resetpws" target="_blank">找回密码</a>！</p>
				<p>2. windows用户如果服务器开启了<strong>安全狗目录保护</strong>，请暂时关闭，否则会安装失败！</p>
				<p>3. 如果启用了https，请暂时关闭强制跳转，<strong>使用http协议进行安装</strong>，否则会安装失败！</p>
				<p>4. 请暂时<strong>关闭防跨站攻击</strong>，删除网站根目录的.user.ini文件，或者在宝塔面板中修改站点，网站目录中，不勾选 【防跨站攻击(open_basedir)】！</p>
				<p>5. 环境要求：PHP7.4、MySQL5.5/5.6/5.7</p>
			</div>
		</div>
	</div>
</div>
<div id="particles-js"></div>


<script id="step2" type="text/html">
	<div class="step s2">
		<div class="protocol">
			<div class="content" style="line-height: 2.4em;">
    
				<blockquote data-source-line="3" style="box-sizing: border-box; margin: 0px 0px 16px; padding: 0px 1em; color: rgb(106, 115, 125); border-left: 0.25em solid rgb(223, 226, 229); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px;">
				        版权所有 &copy;<?php echo date('Y'); ?>，苏州酷曼软件技术有限公司保留所有权利。
				    </p>
				</blockquote>
				<p data-source-line="5" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    感谢您选择火鸟门户网站管理系统（以下简称火鸟门户）。
				</p>
				<p data-source-line="7" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    希望我们的产品能为您提供一个高效、稳定和强大的地方门户网站解决方案。
				</p>
				<p data-source-line="9" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    苏州酷曼软件技术有限公司（以下简称酷曼）为火鸟门户产品的开发商，依法独立拥有火鸟门户产品著作权（中国国家版权局计算机软件著作权登记号：2014SR188202、2019SR0400477、2021SR0403652）。苏州酷曼软件技术有限公司网址为：<a href="https://www.kumanyun.com/" target="_blank" style="box-sizing: border-box; color: rgb(3, 102, 214); text-decoration-line: none;">https://www.kumanyun.com</a>。
				</p>
				<p data-source-line="11" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    用户须知：本协议是您与苏州酷曼软件技术有限公司之间关于您使用苏州酷曼软件技术有限公司提供的各种软件产品及服务的法律协议。火鸟门户著作权已在中华人民共和国国家版权局注册，著作权受到法律和国际公约保护，无论您是个人或组织、盈利与否、用途如何（包括以学习和研究为目的），均需仔细阅读本协议，包括免除或者限制酷曼责任的免责条款及对您的权利限制。请您审阅并接受或不接受本服务条款。如您不同意本服务条款及/或酷曼随时对其的修改，您应不使用或主动取消苏州酷曼软件技术有限公司提供的酷曼产品。否则，您的任何对酷曼产品中的相关服务的注册、登陆、下载、查看等使用行为将被视为您对本服务条款全部的完全接受，包括接受酷曼对服务条款随时所做的任何修改。
				</p>
				<p data-source-line="13" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    本服务条款一旦发生变更, 我们将在官网页面上公布修改内容。修改后的服务条款一旦在网站上公布即有效代替原来的服务条款。您可随时登陆酷曼官网查阅最新版服务条款。如果您选择接受本条款，即表示您同意接受协议各项条件的约束。如果您不同意本服务条款，则不能获得使用本服务的权利。您若有违反本条款规定，苏州酷曼软件技术有限公司有权随时中止或终止您对酷曼产品的使用资格并保留追究相关法律责任的权利。
				</p>
				<p data-source-line="15" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    在理解、同意、并遵守本协议的全部条款后，方可开始使用酷曼产品。您可能与苏州酷曼软件技术有限公司直接签订另一书面协议，以补充或者取代本协议的全部或者任何部分。
				</p>
				<p data-source-line="17" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    酷曼拥有本软件的全部知识产权。本软件只供许可协议，并非出售。酷曼只允许您在遵守本协议各项条款的情况下复制、下载、安装、使用或者以其他方式受益于本软件的功能或者知识产权。
				</p>
				<h3 id="i-协议许可的权利" data-source-line="19" style="box-sizing: border-box; margin-top: 24px; margin-bottom: 16px; font-size: 1.5em; line-height: 1.25; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; white-space: normal;">
				    I. 协议许可的权利
				</h3>
				<ol data-source-line="20" style="list-style: decimal; box-sizing: border-box; padding-left: 2em; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    <li style="box-sizing: border-box;">
				        您在完全遵守本许可协议的基础上，必须购买软件授权后方可正式建站使用。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        您可以在协议规定的约束和限制范围内修改酷曼产品源代码(如果被提供的话)或界面风格以适应您的网站要求。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        您拥有使用本软件构建的网站中全部会员资料、文章及相关信息的所有权，并独立承担与使用本软件构建的网站内容的审核、注意义务，确保其不侵犯任何人的合法权益，独立承担因使用酷曼软件和服务带来的全部责任，若造成苏州酷曼软件技术有限公司或用户损失的，您应予以全部赔偿。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        您在获得商业授权之后，依据所购买的授权类型中确定的技术支持期限、技术支持方式和技术支持内容，自购买时刻起，在技术支持期限内拥有通过指定的方式获得指定范围内的技术支持服务。商业授权用户享有反映和提出意见的权力，相关意见将被作为首要考虑，但没有一定被采纳的承诺或保证。
				    </li>
				</ol>
				<h3 id="ii-协议规定的约束和限制" data-source-line="25" style="box-sizing: border-box; margin-top: 24px; margin-bottom: 16px; font-size: 1.5em; line-height: 1.25; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; white-space: normal;">
				    II. 协议规定的约束和限制
				</h3>
				<ol data-source-line="26" style="list-style: decimal; box-sizing: border-box; padding-left: 2em; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    <li style="box-sizing: border-box;">
				        未获苏州酷曼软件技术有限公司商业授权之前，不得将本软件用于商业用途（包括但不限于企业网站、经营性网站、以营利为目或实现盈利的网站）。购买商业授权请登陆&nbsp;<a href="https://www.kumanyun.com/price.html" target="_blank" style="box-sizing: border-box; color: rgb(3, 102, 214); text-decoration-line: none;">https://www.kumanyun.com/price.html</a>&nbsp;参考相关说明，也可以致电0512-67581578了解详情。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        无论如何，即无论用途如何、是否经过修改或美化、修改程度如何，只要使用酷曼产品的整体或任何部分，未经书面许可，后台首页系统基本参数中的酷曼产品名称和苏州酷曼软件技术有限公司下属网站（&nbsp;<a href="https://www.kumanyun.com/" target="_blank" style="box-sizing: border-box; color: rgb(3, 102, 214); text-decoration-line: none;">https://www.kumanyun.com</a>、<a href="https://help.kumanyun.com/" target="_blank" style="box-sizing: border-box; color: rgb(3, 102, 214); text-decoration-line: none;">https://help.kumanyun.com</a>&nbsp;或&nbsp;<a href="https://bbs.kumanyun.com/" target="_blank" style="box-sizing: border-box; color: rgb(3, 102, 214); text-decoration-line: none;">https://bbs.kumanyun.com</a>） 的链接都必须保留，而不能清除或修改，除非您获得苏州酷曼软件技术有限公司授权许可。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        禁止在酷曼产品的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于重新分发。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        如果您未能遵守本协议的条款，您的授权将被终止，所许可的权利将被收回，同时您应承担相应法律责任。
				    </li>
				</ol>
				<h3 id="iii-有限担保和免责声明" data-source-line="32" style="box-sizing: border-box; margin-top: 24px; margin-bottom: 16px; font-size: 1.5em; line-height: 1.25; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; white-space: normal;">
				    III. 有限担保和免责声明
				</h3>
				<ol data-source-line="33" style="list-style: decimal; box-sizing: border-box; padding-left: 2em; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    <li style="box-sizing: border-box;">
				        本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        用户出于自愿而使用本软件，您必须了解使用本软件的风险，在尚未购买产品技术服务之前，我们不承诺提供任何形式的技术支持、使用担保，也不承担任何因使用本软件而产生问题的相关责任。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        苏州酷曼软件技术有限公司不对使用本软件构建的网站中的内容信息承担责任，全部责任由您自行承担。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        苏州酷曼软件技术有限公司对酷曼提供的软件和服务之及时性、安全性、准确性不作担保，由于不可抗力因素、苏州酷曼软件技术有限公司无法控制的因素（包括黑客攻击、停断电等）等造成软件使用和服务中止或终止，而给您造成损失的，您同意放弃追究苏州酷曼软件技术有限公司责任的全部权利。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        苏州酷曼软件技术有限公司特别提请您注意，苏州酷曼软件技术有限公司为了保障公司业务发展和调整的自主权，苏州酷曼软件技术有限公司拥有随时经或未经事先通知而修改服务内容、中止或终止部分或全部软件使用和服务的权利，修改会公布于苏州酷曼软件技术有限公司网站相关页面上，一经公布视为通知。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        苏州酷曼软件技术有限公司行使修改或中止、终止部分或全部软件使用和服务的权利而造成损失的，苏州酷曼软件技术有限公司不需对您或任何第三方负责。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        有关酷曼产品最终用户授权协议、商业授权与技术服务的详细内容，均由苏州酷曼软件技术有限公司独家提供。苏州酷曼软件技术有限公司拥有在不事先通知的情况下，修改授权协议和服务价目表的权利，修改后的协议或价目表对自改变之日起的新授权用户生效。
				    </li>
				    <li style="box-sizing: border-box; margin-top: 0.25em;">
				        一旦您开始安装酷曼产品，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权利的同时，受到相关的约束和限制。协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。
				    </li>
				</ol>
				<hr style="box-sizing: content-box; height: 0.25em; margin: 24px 0px; background: rgb(225, 228, 232); border-width: 0px; border-style: initial; border-top-color: initial; border-right-color: initial; border-left-color: initial; border-image: initial; border-bottom-color: rgb(238, 238, 238); padding: 0px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;"/>
				<p data-source-line="45" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    本许可协议条款的解释，效力及纠纷的解决，适用于中华人民共和国大陆法律。
				</p>
				<p data-source-line="47" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    苏州酷曼软件技术有限公司拥有对以上各项条款内容的最终解释权及修改权。
				</p>
				<p data-source-line="50" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    （正文完）
				</p>
				<h2 id="相关法律" data-source-line="54" style="box-sizing: border-box; margin-top: 24px; margin-bottom: 16px; font-size: 1.75em; line-height: 1.25; padding-bottom: 0.3em; border-bottom: 1px solid rgb(234, 236, 239); color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; white-space: normal; background: none; padding-left: 0;">
				    相关法律
				</h2>
				<p data-source-line="56" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    <a href="http://www.gov.cn/gongbao/content/2013/content_2339471.htm" target="_blank" style="box-sizing: border-box; color: rgb(3, 102, 214); text-decoration-line: none;">《计算机软件保护条例》</a>
				</p>
				<p data-source-line="58" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, 微软雅黑, &quot;PingFang SC&quot;, Helvetica, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, SimSun, 宋体, Heiti, 黑体, sans-serif; font-size: 16px; white-space: normal;">
				    <a href="http://www.ncac.gov.cn/chinacopyright/contents/12230/353795.shtml" target="_blank" style="box-sizing: border-box; color: rgb(3, 102, 214); text-decoration-line: none;">《中华人民共和国著作权法》</a>
				</p>
				<p>
				    <br/>
				</p>
			</div>
			<a class="go-btn" href="javascript:;">同意</a>
		</div>
		<span class="s2_icon"></span>
	</div>
</script>

<script id="step3" type="text/html">
	<div class="step s3">
		<div class="server">
			<h3>服务器信息：</h3>
			<dl class="fn-clear"><dt>服务器域名：</dt><dd><?php echo $sp_name;?></dd></dl>
			<dl class="fn-clear"><dt>服务器操作系统：</dt><dd><?php echo $sp_os;?></dd></dl>
			<dl class="fn-clear"><dt>服务器解译引擎：</dt><dd><?php echo $sp_server;?></dd></dl>
			<dl class="fn-clear"><dt>PHP版本：</dt><dd><?php echo $phpv;?></dd></dl>
			<dl class="fn-clear"><dt>系统安装目录：</dt><dd><?php echo $installDir;?></dd></dl>
			<h3>组件检测：</h3>
			<dl class="fn-clear inline">
				<dt>&nbsp;</dt>
				<dd class="fn-clear">
					<label>allow_url_fopen<?php echo $sp_allow_url_fopen;?></label>
					<label>GD<?php echo $sp_gd;?></label>
					<label>CURL<?php echo $sp_curl;?></label>
					<label>ZipArchive<?php echo $sp_zip;?></label>
					<label>MYSQL<?php echo $sp_mysql;?></label>
					<label><?php echo $sp_huoniao;?></label>
				</dd>
			</dl>
			<h3>目录权限：</h3>
			<?php
			foreach($sp_testdirs as $d){
			?>
			<dl class="fn-clear inline">
				<dt>&nbsp;</dt>
				<dd>
					<label>
					<?php
						$fulld = $installDir.str_replace('/*','',$d);
						if(strstr($fulld, ".php")){
							if(is_writable($fulld)){
								echo '<s></s>';
							}else{
								$isNext = false;
								echo '<s class="err"></s>';
							}
						}else{
							if(is_readable($fulld) && testWrite($fulld)){
								echo '<s></s>';
							}else{
								$isNext = false;
								echo '<s class="err"></s>';
							}
						}
					?>
					<?php echo $d; ?></label>
				</dd>
			</dl>
			<?php
			}
			?>
		</div>
		<?php
			if($isNext){
		?>
		<a class="go-btn" href="javascript:;">继续</a>
		<?php
			}
		?>
		<span class="s3_icon"></span>
	</div>
</script>

<script id="step4" type="text/html">
	<div class="step s4">
		<h3>选择要安装的模块：<small><a href="javascript:;" id="selectAll">全选</a><a href="javascript:;" id="reloadModule">刷新</a></small></h3>
		<ul class="modules fn-clear">
			<li class="load">获取中...</li>
		</ul>
		<h3>数据库配置信息：</h3>
		<ul class="forms fn-clear">
			<li><label><span>主机地址：</span><input type="text" id="dbhost" autocomplete="off" value="localhost" /></label></li>
			<li><label><span>数据库名称：</span><input type="text" id="dbname" autocomplete="off" /></label></li>
			<li><label><span>数据库用户：</span><input type="text" id="dbuser" autocomplete="off" /></label></li>
			<li><label><span>数据库密码：</span><input type="text" id="dbpwd" autocomplete="off" /></label></li>
			<li><label><span>数据表前缀：</span><input type="text" id="dbprefix" autocomplete="off" value="hn_" /></label></li>
		</ul>
		<h3>配置管理员信息：</h3>
		<ul class="forms fn-clear">
			<li><label><span>管理帐户：</span><input type="text" id="adminuser" autocomplete="off" value="admin" /></label></li>
			<li><label><span>管理密码：</span><input type="text" id="adminpwd" autocomplete="off" /></label></li>
		</ul>
		<a class="go-btn" href="javascript:;">继续</a>
		<span class="s4_icon"></span>
	</div>
</script>

<script id="step5" type="text/html">
	<div class="step s5">
		<div class="process"><s></s></div>
		<span class="s5_icon"></span>
	</div>
</script>

<script id="step6" type="text/html">
	<div class="step s6">
		<div class="head">
			<div class="p1"></div>
			<div class="p2"></div>
			<div class="p3"></div>
			<div class="t1">系统安装完成！</div>
			<a class="t2" href="http://<?php echo HTTPHOST;?>" target="_blank">首页体验</a>
			<a class="t3" href="http://<?php echo HTTPHOST;?>/admin" target="_blank">后台管理</a>
		</div>
		<div class="foot">
			<p>网站前台地址：<a href="http://<?php echo HTTPHOST;?>" target="_blank">http://<?php echo HTTPHOST;?></a></p>
			<p>网站后台地址：<a href="http://<?php echo HTTPHOST;?>/admin" target="_blank">http://<?php echo HTTPHOST;?>/admin</a></p>
			<p>后台管理账户：<font id="adminuser"></font><span class="split"></span>管理密码：<font id="adminpwd"></font></p>
		</div>
		<span class="s6_icon"></span>
	</div>
</script>

<script type="text/javascript" src="./templates/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="./templates/js/particles.min.js"></script>
<script type="text/javascript" src="./templates/js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="./templates/js/jquery.toggle-password.min.js"></script>
<script type="text/javascript" src="./templates/js/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="./templates/js/install.js?v=6"></script>
</body>
</html>
