.Shell{background-color: #F5F7FA;display: flex;}
.boxContent{display: flex;flex-direction: column;width: 100%;padding: 20px 20px 0;box-sizing: border-box;}
.b-main{border-radius: 10px;background: #FFFFFF;flex: 1;padding: 0 20px 40px;}
.b-copyright{font-size: 13px;color: #999999;flex-shrink: 0;height: 70px;display: flex;align-items: center;justify-content: center;}
.bm-nav{height: 86px;display: flex;align-items: center;justify-content: space-between;}
.bmn-left{display: flex;gap: 50px;}
.bmnl-item{display: flex;align-items: center;position: relative;cursor: pointer;}
.bmnl-item::after{content: '';height: 5px;background: #3377FF;border-radius: 3px;position: absolute;bottom: -12px;left: 50%;transform: translateX(-50%);transition: width .3s;width: 0;}
.bmnl-item .text{font-weight: bold;font-size: 18px;color: #333333;opacity: .4;}
.bmnl-item:hover .text{opacity: 1;}
.bmnl-item.active .text{opacity: 1;}
.bmnl-item.active::after{width: 30px;}
.bmnl-item .statistic{background: #FF4F38;border-radius: 10px;font-size: 14px;color: #FFFFFF;padding: 0px 6px;height: 20px;margin-left: 4px;}
.bmn-right{display: flex;gap: 10px;}
.bmn-right .newReport{width: 188px;height: 42px;}
.bmnr-phone{width: 228px;height: 42px;}
.bmnrp-icon{width: 24px;height: 24px;cursor: pointer;}
.bmnr-add{width: 120px;height: 42px;background: #266EFF;border-radius: 6px;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bmnr-add:hover{opacity: .9;}
.bmnr-add img{width: 20px;height: 20px;margin-right: 4px;}
.bmnr-add span{font-size: 14px;color: #FFFFFF;}
.bmnr-create{padding: 30px 30px 50px;box-sizing: border-box;}
.bmnr-create .create{height: 153px;background: #F6F8FB;border-radius: 8px;display: flex;align-items: center;justify-content: center;flex-direction: column;cursor: pointer;}
.bmnr-create .create img{filter: invert(50%) sepia(95%) saturate(5524%) hue-rotate(214deg) brightness(103%) contrast(104%);width: 24px;height: 24px;}
.bmnr-create .create span{font-weight: 400;font-size: 15px;color: #266EFF;margin-top: 12px;}
.bmnr-create .link .tip{height: 60px;font-size: 13px;color: #5C5E66;opacity: 0.6;display: flex;align-items: center;}
.bmnr-create .link .copy{display: flex;align-items: center;cursor: pointer;}
.bmnr-create .link .copy:hover{opacity: .9;}
.bmnr-create .link .copy .show{height: 44px;background: #FFFFFF;border-radius: 6px;border: 1px solid #EBEBEB;font-size: 14px;color: #212121;display: flex;align-items: center;padding-left: 14px;flex-grow: 1;margin-right: 12px;white-space: nowrap;overflow-x: auto;}
.bmnr-create .link .copy .show::-webkit-scrollbar{display: none;}
.bmnr-create .link .copy .btn{width: 110px;height: 44px;background: #266EFF;border-radius: 6px;font-size: 14px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;flex-shrink: 0;}
.bm-header{height: 44px;background-color: #F7F9FC !important;border: none !important;}
.bm-cell{height: 80px;}
.bm-header:first-child{border-radius: 6px 0 0px 6px;}
.bm-header:last-child{border-radius: 0 6px 6px 0;}
.bmti-head{font-size: 13px;color: #8D93A6;}
.bmti-name{display: flex;align-items: center;position: relative;}
.bmti-name img{width: 52px;height: 52px;border-radius: 50%;}
.bmti-name span{font-size: 16px;color: #17171A;margin-left: 10px;}
.bmti-name .label{background: #266EFF;border-radius: 4px;font-size: 12px;color: #FFFFFF;padding:0px 4px;position: absolute;bottom: -10px;left: 10px;}
.bmti-name.invalid img{opacity: .5;}
.bmti-phone.invalid img{opacity: .5;}
.bmti-phone.invalid span{color: #B6B8BF;}
.bmti-duty.invalid{color: #B6B8BF;}
.bmti-statics.invalid{color: #B6B8BF;}
.bmti-brokerage{color: #17171A;font-size: 15px;font-weight: bold;}
.bmti-phone{display: flex;align-items: center;}
.bmti-phone img{width: 18px;height: 18px;}
.bmti-phone span{font-size: 14px;color: #5C5E66;}
.bmti-statics{font-size: 14px;color: #5C5E66;}
.bmti-status{height: 22px;background: rgba(8, 182, 255, .1);border-radius: 11px;font-size: 13px;color: #08B6FF;display: inline-flex;align-items: center;padding: 0 10px;}
.bmti-status.stop{background: #BBC0C7;color: #FFFFFF;}
.bmti-btns{display: flex;gap: 40px;}
.bmti-btns .site{font-size: 14px;color: #3D424D;cursor: pointer;}
.bmti-btns .edit{font-size: 14px;color: #1966FF;cursor: pointer;}
.bmti-btns .switch{font-size: 14px;color: #8D93A6;cursor: pointer;}
.bmti-btns .delete{font-size: 14px;color: #8D93A6;cursor: pointer;}
.bm-pagination{margin-top: 40px;justify-content: flex-end;}
.bmti-card{display: flex;gap: 6px;}
.bmti-card span{font-size: 14px;color: #8D93A6;}
.bmti-time{font-size: 13px;color: #9598A6;}
.bmti-state{display: flex;align-items: center;justify-content: center;}
.bmti-state .wait{font-size: 12px;color: #266EFF;}
.bmti-state .success{width: 54px;height: 22px;background: rgba(8, 182, 255, .1);border-radius: 11px;display: flex;align-items: center;justify-content: center;font-size: 12px;color: #08B6FF;}
.bmti-state .fail{width: 56px;height: 22px;background: #BBC0C7;border-radius: 11px;font-size: 13px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;}
.bmti-operate{display: flex;gap: 15px;}
.bmti-operate .success{width: 80px;height: 36px;background: #266EFF;border-radius: 6px;display: flex;align-items: center;justify-content: center;font-size: 14px;color: #FFFFFF;cursor: pointer;}
.bmti-operate .fail{width: 80px;height: 36px;background: #FFFFFF;border-radius: 6px;border: 1px solid #C2C4CC;font-size: 14px;color: #8D93A6;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bm-form{padding: 0;transition: height .2s;overflow: hidden;}
.bmf-header{height: 54px;display: flex;align-items: center;justify-content: space-between;padding: 0 20px;border-bottom: 1px solid #EEEEEE;}
.bmf-header span{font-weight: bold;font-size: 18px;color: #212226;}
.bmf-header img{width: 12px;height: 12px;cursor: pointer;}
.bmf-footer{height: 92px;display: flex;align-items: center;justify-content: flex-end;padding-right: 30px;border-top: 1px solid #EEEEEE;}
.bmf-footer div{width: 160px;height: 46px;background: #266EFF;border-radius: 6px;display: flex;align-items: center;justify-content: center;font-size: 16px;color: #FFFFFF;cursor: pointer;}
.bmf-footer div:hover{opacity: .9;}
.bmf-form .item{align-items: center;}
.bmf-form .item .inputitem{width: 320px;height: 46px;}
.bmf-form .item .uploadBtn{width: 100px;height: 100px;background: #F5F7FA;border-radius: 4px;overflow: hidden;display: flex;align-items: center;justify-content: center;}
.bmf-form .item.wxcode .uploadBtn{width: 120px;height: 120px;}
.bmf-form .item .uploadBtn img{width: 24px;height: 24px;}
.bmf-form .item .uploadTip{font-size: 12px;color: #8D93A6;margin-left: 12px;}
.bmf-form .item .hasBtn{position: relative;width: 100px;height: 100px;overflow: hidden;border-radius: 4px;}
.bmf-form .item.wxcode .hasBtn{width: 120px;height: 120px;}
.bmf-form .item .hasBtn img{object-fit: cover;display: block;width: 100%;height: 100%;}
.bmf-form .item .hasBtn span{position: absolute;height: 30px;background: rgba(0, 0, 0, .6);display: flex;align-items: center;font-size: 12px;color: #FFFFFF;justify-content: center;bottom: 0;width: 100%;}
.bmf-form .item.phone{margin-bottom: 0;}
.bmf-form .tip{font-size: 14px;color: #8D93A6;height: 50px;display: flex;align-items: center;padding-left: 140px;}
.bmf-form .tip.warn{color: #FF391F;}
.bmf-form .item.phone .selfLabel::before{content: '*';color: var(--el-color-danger);margin-right: 4px;}
.bm-pop{width: 560px;background: #FFFFFF;border-radius: 12px;}
.bmp-header{display: flex;align-items: center;justify-content: space-between;}
.bmp-header span{font-weight: bold;font-size: 18px;color: #212226;}
.bmp-header img{width: 12px;height: 12px;cursor: pointer;}
.bmp-footer{display: flex;gap: 12px;justify-content: flex-end;}
.bmp-footer .cancel{width: 120px;height: 42px;background: rgba(235,236,237,0);border-radius: 6px;border: 1px solid #EBECED;font-size: 14px;color: #666666;display: flex;align-items: center;justify-content: center;box-sizing: border-box;cursor: pointer;}
.bmp-footer .confirm{width: 120px;height: 42px;background: #FD687A;border-radius: 6px;font-size: 14px;color: #FFFFFF;display: flex;justify-content: center;align-items: center;cursor: pointer;}
/* 公共区 */
.bmti-card img,.bmti-cert img{width: 40px;height: 30px;display: block;cursor: pointer;}
.bmf-form .item.photo,.bmf-form .item.wxcode{align-items: flex-start;}
/* 插件 */
.bmn-right .newReport .el-select__wrapper{height: 42px;}
.bmf-form .el-form-item{margin-bottom: 20px;}
.bmf-form .item.phone .el-input-group__prepend{padding: 0;background-color: var(--el-fill-color-blank);width: 54px;}
.bmf-form .item.phone .el-select{margin-right: 0px;}
.bmf-form .item.phone .el-select__wrapper{box-shadow: none;padding: 0;}
.bmf-form .item.phone .el-select__placeholder{text-align: center;}
.bm-cell{padding: 0 !important;}
.bm-cell .cell{height: 100%;display: flex;align-items: center;}
.bm-cell.is-center .cell{justify-content: center;}