.Shell{background-color: #F5F7FA;display: flex;}
.boxContent{display: flex;flex-direction: column;width: 100%;padding: 20px 20px 0;box-sizing: border-box;}
.b-main{border-radius: 10px;background: #FFFFFF;flex: 1;padding: 0px 20px 40px;}
.b-copyright{font-size: 13px;color: #999999;flex-shrink: 0;height: 70px;display: flex;align-items: center;justify-content: center;}
.bm-top{display: flex;justify-content: space-between;align-items: center;height: 88px;}
.bmt-left{display: flex;gap: 46px;}
.bmt-left .item{display: flex;align-items: baseline;cursor: pointer;}
.bmt-left .item .title{font-weight: bold;font-size: 20px;color: #333333;opacity: .4;}
.bmt-left .item.active .title{opacity: 1;}
.bmt-left .item .sum{font-size: 15px;color: #6C7080;opacity: 0.4;}
.bmt-left .item.active .sum{opacity: 1;}
.bmt-right{display: flex;align-items: center;}
.bmt-right .withdraw{display: flex;align-items: center;gap: 20px;margin-left: 50px;}
.bmt-right .withdraw .number{font-size: 14px;color: #5C5E66;}
.bmt-right .withdraw .number span{font-size: 22px;color: #333333;font-weight: bold;}
.bmt-right .withdraw .btn{width: 120px;height: 42px;background: #266EFF;border-radius: 6px;font-size: 14px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bmt-right .withdraw .btn:hover{opacity: .9;}
.bmt-right .dateFilter{width: 250px;height: 42px;}
.bmt-right .searchInput{width: 228px;height: 42px;margin-left: 10px;}
.bmt-right .searchInput .searchIcon{width: 24px;height: 24px;}
.bm-header{height: 44px;background-color: #F7F9FC !important;border: none !important;}
.bm-cell{height: 80px;}
.bm-header:first-child{border-radius: 6px 0 0px 6px;}
.bm-header:last-child{border-radius: 0 6px 6px 0;}
.bmti-head{font-size: 13px;color: #8D93A6;}
.bmt-select{display: none;}
.bm-select{display: flex;align-items: center;font-size: 14px;color: #1966FF;gap: 16px;padding-left: 12px;height: 80px;}
.bms-select{font-size: 14px;color: #5C5E66;}
.bms-select span{color: #1966FF;}
.bms-export{cursor: pointer;}
.bm-cell .withdraw{width: 72px;height: 36px;background: #266EFF;border-radius: 6px;font-size: 14px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bm-cell .withdraw:hover{opacity: .9;}
.bm-cell .audit,.bm-cell .success{display: flex;align-items: center;justify-content: center;}
.bm-cell .audit img,.bm-cell .success img{width: 20px;height: 20px;}
.bm-cell .audit span{font-size: 14px;color: #FF4C58;margin-left: 4px;}
.bm-cell .success span{font-size: 14px;color: #1966FF;margin-left: 4px;}
.bm-pagination{margin-top: 40px;justify-content: flex-end;}
.bm-pop{width: 440px;height: 200px;border-radius: 16px;display: flex;flex-direction: column;justify-content: center;}
.bmp-btns{display: flex;gap: 12px;justify-content: center;margin-top: 10px;}
.bmp-btns .cancel{width: 140px;height: 42px;background: rgba(242,242,242,0);border-radius: 6px;border: 1px solid #EBECED;display: flex;align-items: center;justify-content: center;font-size: 14px;color: #666666;cursor: pointer;}
.bmp-btns .confirm{width: 140px;height: 42px;background: #3377FF;border-radius: 6px;display: flex;align-items: center;justify-content: center;font-size: 14px;color: #FFFFFF;cursor: pointer;}
.bmp-btns .confirm:hover{opacity: .9;}
.bmp-title{font-weight: bold;font-size: 16px;color: #000000;text-align: center;}
.bmp-tip{font-size: 13px;color: #919499;text-align: center;}
.bmp-close{display: flex;justify-content: center;position: relative;}
.bmp-close img{width: 28px;height: 28px;position: absolute;top: -18px;right: 0;cursor: pointer;}
/* 隐藏表头中的 checkbox */
.el-table__header .el-checkbox {display: none;}