.Shell{background-color: #F5F7FA;display: flex;}
.boxContent{display: flex;flex-direction: column;width: 100%;padding: 20px 20px 0;box-sizing: border-box;}
.b-tip{height: 60px;background: #F2F7FF;box-shadow: 1px 5px 16px 0px rgba(0,15,77,0.04);border-radius: 8px;border: 1px solid #99BBFF;box-sizing: border-box;display: flex;justify-content: space-between;align-items: center;padding: 0 20px;margin-bottom: 20px;}
.ct-left{display: flex;gap: 8px;align-items: center;}
.ct-left img{width: 20px;height: 20px;margin-top: 1px;}
.ct-left span{font-size: 15px;color: #4C5059;}
.ct-right{width: 24px;height: 24px;margin-top: 1px;cursor: pointer;}
.b-main{border-radius: 10px;background: #FFFFFF;flex: 1;padding: 0 20px 40px;}
.b-copyright{font-size: 13px;color: #999999;flex-shrink: 0;height: 70px;display: flex;align-items: center;justify-content: center;}
.bm-header{display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;height: 138px;}
.bmh-tab{display: flex;gap: 40px;}
.bmh-tab .active .number,.bmh-tab .active .text{opacity: 1;}
.bmh-tab .active .text{position: relative;}
.bmh-tab .active .text::after{content: '';width: 30px;height: 5px;background: #3377FF;border-radius: 3px;position: absolute;bottom: -10px;left: 50%;transform: translateX(-50%);}
.bmht-item{display: flex;align-items: baseline;cursor: pointer;}
.bmht-item .text{font-weight: bold;font-size: 18px;color: #333333;opacity: 0.4;} 
.bmht-item .number{font-size: 15px;color: #6C7080;opacity: .5;margin-left: 4px;}
.bmht-item.red .number{height: 20px;background: #FF4F38;border-radius: 10px;padding: 0 6px;font-weight: 400;font-size: 14px;color: #FFFFFF;margin-left: 4px;}
.bmh-operate{display: flex;align-items: center;gap: 10px;}
.bmho-phone{width: 228px;height: 42px;}
.bmhop-icon{height: 24px;width: 24px;}
.bmho-export{width: 120px;height: 42px;background: #08B6FF;border-radius: 6px;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bmho-import{width: 120px;height: 42px;background: #266EFF;border-radius: 6px;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bmho-record{border-radius: 16px !important;}
.bmho-content{background: #FFFFFF;border-radius: 16px;position: relative;}
.bmho-content .close{position: absolute;top: 0;right: 0;width: 32px;height: 32px;cursor: pointer;}
.bmho-content .top .title{font-weight: bold;font-size: 18px;color: #212226;}
.bmho-content .top .tip{font-size: 13px;color: #919499;}
.bmho-content .top .tip text{color: #266EFF;margin-top: 8px;}
.bmho-content .center{display: flex;flex-direction: column;align-items: center;justify-content: center;margin-top: 30px;}
.bmho-content .center img{width: 180px;height: 180px;}
.bmho-content .center div{width: 140px;height: 42px;background: rgba(242,242,242,0);border-radius: 6px;border: 1px solid #EBECED;display: flex;align-items: center;justify-content: center;font-size: 14px;color: #666666;margin-top: 24px;cursor: pointer;}
.bm-top{height: 44px;background-color: #F7F9FC !important;border: none !important;}
.bm-cell{height: 80px;}
.bm-top:first-child{border-radius: 6px 0 0px 6px;}
.bm-top:last-child{border-radius: 0 6px 6px 0;}
.bmti-head{font-size: 13px;color: #8D93A6;}
.bmti-subscribe{display: flex;align-items: center;gap: 6px;}
.bmti-subscribe .time{width: 16px;height: 16px;margin-top: 1px;}
.bmti-subscribe .edit{width: 20px;height: 20px;position: relative;cursor: pointer;}
.bmti-subscribe .edit .editSelect{position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;}
.bmti-subscribe .edit .editIcon{width: 100%;height: 100%;}
.bmti-subscribe.none .time{filter: invert(50%) sepia(76%) saturate(570%) hue-rotate(160deg) brightness(102%) contrast(103%);}
.bmti-subscribe.none .text{font-weight: bold;font-size: 16px;color: #1966FF;}
.bmti-subscribe.invalid .text{color: #B6B8BF;}
.bmti-name{display: flex;align-items: center;gap: 10px;}
.bmti-name img{width: 26px;height: 26px;background: #D9D9D9;border-radius: 13px;}
.bmti-name .info .cname{font-size: 12px;color: #5C5E66;}
.bmti-name .info .uid{font-size: 12px;color: #9599A6;}
.bmti-name.invalid img{opacity: .4;}
.bmti-name.invalid .info .cname{color: #B6B8BF;}
.bmti-name.invalid .info .uid{color: #B6B8BF;}
.bmti-client .name{font-size: 15px;color: #17171A;text-shadow: 0px 4px 24px rgba(0,16,31,0.21);flex-shrink: 0;}
.bmti-client .log{height: 22px;background: #EBF3FF;border-radius: 11px;padding: 0 10px;display: flex;align-items: center;font-size: 13px;color: #266EFF;margin-left: 4px;flex-shrink: 0;}
.bmti-client.invalid .log{background: #B6B8BF;color: white;}
.bmti-client .contact{margin-top: 6px;}
.bmti-client.invalid .name{color: #B6B8BF;}
.bmti-phone,.bmti-client .contact{display: flex;align-items: center;}
.bmti-phone img,.bmti-client .contact img{width: 18px;height: 18px;}
.bmti-phone span,.bmti-client .contact span{font-size: 14px;color: #5C5E66;}
.bmti-phone.invalid img,.bmti-client.invalid .contact img{opacity: .4;}
.bmti-phone.invalid span,.bmti-client.invalid .contact span{color: #B6B8BF;text-decoration: line-through;}
.bmti-history{display: flex;overflow: hidden;text-overflow: ellipsis;}
.bmti-history .type{font-size: 14px;color: #08B6FF;flex-shrink: 0;}
.bmti-history .title{color: #5C5E66;font-size: 14px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;text-overflow: ellipsis;}
.bmti-history.invalid div{color: #B6B8BF !important;}
.bmti-info{font-size: 13px;color: #9599A6;}
.bmti-info.invalid div{color: #B6B8BF;}
.bmti-times{font-size: 14px;color: #5C5E66;}
.bmti-times.invalid{color: #B6B8BF;}
.bmti-time{font-size: 13px;color: #9599A6;}
.bmti-time.invalid{color: #B6B8BF;}
.bmti-note{font-size: 14px;color: #5C5E66;cursor: pointer;display: inline;}
.bmti-note.invalid{color: #B6B8BF;}
.bmti-content{display: flex;gap: 20px;flex-direction: column;padding: 10px 0px;}
.bmti-content .item{position: relative;}
.bmti-content .item .title{display: flex;}
.bmti-content .item .title .name{font-size: 13px;color: #3579FF;display: flex;align-items: center;}
.bmti-content .item .title .name::before{content: '';width: 4px;height: 4px;background: #3579FF;border-radius: 50%;margin-right: 6px;}
.bmti-content .item .title .time{font-size: 13px;color: #B6B8BF;margin-left: 4px;}
.bmti-content .item .text{font-size: 14px;color: #666666;padding-left: 10px;line-height: 24px;}
.bmti-content .item .btns{height: 48px;background: #FFFFFF;box-shadow: 3px 15px 25px 0px rgba(0,15,77,0.08);border-radius: 8px;border: 1px solid #EDEDED;position: absolute;right: 0;top: 50%;transform: translateY(-50%);display: none;}
.bmti-content .item .btns div{width: 45px;height: 100%;display: flex;align-items: center;justify-content: center;cursor: pointer;border-radius: 8px;}
.bmti-content .item .btns div img{width: 20px;height: 20px;}
.bmti-content .item .btns div:hover{background: #F0F2F5;border-radius: 4px;}
.bmti-content .item:hover .btns{display: flex;}
.bmti-edit .title{font-size: 13px;color: #3579FF;margin-bottom: 20px;}
.bmti-edit .btns{display: flex;justify-content: flex-end;gap: 20px;margin-top: 30px;}
.bmti-edit .btns .cancel{width: 110px;height: 44px;background: #FFFFFF;border-radius: 6px;border: 1px solid #EDEDED;display: flex;align-items: center;justify-content: center;font-size: 15px;color: #333333;cursor: pointer;}
.bmti-edit .btns .confirm{width: 110px;height: 44px;background: #3F7EFC;border-radius: 6px;font-size: 15px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bmti-state div{height: 22px;border-radius: 11px;padding: 0px 6px;display: inline-flex;align-items: center;font-size: 13px;}
.bmti-state .unoperate{color: #8D93A6;background: #E4E7ED;}
.bmti-state .invalid{color: #FFFFFF;background: #BBC0C7;}
.bmti-state .uncontact{color: #FFFFFF;background: #FF3333;}
.bmti-state .entrust{color: #FFFFFF;background: #FF8C00;}
.bmti-state .contact{color: #FFFFFF;background: #2BDF5E;}
.bmti-follow{display: flex;}
.bmti-follow div{font-size: 14px;}
.bmti-follow .text{color: #5C5E66;}
.bmti-follow .reason{color: #FF3333;display: none;}
.bmti-follow.invalid .text{color: #B6B8BF;}
.bmti-follow.invalid .reason{display: block;}
.bmti-operate{display: flex;gap: 30px;align-items: center;}
.bmti-operate .subentrust,.bmti-operate .reassign{width: 76px;height: 34px;background: #FFFFFF;border-radius: 6px;border: 1px solid #6699FF;display: flex;align-items: center;justify-content: center;font-size: 14px;color: #1966FF;box-sizing: border-box;cursor: pointer;}
.bmti-operate .online{display: flex;align-items: center;width: 100px;height: 34px;background: #FFFFFF;border-radius: 6px;border: 1px solid #6699FF;box-sizing: border-box;justify-content: center;cursor: pointer;}
.bmti-operate .online img{width: 20px;height: 20px;}
.bmti-operate .online span{font-size: 14px;color: #1966FF;margin-left: 2px;}
.bmti-operate .delete{font-size: 14px;color: #8D93A6;cursor: pointer;}
.setMark .title{display: flex;justify-content: space-between;margin-bottom: 20px;}
.setMark .title .left{display: flex;align-items: center;}
.setMark .title .left span{font-weight: bold;font-size: 16px;color: #333333;}
.setMark .title .left img{width: 16px;height: 16px;margin-left: 4px;cursor: pointer;}
.setMark .title .right{display: flex;gap: 10px;}
.setMark .title .right div{min-width: 80px;height: 34px;background: #F5F7FA;border-radius: 4px;display: flex;align-items: center;justify-content: center;font-size: 14px;color: #8D91A6;cursor: pointer;padding: 0 10px;box-sizing: border-box;}
.setMark .title .right .active{background: #EDF4FF;color: #1975FF;}
.setMark .title .right .active.invalid{background: #FFEDF1;color: #F52D5C;}
.setMark .title .right div:hover{background: #EDF4FF;color: #1975FF;}
.setMark .title .right .invalid:hover{background: #FFEDF1;color: #F52D5C;}
.setMark .warn{display: flex;align-items: center;position: absolute;margin-top: 10px;}
.setMark .warn img{width: 16px;height: 16px;margin-right: 2px;}
.setMark .warn span{font-size: 14px;color: #FF391F;}
.setMark .btns{display: flex;justify-content: flex-end;gap: 20px;margin-top: 30px;}
.setMark .btns .cancel{width: 110px;height: 44px;background: #FFFFFF;border-radius: 6px;border: 1px solid #EDEDED;display: flex;align-items: center;justify-content: center;font-size: 15px;color: #333333;cursor: pointer;box-sizing: border-box;}
.setMark .btns .confirm{width: 110px;height: 44px;background: #3F7EFC;border-radius: 6px;font-size: 15px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.setMark .btns .invalidConfirm{width: 110px;height: 44px;background: #FD687A;border-radius: 6px;font-size: 15px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.tipContent{width: 340px;height: 80px;background: #FFFFFF;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);border-radius: 8px;border: 1px solid #EDEDED;}
.bm-select{display: flex;margin-top: 14px;}
.bms-group,.bms-door{width: 94px;height: 34px;background: #FFFFFF;border-radius: 6px;border: 1px solid #C2C4CC;font-size: 14px;color: #5C5E66;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bms-group{margin-left: 16px;}
.bms-group:hover,.bms-door:hover{background: #EBF3FF;border-radius: 6px;border: 1px solid #6699FF;cursor: pointer;color: #1966FF;}
.bms-door{margin-left: 8px;}
.bm-pagination{margin-top: 40px;justify-content: flex-end;}
.bm-pop{width: 440px;height: 200px;border-radius: 16px;display: flex;flex-direction: column;justify-content: center;}
.bmp-btns{display: flex;gap: 12px;justify-content: center;margin-top: 10px;}
.bmp-btns .cancel{width: 140px;height: 42px;background: rgba(242,242,242,0);border-radius: 6px;border: 1px solid #EBECED;display: flex;align-items: center;justify-content: center;font-size: 14px;color: #666666;cursor: pointer;}
.bmp-btns .confirm{width: 140px;height: 42px;background: #3377FF;border-radius: 6px;display: flex;align-items: center;justify-content: center;font-size: 14px;color: #FFFFFF;cursor: pointer;}
.bmp-btns .confirm:hover{opacity: .9;}
.bmp-title{font-weight: bold;font-size: 16px;color: #000000;text-align: center;}
.bmp-tip{font-size: 13px;color: #919499;text-align: center;}
.bmp-close{display: flex;justify-content: center;position: relative;}
.bmp-close img{width: 28px;height: 28px;position: absolute;top: -18px;right: 0;cursor: pointer;}
.bma-header{height: 50px;display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #EEEEEE;padding: 0 20px;}
.bma-header div{font-weight: bold;font-size: 18px;color: #212226;}
.bma-header img{width: 24px;height: 24px;cursor: pointer;}
.bma-btns{display: flex;justify-content: flex-end;gap: 16px;padding: 22px 30px;border-top: 1px solid #EEEEEE;}
.bma-btns .cancel{width: 140px;height: 46px;background: rgba(242,244,247,0);border-radius: 6px;border: 1px solid #EBEBEB;display: flex;align-items: center;justify-content: center;font-size: 16px;color: #212121;cursor: pointer;}
.bma-btns .confirm{width: 140px;height: 46px;background: #266EFF;border-radius: 6px;font-size: 16px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bma-content{display: flex;}
.bma-content .right{padding: 0 20px 20px;border-left: 1px solid #EEEEEE;width: 380px;box-sizing: border-box;flex-shrink: 0;}
.bma-content .right .current .title{height: 60px;display: flex;align-items: center;font-weight: bold;font-size: 16px;color: #212226;}
.bma-content .right .current .list{display: flex;flex-direction: column;gap: 10px;max-height: 200px;overflow-y: auto;}
.bma-content .right .current .list .item{height: 60px;background: #F5F7FA;border-radius: 4px;display: flex;justify-content: space-between;padding: 0 14px 0 20px;align-items: center;flex-shrink: 0;}
.bma-content .right .current .list .item .photo{display: flex;align-items: center;}
.bma-content .right .current .list .item .photo img{width: 30px;height: 30px;border-radius: 50%;}
.bma-content .right .current .list .item .photo span{font-size: 14px;color: #45474D;margin-left: 8px;}
.bma-content .right .current .list .item .close{width: 24px;height: 24px;background: #DCE0E6;border-radius: 4px;}
.bma-content .right .current .list .item .close img{width: 100%;height: 100%;cursor: pointer;}
.bma-content .right .log .sum{font-size: 14px;color: #606266;line-height: 50px;margin-top: 20px;}
.bma-content .right .log .list{background: #FFFFFF;border-radius: 4px;border: 1px solid #EBEBEB;max-height: 200px;overflow-y: auto;}
.bma-content .right .log .list .item{height: 54px;border-radius: 4px;display: flex;justify-content: space-between;align-items: center;padding: 0px 20px 0px 10px;}
.bma-content .right .log .list .item.active{background: #F5F7FA;}
.bma-content .right .log .list .item .time{font-size: 13px;color: #9599A6;display: flex;align-items: center;gap: 8px;}
.bma-content .right .log .list .item .time::before{content: '';width: 4px;height: 4px;background: #08B6FF;border-radius: 2px;}
.bma-content .right .log .list .item .photo{display: flex;gap: 6px;}
.bma-content .right .log .list .item .photo img{width: 24px;height: 24px;border-radius: 50%;}
.bma-content .right .log .list .item .photo span{font-size: 14px;color: #45474D;}
.bma-content .left{flex: 1;padding: 0px 30px    ;}
.bma-content .left .filter{font-weight: bold;font-size: 16px;color: #212226;}
.bma-content .left .filter .title{height: 60px;display: flex;align-items: center;}
.bma-content .left .search{height: 46px;background: #FFFFFF;border-radius: 8px;border: 1px solid #EBEBEB;display: flex;align-items: center;padding: 0 10px;}
.bma-content .left .search img{width: 20px;height: 20px;}
.bma-content .left .search .search_input{outline: none;border: 0;flex: 1;}
.bma-content .left .search .search_input::placeholder{font-size: 15px;color: #212121;opacity: .5;}
.bma-content .left .search .select{width: auto;}
.bma-content .left .list .thead{display: flex;padding: 20px 0px;}
.bma-content .left .list .thead .name{width: 170px;font-size: 15px;color: #212121;}
.bma-content .left .list .thead .post{font-size: 15px;color: #212121;}
.bma-content .left .list .item{display: flex;align-items: center;}
.bma-content .left .list .item .info{display: flex;align-items: center;width: 170px;}
.bma-content .left .list .item .info img{width: 30px;height: 30px;border-radius: 50%;}
.bma-content .left .list .item .info span{font-size: 14px;color: #45474D;margin-left: 8px   ;}
.bma-content .left .list .item .job{font-size: 14px;color: #45474D;flex-grow: 1;}
.bma-content .left .list .item .select{height: 32px;background: #FFFFFF;border-radius: 16px;border: 1px solid rgba(194, 197, 204, .5);padding: 0 16px;font-size: 14px;color: #606266;display: flex;align-items: center;flex-shrink: 0;cursor: pointer;}
.bma-content .left .list .item .select.active,.bma-content .left .list .item .select:hover{background: #3275FA;color: white;}
/* 公共区 */
.bmho-type,.bmho-follow{width: 168px;height: 42px;border-radius: 4px;flex-shrink: 0;}
.bmho-export img,.bmho-import img{width: 20px;height: 20px;margin-right: 4px;}
.bmho-export span,.bmho-import span{font-size: 14px;color: #FFFFFF;}
/* element组件 */
.bmh-operate .el-select__wrapper{height: 42px;}
.el-table__header .el-checkbox {display: none;}
.bm-assign{padding: 0;}
.bm-assign .el-dialog__header{padding-bottom: 0;}
.bm-assign .el-dialog__footer{padding-top: 0;}
.bma-content .left .search .select .el-select__wrapper{box-shadow: none;padding: 0;}
.bma-content .left .search .select .el-select__placeholder{position: relative;transform: none;}
.bmti-subscribe .edit .el-input__wrapper{padding: 0;box-shadow: none;background: transparent;}
.bmti-subscribe .edit .el-input .el-input__icon{margin: 0;}
.bmti-subscribe .edit .el-input__prefix-inner{cursor: pointer;}