.Shell{background-color: #F5F7FA;display: flex;}
.boxContent{display: flex;flex-direction: column;width: 100%;padding: 20px 20px 0;box-sizing: border-box;}
.b-main{border-radius: 10px;background: #FFFFFF;flex: 1;}
.bm-report{font-weight: bold;font-size: 18px;color: #333333;height: 56px;display: flex;align-items: center;border-bottom: 1px solid #EEEEEE;padding: 0 20px;}
.bm-top{display: flex;justify-content: space-between;align-items: center;height: 84px;padding: 0px 20px;}
.bmt-tab{display: flex;gap: 20px;}
.bmt-tab .item{font-size: 15px;color: #6C7080;cursor: pointer;position: relative;display: flex;align-items: center;}
.bmt-tab .item.active .title{font-weight: bold;color: #292B33;position: relative;}
.bmt-tab .item.active .title::before{content: '';width: 30px;height: 5px;background: #3377FF;border-radius: 3px;position: absolute;bottom: -10px;left: 50%;transform: translateX(-50%);}
.bmt-tab .item .warn{padding: 0px 6px;height: 20px;background: #FF4F38;border-radius: 10px;font-size: 14px;color: #FFFFFF;display: flex;align-items: center;}
.bmt-filter{display: flex;align-items: center;gap: 8px;}
.bmt-filter .newReport{width: 188px;height: 42px;}
.bmt-filter .searchInput{width: 228px;height: 42px;}
.bmt-filter .searchInput .searchIcon{width: 24px;height: 24px;}
.bm-header{height: 44px;background-color: #F7F9FC !important;border: none !important;}
.bm-cell{height: 80px;}
.bm-header:first-child{border-radius: 6px 0 0px 6px;}
.bm-header:last-child{border-radius: 0 6px 6px 0;}
.bm-table{padding: 0 20px 40px;}
.bmti-head{display: flex;align-items: center;}
.bmti-head span{font-size: 13px;color: #8D93A6;}
.bmti-head img{width: 16px;height: 16px;margin-top: 1px;cursor: pointer;}
.bmti-cname{font-weight: bold;font-size: 15px;color: #17171A;}
.bmti-phone{display: flex;align-items: center;}
.bmti-phone img{width: 18px;height: 18px;}
.bmti-phone.invalid img{opacity: .3;}
.bmti-phone span{font-size: 14px;color: #5C5E66;}
.bmti-phone.invalid span{color: #B6B8BF;}
.bmti-build,.bmti-mark{font-size: 14px;color: #5C5E66;}
.bmti-cert{display: flex;gap: 6px;}
.bmti-cert img{width: 30px;height: 30px;background: #D9D9D9;border-radius: 2px;object-fit: cover;}
.bmti-cert div{width: 30px;height: 30px;background: rgba(0,0,0,.3);border-radius: 2px;font-size: 14px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;}
.bmti-name{font-size: 14px;color: #17171A;}
.bmti-report{font-size: 13px;color: #9598A6;}
.bmti-invalid{font-size: 14px;color: #FF4F38;}
.bmti-status{display: flex;}
.bmti-status div{height: 22px;border-radius: 11px;padding: 0 8px;font-size: 13px;display: inline-flex;}
.bmti-status .wait{background: #FFF3E5;color: #FF8400;}
.bmti-status .doing{background: #EDF4FF;color: #266EFF;}
.bmti-status .has{background: #2BDF5E;color: #FFFFFF;}
.bmti-status .invalid{background: #BBC0C7;color: #FFFFFF;}
.bmti-status .grant{font-size: 14px;color: #1966FF;}
.bmti-status .red{color: #FF4F38;}
.bmti-status .refuse{display: flex;align-items: center;height: 100%;padding: 0;}
.bmti-status .refuse .red{padding-right: 8px;padding-left: 0;}
.bmti-status .submit{font-size: 14px;color: #1966FF;width: 76px;height: 34px;background: #FFFFFF;border-radius: 6px;border: 1px solid #6699FF;box-sizing: border-box;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bmti-operate .updateInfo{height: 34px;background: #FFFFFF;border-radius: 6px;border: 1px solid #6699FF;padding: 0 10px;display: inline-flex;align-items: center;font-size: 14px;color: #1966FF;cursor: pointer;}
.b-copyright{font-size: 13px;color: #999999;flex-shrink: 0;height: 70px;display: flex;align-items: center;justify-content: center;}
.bmu-header{height: 50px;display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #EEEEEE;padding: 0 20px;}
.bmu-header div{font-weight: bold;font-size: 18px;color: #212226;}
.bmu-header img{width: 24px;height: 24px;cursor: pointer;}
.bmu-btns{display: flex;justify-content: flex-end;gap: 16px;padding: 22px 30px;border-top: 1px solid #EEEEEE;}
.bmu-btns .cancel{width: 140px;height: 46px;background: rgba(242,244,247,0);border-radius: 6px;border: 1px solid #EBEBEB;display: flex;align-items: center;justify-content: center;font-size: 16px;color: #212121;cursor: pointer;}
.bmu-btns .confirm{width: 140px;height: 46px;background: #266EFF;border-radius: 6px;font-size: 16px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.bmu-content{padding: 20px 30px 30px;}
.bmu-content .card{background: linear-gradient(90deg, #EDF6FF 0%, #F6FCFF 100%);border-radius: 6px;padding: 20px 30px;}
.bmu-content .card .title{display: flex;}
.bmu-content .card .title{font-weight: bold;font-size: 15px;}
.bmu-content .card .title .label{color: #3377FF;}
.bmu-content .card .title .text{color: #17171A;}
.bmu-content .items{display: flex;flex-wrap: wrap;margin-top: 20px;}
.bmu-content .items .item{display: flex;font-size: 14px;width: 45%;line-height: 30px;}
.bmu-content .items .item .tip{color: #999999;min-width: 70px;}
.bmu-content .form{margin-top: 30px;}
.bmu-content .form .purchase{display: flex;align-items: center;gap: 8px;}
.bmu-content .form .purchase .purchaseInput{width: 200px;height: 48px;background: #FFFFFF;border-radius: 6px;}
.bmu-content .form .house{display: flex;gap: 15px;}
.bmu-content .form .house .item{display: flex;align-items: center;gap: 8px;}
.bmu-content .form .house .item .itemInput{width: 120px;height: 48px;background: #FFFFFF;border-radius: 6px;}
.bmu-content .form .house .item .unit{font-size: 16px;color: #333333;}
.bmu-content .form .house .item .tip{font-size: 14px;color: #8D93A6;}
.bmtiii-upload{width: 120px;height: 120px;display: flex;flex-direction: column;align-items: center;justify-content: center;background: #F7F9FA;border-radius: 4px;}
.bmtiii-upload img{width: 24px;height: 24px;}
.bmtiii-upload span{font-size: 14px;color: #8D92A6;}
.bmtiii-logo{width: 120px;height: 120px;border-radius: 4px;position: relative;overflow: hidden;}
.bmtiii-logo img{width: 100%;height: 100%;object-fit: cover;}
.bmtiii-logo span{position: absolute;left: 0;right: 0;bottom: 0;line-height: 30px;text-align: center;color: #fff;border-radius: 0 0 8px 8px;transition: all .3s;background-color: rgba(0,0,0,.6);opacity: 0;}
.bmtiii-logo:hover span{opacity: 1;}
.dealHas{border-radius: 16px;background:linear-gradient(to bottom,#E5EEFF 0%,white 350px);width: 1200px;padding: 0;}
.d-header{height: 60px;display: flex;justify-content: space-between;align-items: center;padding:0 20px;}
.d-header div{font-weight: bold;font-size: 18px;color: #212226;}
.d-header img{width: 24px;height: 24px;cursor: pointer;}
.d-content{display: flex;gap: 20px;padding: 0 20px 20px 30px;}
.dc-left{flex: 1;height: 100%;padding-right: 20px;border-right: 1px solid #EEEEEE;}
.dcl-card{border-radius: 10px;padding: 0 20px;position: relative;background-color: white;border-radius: 10px;padding-top: 20px;}
.dcl-card .label{width: 64px;height: 24px;background: linear-gradient(90deg, #FFE9DE 0%, #FFF0E6 100%);border-radius: 10px 2px 10px 2px;display: flex;align-items: center;justify-content: center;font-size: 12px;color: #BF8673;position: absolute; top: -8px;left: -4px;}
.dcl-card .note{height: 56px;align-items: center;display: flex;border-top: 1px solid #EEEEEE;}
.dcl-card .note .name{font-size: 14px;color: #A6A6A6;}
.dcl-card .note .text{font-size: 14px;color: #313233;}
.dcl-card .info{padding-bottom: 10px;}
.dcl-card .info .title{display: flex;align-items: baseline;padding-bottom: 6px;}
.dcl-card .info .title .name{font-weight: bold;font-size: 22px;color: #17171A;}
.dcl-card .info .title .phone{font-size: 16px;color: #266EFF;margin-left: 6px;}
.dcl-card .info .list{display: flex;flex-wrap: wrap;}
.dcl-card .info .list .item{display: flex;width: 50%;line-height: 28px;}
.dcl-card .info .list .item .name{font-size: 14px;color: #A6A6A6;}
.dcl-card .info .list .item .time{font-size: 14px;color: #616366;}
.dcl-process{background: #FFFFFF;border-left: 1px dashed #CAD8ED;padding-left: 20px;margin-top: 30px;}
.dcl-process .first{position: relative;padding: 20px 0px;}
.dcl-process .first .title{display: flex;align-items: center;position: absolute;left: -28px;top: -20px;}
.dcl-process .first .title img{width: 16px;height: 16px;}
.dcl-process .first .title span{font-size: 15px;color: #FF7300;margin-left: 5px;}
.dcl-process .first .item{min-height: 84px;background: linear-gradient(90deg, #FFF0E5 0%, #FFF6F2 100%);border-radius: 6px;position: relative;padding: 0 20px;display: flex;flex-direction: column;justify-content: center;}
.dcl-process .first .item .count{font-weight: bold;font-size: 16px;}
.dcl-process .first .item .tip{font-size: 13px;color: #999999;}
.dcl-process .first .item .btn{width: 100px;height: 40px;background: rgba(255,255,255,0);border-radius: 6px;border: 1px solid #FF7300;font-size: 15px;color: #FF7300;display: flex;align-items: center;justify-content: center;position: absolute;top: 50%;right: 20px;transform: translateY(-50%);}
.dcl-process .other .time{font-size: 13px;color: #999999;margin-left: -23px;display: flex;align-items: center;}
.dcl-process .other .time::before{content: '';width: 5px;height: 5px;background: #CAD3E0;border-radius: 50%;margin-right: 10px;}
.dcl-process .other .item{background: #F7F9FC;border-radius: 6px;margin-top: 12px;padding: 20px;}
.dcl-process .other .item.onestep{display: flex;align-items: center;}
.dcl-process .other .item.onestep img{width: 30px;height: 30px;border-radius: 50%;margin-right: 8px;}
.dcl-process .other .item.onestep .text{font-size: 14px;color: #313233;}
.dcl-process .other .item.onestep .note{font-size: 14px;color: #999999;}
.dcl-process .other{display: flex;gap: 10px;flex-direction: column;}
.dcl-process .other .item.certificate .img{display: flex;gap: 5px;margin-top: 10px;}
.dcl-process .other .item.certificate .img .imgItem{border-radius: 3px;overflow: hidden;position: relative;width: 70px;height: 65px;}
.dcl-process .other .item.certificate .img .imgItem img{display: block;width: 100%;height: 100%;object-fit: cover;}
.dcl-process .other .item.certificate .img .imgItem .label{font-size: 12px;color: #FFFFFF;background-color: rgba(54, 56, 61, .6);position: absolute;bottom: 0;left: 0;width: 100%;padding: 2px 0px;text-align: center;}
.dcl-process .other .item.history{display: flex;}
.dcl-process .other .item.history .left .title{display: flex;align-items: center;}
.dcl-process .other .item.history .left .title img{width: 30px;height: 30px;border-radius: 15px;}
.dcl-process .other .item.history .left .title span{font-size: 14px;color: #313233;margin-left: 8px;}
.dcl-process .other .item.history .left .tip{font-size: 14px;color: #999999;padding-left: 38px;line-height: 20px;}
.dcl-process .other .item.history .right{display: flex;gap: 6px;flex-shrink: 0;align-items: baseline;}
.dcl-process .other .item.history .right .text{font-size: 13px;color: #266EFF;}
.dcl-process .other .item.history .right .num{width: 30px;height: 30px;background: rgba(0, 0, 0, .3);border-radius: 2px;font-size: 14px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;}
.dcl-process .other .item.pass .text{font-size: 14px;color: #313233;}
.dcl-process .other .item.pass .reason{font-size: 13px;color: #ff1e00;margin-top: 4px;}
.dc-right{width: 320px;position: relative;background: #FFFFFF;border-radius: 10px;padding: 38px 20px 0px;flex-shrink: 0;}
.dcr-label{position: absolute;top: -6px;left: -2px;width: 60px;height: 24px;background: linear-gradient(90deg, #FFE9DE 0%, #FFF0E6 100%);border-radius: 10px 2px 10px 2px;display: flex;align-items: center;justify-content: center;font-size: 12px;color: #BF8673;}
.dcr-info{display: flex;gap: 10px;align-items: center;}
.dcr-info img{width: 52px;height: 52px;border-radius: 50%;}
.dcr-info span{font-weight: bold;font-size: 17px;color: #17171A;}
.dcr-contact{margin-top: 20px;}
.dcr-contact .item{line-height: 28px;}
.dcr-contact .item .name{font-size: 14px;color: #A6A6A6;}
.dcr-contact .item .text{font-size: 14px;color: #333333;}
.dcr-btn{height: 50px;background: #FFFFFF;border-radius: 8px;border: 1px solid #FF7300;font-weight: bold;font-size: 17px;color: #FF7300;display: flex;align-items: center;justify-content: center;margin-top: 20px;}
.invalidHas{border-radius: 16px;background:linear-gradient(to bottom,#E8EAED 0%,white 350px);width: 1200px;padding: 0;}
.invalidHas .dcl-card .info .title .phone{color: #616366;}
.invalidHas .dcl-process .first .title span{font-size: 13px;color: #999999;}
.invalidHas .dcl-process .first .item{background: linear-gradient(90deg, #EDEFF2 0%, #F7F8FA 100%);}
.invalidHas .dcl-process .first .item .count{font-weight: bold;font-size: 16px;color: #ff1e00;}
.invalidHas .dcl-process .first .item .tip{font-size: 13px;color: #ff1e00;margin-top: 6px;}
.rejectHas{border-radius: 16px;background:linear-gradient(to bottom,#E5EEFF 0%,white 350px);width: 1200px;padding: 0;}
.rejectHas .dcl-process .first .item{background: linear-gradient(90deg, #FFF1F0 0%, #FFF6F5 100%);}
.rejectHas .first .title span{font-size: 15px;color: #ff1e00;}
.rejectHas .dcl-process .first .item .tip{color: #ff1e00;margin-top: 6px;}
.rejectHas .dcr-btn{height: 50px;background: #3377FF;border-radius: 8px;font-weight: bold;font-size: 17px;color: #FFFFFF;border: 0;}
.otherHas{border-radius: 16px;background:linear-gradient(to bottom,#E5EEFF 0%,white 350px);width: 1200px;padding: 0;}
.otherHas .dcl-process .first .item{background: linear-gradient(90deg, #EDF6FF 0%, #F6FCFF 100%);}
.otherHas .dcl-process .first .title span{font-size: 15px;color: #19B2FF;}
.otherHas .dcr-btn{height: 50px;background: #3377FF;border-radius: 8px;font-weight: bold;font-size: 17px;color: #FFFFFF;border: 0;}
/* 公共 */
.upload-demo{display: flex;}
/* 插件 */
.bmt-filter .newReport .el-select__wrapper{height: 42px;}
.bm-pagination{margin-top: 40px;justify-content: flex-end;}
.bm-update{padding: 0;}
.bm-update .el-dialog__header{padding-bottom: 0;}
.bm-update .el-dialog__footer{padding-top: 0;}
.bmu-content .form .el-form-item__label{width: 80px;}
.typeRadio .el-radio__input.is-checked+.el-radio__label{color: #2672EC;}
.typeRadio .el-radio__inner:after{background-color: #2672EC;width: 10px;height: 10px;}
.typeRadio .el-radio__inner{width: 16px;height: 16px;}
.typeRadio .el-radio__input.is-checked .el-radio__inner{background: white;border-color:#2672EC;}