<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{#$langData['siteConfig'][16][21]#}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/refreshTop.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/manage-house.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/fabu-pay.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
	var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
	var hideFileUrl = 0;
	var module = 'house', atpage = 1, totalCount = 0, pageSize = 10, state = '', type = 'sale';
	var editUrl = '{#getUrlPath service='member' type='user' template='fabu-house'#}';
	var cookiePre = '{#$cfg_cookiePre#}';
	//竞价默认价格，此值可在后台分类信息设置中修改
	var bidDefault = 5;
	//竞价默认增加预算价格，此值可在后台分类信息设置中修改
	var bidDefaultAdd = 2;
	var houseDomain = `{#getUrlPath service='house'#}`;
	var app_platform = '{#$app_platform#}';
	var loginUserId = '{#$userinfo.userid#}';
</script>
</head>

<body>
	<view class="f-mask"></view>
	<div class="f-publish" >
		<div class="fb-title">发布</div>
		<!-- 房产 -->
		<div class="fb-content house" >
			<div class="fbc-secondHand" data-type="sale" style="background-image:url({#$cfg_staticPath#}images/miniprograme/member/fabu/bg_icon1.png)">
				<div class="title">发布二手房</div>
				<div class="tip">1分钟发布房源，简单卖好房</div>
			</div>
			<div class="fbc-rent" data-type="zu" style="background-image:url({#$cfg_staticPath#}images/miniprograme/member/fabu/bg_icon2.png)">
				<div class="title">发布出租房</div>
				<div class="tip">完善租房信息，快速获取租客</div>
			</div>
			<a href="{#getUrlPath service='member' type="user" template='fabu-house-sp'#}" target="_blank" class="fbc-item">
				<div class="title">商铺</div>
				<div class="tip">出租/出售转让生意</div>
			</a>
			<a href="{#getUrlPath service='member' type="user" template='fabu-house-xzl'#}" target="_blank" class="fbc-item">
				<div class="title">写字楼</div>
				<div class="tip">出租/转让新盘出售</div>
			</a>
			<a href="{#getUrlPath service='member' type="user" template='fabu-house-cf'#}" target="_blank" class="fbc-item">
				<div class="title">厂房仓库</div>
				<div class="tip">土地/仓库/厂房交易</div>
			</a>
			<a href="{#getUrlPath service='member' type="user" template='fabu-house-cw'#}" target="_blank" class="fbc-item">
				<div class="title">车位</div>
				<div class="tip">出租/转让出售车位</div>
			</a>
		</div>
	</div>	



<script type='text/javascript' src='{#$cfg_basehost#}/include/lang/{#$langList.currCode#}.js?v={#$cfg_staticVersion#}'></script>
<!-- <script src="{#$templets_skin#}js/refreshTop.js?v={#$cfg_staticVersion#}"></script> -->
<script src="{#$templets_skin#}js/house.js?{#$cfg_staticVersion#}"></script>
<!-- <script src="{#$templets_skin#}js/fabu-pay.js?v={#$cfg_staticVersion#}"></script> -->
</body>
</html>
