
<link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/chpsd_v2.css?v={#$cfg_staticVersion#}" media="all" />
<script src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>
<script>
	var phoneCheck = '{#$userinfo.phoneCheck#}' ; //手机验证过
	var emailCheck = '{#$userinfo.emailCheck#}' ; //邮箱验证过
	var backUrl = "{#getUrlPath service='member' type='user' template='security'#}";
</script>
{#$backUrl = "{#getUrlPath service='member' type='user' template='security'#}"#}

 <div class="chpsd_page" id="chpsd_page">
	 <div class="header">
	 	<a href="javascript:;" class="goBack arr_back" onclick="history.go(-1)"></a>
	 </div>
	 <div class="regbox">
	 	<div class="form_title">
	 		<span>{#$langData['siteConfig'][5][19]#}</span>  {#*  修改登录密码  *#}
	 	</div>
		<form class="formbox">
			{#if $userinfo['pwd']#}
			<div class="inputbox labelInp">
				<label>{#$langData['siteConfig'][55][17]#}</label>    {#*  旧密码  *#}
				<input type="password"  placeholder="{#$langData['siteConfig'][20][83]#}" name="old"  autocomplete="off" id="old" >   {#*  请输入原密码  *#}
			</div>
			 {#/if#}
			<div class="inputbox labelInp">
				<label>{#$langData['siteConfig'][5][1]#}</label>    {#*  新密码  *#}
				<input type="password"  placeholder="{#$langData['siteConfig'][20][84]#}" name="new"  autocomplete="off" id="new" >   {#*  请输入新密码  *#}
			</div>
			<div class="inputbox labelInp">
				<label>{#$langData['siteConfig'][5][10]#}</label>    {#*  确认密码  *#}
				<input type="password"  placeholder="{#$langData['siteConfig'][20][569]#}" name="confirm"  autocomplete="off" id="confirm" >   {#*  确认新密码  *#}
			</div>
			<p class="psd_tip">{#$langData['siteConfig'][55][0]#}</p>  {#* 新密码建议组合规则：长度为6~14个字符，支持数字, 大小写字母和标点符号 *#}
			<a href="javascript:;" class="btn_tochange" @click="change_psd()">{#$langData['siteConfig'][6][1]#}</a>
			{#if $userinfo.phoneCheck ||  $userinfo.emailCheck#}
			<a href="/fpwd.html" class="link_to"> {#$langData['siteConfig'][55][24]#}</a> {#* 忘记旧密码？使用其他方式修改 *#}
			{#else#}
			<a href="javascript:;" class="link_to" @click="showPop()"> {#$langData['siteConfig'][55][24]#}</a>{#* 忘记旧密码？使用其他方式修改 *#}
			{#/if#}
		</form>
	</div>
	
	<!-- 协议弹窗 -->
	<div class="pop_mask" @click="hidePop()"></div>
	<div class="pop_agree">
		<div class="box">
			<p>
			  {#$langData['siteConfig'][55][19]#}
			 {#*  您还未绑定手机号或邮箱号，可先绑定后再使用验证码修改登录密码。*#}
			</p>
		</div>
		<div class="btn_group">
			<a href="javascript:;" class="cancel" @click="hidePop()">{#$langData['siteConfig'][6][117]#}</a>  {#* 返回 *#}
			<a href="{#$member_userDomain#}/security-chphone.html" class="keep_login" >{#$langData['siteConfig'][55][20]#}</a>  {#* 确定绑定 *#}
		</div>
	</div>
 </div>




<script src="{#$cfg_staticPath#}js/vue/axios.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/security-chpassword_v2.js?v={#$cfg_staticVersion#}"></script>
