<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>发布动态</title>
	<meta name="keywords" content="{#$cfg_keywords#}">
	<meta name="description" content="{#$cfg_description#}">
	<link rel="stylesheet" type="text/css" media="all"
		href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
	<!-- <link rel="stylesheet" href="{#$cfg_staticPath#}/css/admin/bootstrap.css?v={#$cfg_staticVersion#}"> -->
	<link rel="stylesheet" href="{#$templets_skin#}css/pub_loupan.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/base_info.css?v={#$cfg_staticVersion#}">
	<link rel="stylesheet" href="{#$templets_skin#}css/add_article.css?v={#$cfg_staticVersion#}">
	<script type="text/javascript"
		src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript">
		var masterDomain = '{#$cfg_basehost#}',
			staticPath = '{#$cfg_staticPath#}';
		var hideFileUrl = '{#$cfg_hideUrl#}';
		var cookiePre = '{#$cfg_cookiePre#}',
			cfg_clihost = '{#$cfg_clihost#}';
		var templets = '{#$templets_skin#}';

		var buildtypenames = ['低层', '高层', '小高层', '联排别墅', '公寓']; //建筑类型
		// var salestatenames = ['新盘待售','在售','尾盘','售罄']; //销售状态
		// var existingnames = ['现房','期房']; //销售状态
		var salestate = 0, //销售状态
			existing = 0, //楼盘状态
			buildtype = []; //物业类型
		var thumbSize = '{#$thumbSize#}',
			thumbType = "{#$thumbType#}", //缩略图配置
			addrid = '{#$addrid#}',
			addrListArr = '{#$addrListArr#}',
			mapCity = "{#$mapCity#}",
			subwayCity = 0;
		var currid = 7;
		var modelType = 'house';
		var idArr = (window.location.href).split('?id=')
		var id = idArr.length > 1 ? idArr[1] : '';
		var loupanid = '{#$loupanid#}';
		var detailData= {
			type:'{#$at_type#}', //动态分类
			images:'{#$at_images#}', //图片
			images_url:JSON.parse('{#json_encode($at_images_url)#}'),
			videos:'{#$at_videos#}', //视频
			videos_url:JSON.parse('{#json_encode($at_videos_url)#}'),
			title:'{#$at_title#}', //标题
			body:'{#$at_body#}', //动态详情
		}
		var backsuccessFn = '';
	</script>
</head>

<body class="w1200">
	<div id="page">
		<!-- 头部 -->
		{#include file="top.html"#}
		<div class="conbox">
			{#include file="left.html"#}
			<!-- 右侧 -->
			<div class="right_box">
				<div class="rConBox">
					<h3 v-if="article_id==''">发布动态</h3>
					<h3 v-else>修改动态</h3>
					<div class="formbox huxingFormbox">
						<form action="" id="form">
							<div class="inpbox required">
								<label><em>* </em>动态分类</label>
								<div class="inp_div radiobox">
									<ul>
										<li :class="{'chose':item.id==typeActive}" v-for="(item,i) in type"
											@click="typeActive = item.id">
											<input type="radio" name="type" :value="item.id"
												:checked="item.id==typeActive"><s></s>{{item.title}}
										</li>
									</ul>
								</div>
							</div>
							<div class="inpbox required">
								<label>图片</label>
								<div class="inp_div img_upload listImgBox">
									<input type="hidden" name="images" v-model="images" class="imglist-hidden" />
									<div class="imgbox" style="display: flex;align-items: center;">
										<div :class="['upload_btn filePicker uploadinp',{hide:images}]"
											id="filePicker1" data-type="thumb" data-count="1" data-size="{#$thumbSize#}"
											data-imglist="">
											<s></s>
											<p>点击上传图片</p>
										</div>
										<ul id="listSection1" class="listSection thumblist imgShow">
											<li id="WU_FILE_has_0" class="pubitem" v-if="images&&article_id">
												<img :src="images_url[0]" :data-val="images" :data-url="images_url[0]">
												<a class="reupload li-rm" href="javascript:;">重新上传</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="inpbox required">
								<label>视频</label>
								<div class="inp_div img_upload listImgBox video_upload">
									<input type="hidden" name="videos" v-model="videos" class="imglist-hidden" />
									<div class="imgbox" style="display: flex;align-items: center;">
										<div :class="['upload_btn filePicker uploadinp',{hide:videos}]"
											id="filePicker2" data-type="filenail" data-type-real="video" data-count="1"
											data-size="{#$thumbSize#}" data-mime="video/*" data-imglist="">
											<s></s>
											<p>点击上传视频</p>
										</div>
										<ul id="listSection2" class="listSection thumblist imgShow">
											<li id="WU_FILE_video_0" class="pubitem" v-if="videos&&article_id">
												<video class="video-js enlarge" id="video_WU_FILE_0" :src="videos_url[0]"
													:data-val="videos">
													<source class="enlarge" src="/include/attachment.php?f="
														type="video/*">
												</video>
												<div class="file-panel li-rm">
													<span class="cancel">重新上传</span>
												</div> <span class="player">
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="inpbox required">
								<label>标题</label>
								<div class="inp_div">
									<div class="inp w250" style="width: 520px;">
										<input type="text" name="title" v-model="title" placeholder="可添加标题…"
											data-regex=".{3,60}">
									</div>
								</div>
							</div>
							<div class="inpbox required">
								<label>动态详情</label>
								<div class="inp_div">
									<script id="container" name="body" type="text/plain" style="width:85%;height:500px">{#$at_body#}</script>

								</div>
							</div>

							<a href="javascript:;" class="submit" @click="submit">确认提交</a>
						</form>
						<div class="loading" v-show="loading"><s></s></div>
					</div>
				</div>
			</div>
			<div class="foot">
				<div class="foot-bottom">
					<div class="bottom wrap">
						版权所有 © {#$smarty.now|date_format:'%Y'#} {#$cfg_shortname#}. All rights reserved.<br />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>{#$cfg_statisticscode#}</div>
</body>

<script type="text/javascript" src="{#$templets_skin#}js/publicUpload_v2.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/add_article.js?v={#$cfg_staticVersion#}"></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
<script type='text/javascript'
	src='{#$cfg_basehost#}/include/ueditor/ueditor.config.js?v={#$cfg_staticVersion#}'></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/ueditor/ueditor.all.js?v={#$cfg_staticVersion#}'></script>
<script type='text/javascript' src='{#$cfg_basehost#}/include/ueditor/135editor.js?v={#$cfg_staticVersion#}'></script>

</html>