<!DOCTYPE html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<title>{#if !$smarty.get.id#}添加{#else#}编辑{#/if#}分销公司</title>
		<meta name="keywords" content="{#$cfg_keywords#}">
		<meta name="description" content="{#$cfg_description#}">
		<link rel="stylesheet" type="text/css" media="all" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
        <link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/element_ui_index.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/pub_loupan.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/createBranch.css?v={#$cfg_staticVersion#}">
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.min.js?v={#$cfg_staticVersion#}"></script>
        <script type="text/javascript" src="{#$cfg_staticPath#}js/ui/element_ui_index.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript">
		    var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
		    var hideFileUrl = '{#$cfg_hideUrl#}';
		    var cookiePre = '{#$cfg_cookiePre#}', cfg_clihost = '{#$cfg_clihost#}';
			var templets = '{#$templets_skin#}';
			

			var loupanid = '{#$loupanid#}';
			var modelType = 'house';
            var currid = 84;
            var grant = '{#$grant#}';
		</script>
</head>
<body>

    <div id="page">
        <!-- 头部 -->
        {#include file="top.html"#}
        <div class="conbox">
            <!-- 左侧导航 -->
            {#include file="left.html"#}
            <div class="right_box">
                <div class="rConBox" >
                    <h3>新建公司</h3>
                    {#include file="./addBranch_form.html" dotype="add"#}
                </div>  
            </div>
        </div>
        <div class="foot">
            <div class="foot-bottom">
                <div class="bottom wrap">
                    版权所有 © {#$smarty.now|date_format:'%Y'#} {#$cfg_shortname#}. All rights reserved.<br />
                </div>
            </div>
        </div>
</body>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript" src="{#$templets_skin#}js/createBranch.js?v={#$cfg_staticVersion#}"></script>
</html>