<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<title>基本信息</title>
		<meta name="keywords" content="{#$cfg_keywords#}">
		<meta name="description" content="{#$cfg_description#}">
		<link rel="stylesheet" type="text/css" media="all" href="{#$cfg_staticPath#}css/core/base.css?v={#$cfg_staticVersion#}" />
		<link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/element_ui_index.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$cfg_staticPath#}/css/admin/datetimepicker.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$cfg_staticPath#}/css/admin/bootstrap.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/pub_loupan.css?v={#$cfg_staticVersion#}">
		<link rel="stylesheet" href="{#$templets_skin#}css/base_info.css?v={#$cfg_staticVersion#}">
		<script type="text/javascript" src="{#$cfg_staticPath#}js/core/jquery-1.8.3.min.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/vue.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/element_ui_index.js?v={#$cfg_staticVersion#}"></script>
		<script type="text/javascript">
		    var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
		    var hideFileUrl = '{#$cfg_hideUrl#}';
		    var cookiePre = '{#$cfg_cookiePre#}', cfg_clihost = '{#$cfg_clihost#}';
			var templets = '{#$templets_skin#}';
			var protypelist = {#if $protypelist#} {#$protypelist#} {#else#} '' {#/if #}; //物业类型
			var salestatenames = ['新盘待售','在售','尾盘','售罄']; //销售状态
			var existingnames = ['现房','期房']; //销售状态
			var salestate = '{#$detail_salestate#}',   //销售状态
				existing = '{#$detail_existing#}',   //楼盘状态
				protype = {#if is_array($detail_protype)#} {#json_encode($detail_protype,true)#} {#else#} '{#$detail_protype#}' {#/if#};   //物业类型
			var thumbSize = '{#$thumbSize#}', thumbType = "{#$thumbType#}",  //缩略图配置
				addrid = '{#$addrid#}', addrListArr = '{#$addrListArr#}', mapCity = "{#$mapCity#}", subwayCity = 0;
			var subwayarr = {#if $detail_subwayarr#}{#$detail_subwayarr#} {#else#}''{#/if#};
			var currid = 2;
			var loupanid = '{#$loupanid#}';
			var modelType = 'house';
			var peitaoList = {#if $detail_config#} {#json_encode($detail_config,true)#} {#else#} '' {#/if#};
			var tabOn = {#$smarty.get.type|default:0#}
			var license_data = '{#if count($detail_license_data)#}{#json_encode($detail_license_data)#}{#else#}[]{#/if#}';
			license_data = license_data && JSON.parse(license_data) || [];
			if(tabOn == 1){
				currid = 21;
			}
		</script>
	</head>
	<body class="w1200">
		<div id="page">
			<!-- 头部 -->
			{#include file="top.html"#}
			<div class="conbox">
				<!-- 左侧导航 -->
				<!-- <div class="left_box">
					<ul v-cloak>
						<li v-for=" (item,i) in navList" :class="{'curr':i==currid || i === hoverid}"  @mouseover="hoverid = i" @mouseleave="hoverid = ''">
							<a :href="item.link">
								<s v-if="i!=currid && i !== hoverid"><img :src="'{#$templets_skin#}images/'+(i+1)+'.png'" ></s>
								<s v-else><img :src="'{#$templets_skin#}images/'+(i+1)+'_on.png'" ></s>
								<span>{{item.txt}}</span>
							</a>
						</li>
					</ul>
				</div> -->
				{#include file="left.html"#}
				<!-- 右侧 -->
				<div class="right_box">
					<div class="rConBox" v-cloak>
						<div class="formTabs">
							<span :class="tabOn == ind ? 'active' : ''" @click="tabOn = ind" v-for="(item,ind) in tabsArr">{{item.name}}</span> 
						</div>
						<div class="formContainer">
							<!-- 重点信息 -->
							<div v-show="tabOn == 0">
								{#include file="formbox1.html"#}
							</div>
							<div v-show="tabOn == 1">
								{#include file="formbox2.html"#}
							</div>
							<div v-show="tabOn == 2">
								{#include file="formbox3.html"#}
							</div>
						</div>
					</div>
				</div>
				<div class="loading" v-show="loading"></div>
				<div class="foot">
					<div class="foot-bottom">
						<div class="bottom wrap">
							版权所有 © {#$smarty.now|date_format:'%Y'#} {#$cfg_shortname#}. All rights reserved.<br />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>{#$cfg_statisticscode#}</div>
	</body>
	<script type='text/javascript' src='{#$cfg_basehost#}/include/json.php?action=lang'></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/publicAddr.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/jquery.dragsort-0.5.1.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/bootstrap-datetimepicker.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$templets_skin#}js/publicUpload_v2.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/webuploader/webuploader.min.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$cfg_staticPath#}js/vue/axios.min.js?v={#$cfg_staticVersion#}"></script>
	<script type='text/javascript' src='{#$cfg_staticPath#}/js/ui/jquery.dialog-4.2.0.js?v={#$cfg_staticVersion#}'></script>
	<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
	<script type="text/javascript" src="{#$templets_skin#}js/base_info.js?v={#$cfg_staticVersion#}"></script>
</html>
