<el-form class="tabCon" id="formbox3" label-width="158px"  ref="formbox3" :model="formbox3" >
    <div class="formPart">
        <div class="part_tit">
            <h4>预售许可证</h4>
        </div>
        <div class="permissionList" v-cloak>
            <div class="permissionItem" v-for="(item,ind) in formbox3.license_data" :key="ind">
                <el-form-item label="预售证号：" :key="item.key" :prop="`license_data.${ind}.no`" :rules="{ required: true, message: '请输入预售证号', trigger: 'blur' }">
                    <el-input class="lgInp " v-model="item.no" placeholder="请输入预售证号"></el-input>
                </el-form-item>
                <el-form-item label="预售许可证：" :prop="`license_data.${ind}.file`" :rules="{ required: true, message: '请上传预售证', trigger: 'blur' }" >
                    <div class="uploadFile">
                        <template v-if="!item.source">
                            <div class="icon"></div>
                            <p>上传图片</p>
                        </template>
                        <template v-else>
                            <img :src="item.source" alt="" ></img>
                            <div class="txt_mask">重新上传</div>
                        </template>
                        <input type="file" name="FileDate"  @change="fileChange($event,item)" accept="image/*">
                    </div>
                </el-form-item>
                <div class="del_btn" @click="delPermission(ind)"></div>
            </div>
        </div>
        <div class="add_btn" @click="addPermission('permission')">+增加证件</div>
    </div>
    <a href="javascript:;" class="submit_btn" @click="submitData('formbox3')">确认提交</a>
</el-form>