<!-- 重点信息 -->
<div class="formbox">
    <form action="" id="form">
        <div class="inpbox required" >
            <label><em>* </em>楼盘名称</label>
            <div class="inp_div">
                <div class="inp"><input type="text" name="title" value="{#$detail_title#}" placeholder="请输入楼盘名称" data-regex=".{3,60}"></div>
            </div>
        </div>
        <div class="inpbox" >
            <label>楼盘别名</label>
            <div class="inp_div">
                <div class="inp"><input type="text" name="titlealias" value="{#$detail_titlealias#}" placeholder="楼盘别名，多个可用“，”隔开" data-regex=".{3,60}"></div>
            </div>
        </div>

        <div class="inpbox required">
            <label><em>* </em>区域板块</label>
            <div class="inp_div sel_inp" >
                <div class="inp">
                    <input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}" placeholder="请选择区域板块">
                    <input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}">
                    <div class="addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id={#$detail_addrid#}>{#if $detail_addrid != '' && $detail_addrid != "''"#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split='/'#}{#else#}请选择{#/if#}</div><s></s>
                    </div>
            </div>
        </div>

        <div class="inpbox required">
            <label><em>* </em>楼盘地址</label>
            <div class="inp_div addr_inp">
                <div class="inp"><input type="text" name="addr" id="addr" value="{#$detail_addrs#}" placeholder="请选择地址" data-regex=".{2,100}"><s></s></div>
                <a href="javascript:;" class="addr_btn" @click="mapTo"></a>
            </div>
        </div>

        <!-- <div class="inpbox required">
            <label><em>* </em>区域商圈</label>
            <div class="inp_div sel_inp" >
                <div class="inp">
                    <input type="hidden" name="addrid" id="addrid" value="{#$detail_addrid#}" placeholder="请选择区域板块">
                    <input type="hidden" name="cityid" id="cityid" value="{#$detail_cityid#}">
                    <div class="addrBtn" data-field="addrid" data-ids="{#getPublicParentInfo tab='site_area' id=$detail_addrid split=' '#}" data-id={#$detail_addrid#}>{#if $detail_addrid != '' && $detail_addrid != "''"#}{#getPublicParentInfo tab='site_area' id=$detail_addrid type='typename' split='/'#}{#else#}请选择{#/if#}</div><s></s>
                    </div>
            </div>
        </div> -->

        <div class="inpbox bottom_low">
            <label><em>* </em>附近公交/地址</label>
            <div class="inp_div route_inp">
                <ul v-cloak>
                    <li v-for="item in routeArr" :data-id="item.id"><span>{{item.txt}}</span><s class="del_route" @click="delRoute(item.id)"></s></li>
                    <input type="hidden" name="subway" id="subway" value="{#$detail_subway#}" />
                    <a href="javascript:;" class="chose_route" @click="choseRoute">选择</a>
                </ul>
            </div>
        </div>

        <div class="inpbox required">
            <label><em>* </em>楼盘图片</label>
            <div class="inp_div img_upload listImgBox">
                <input type="hidden" name="litpic" value="{#$detail_litpic#}" class="imglist-hidden" placeholder="请上传楼盘图片"/>
                <div class="imgbox">
                    <div class="upload_btn filePicker uploadinp {#if $detail_litpic != ''#}hide{#/if#}" id="filePicker1" data-type="thumb"  data-count="1" data-size="{#$thumbSize#}" data-imglist="">
                        <s></s>
                        <p>点击上传图片</p>
                    </div>
                    <div class="imgShow">
                        <ul id="listSection1" class="listSection thumblist">
                            {#if $detail_litpic#}
                            <li id="WU_FILE_has_0" class="pubitem"><img src="{#$detail_litpicptah#}" data-val="{#$detail_litpic#}" data-url="{#$detail_litpicptah#}">
                                <a class="reupload li-rm" href="javascript:;">重新上传</a>
                            </li>
                            {#/if#}
                        </ul>
                        <!-- <div class="reupload">重新上传</div> -->
                    </div>
                </div>
                <p class="tip">楼盘封面图片，推荐尺寸500像素*360像素</p>
            </div>
        </div>
        <div class="inpbox required" >
            <label><em>* </em>开发商</label>
            <div class="inp_div">
                <div class="inp"><input type="text" name="investor" value="{#$detail_investor#}" id="investor" placeholder="填写开发商"></div>
            </div>
        </div>
        
        

        <div class="inpbox "  v-cloak>
            <label>参考售价</label>
            <div class="inp_div sale_inp">
                <div class="inp "><input type="text" id="price" name="price" value="{#$detail_price#}"  placeholder="请输入售价"></div>
                <select class="txt" name="ptype" style="width: auto;">
                    <option value="1" {#if !$detail_ptype||$detail_ptype==1#}selected{#/if#}>元/平</option>
                    <option value="2" {#if $detail_ptype==2#}selected{#/if#}>万元/套</option>
                </select>
                <p class="last_tip">如不填写，平台将按户型价格自动计算</p>
                <!-- <input type="hidden" name="ptype" value="1"  /> -->
            </div>
        </div>

        
        <div class="inpbox required">
            <label><em>* </em>预计开盘时间</label>
            <div class="inp_div sel_inp">
                <div class="inp "><input name="deliverdate" id="deliverdate" type="text" value="{#$detail_deliverdate|date_format:'%Y-%m-%d'#}"   placeholder="请选择开盘时间" ><s></s></div>
            </div>
        </div>
        <div class="inpbox required">
            <label><em>* </em>预计交房时间</label>
            <div class="inp_div sel_inp">
                <div class="inp "><input type="text"  name="opendate" value="{#$detail_opendate|date_format:'%Y-%m-%d'#}" id="opendate" placeholder="请选择交房时间" ><s></s></div>
            </div>
        </div>

        <!-- 隐藏 s-->
         {#*
            <div class="inpbox onepicsInp">
                <label>横幅图片</label>
                <div class="inp_div img_upload listImgBox">
                    <input type="hidden" name="banner" value="{#$detail_banner#}" class="imglist-hidden" placeholder="请上传楼盘图片">
                    <div class="imgbox">

                        <div class="upload_btn filePicker uploadinp {#if $detail_banner != ''#}hide{#/if#} " id="filePicker2" data-type="pics"  data-count="1" data-size="{#$atlasSize#}" data-imglist="">
                            <s></s>
                            <p>点击上传图片</p>
                        </div>
                        <div class="imgShow">
                            <ul id="listSection2" class="listSection thumblist">
                                {#if $detail_banner!=''#}
                                <li id="WU_FILE_has1_0" class="pubitem"><img src="{#$detail_bannerptah#}" data-val="{#$detail_banner#}" data-url="{#$detail_bannerptah#}">
                                    <a class="reupload li-rm" href="javascript:;">重新上传</a>
                                </li>
                                {#/if#}
                            </ul>
                        </div>
                    </div>
                    <p class="tip">楼盘PC端横幅主图，推荐尺寸1200像素*500像素</p>
                </div>
            </div>
            <div class="inpbox" >
                <label>售楼电话</label>
                <div class="inp_div">
                    <div class="inp"><input type="tel" name="tel" value="{#$detail_tel#}" id="tel" placeholder="填写售楼电话"></div>
                </div>
            </div>
            <div class="inpbox required"  v-cloak>
                <label><em>* </em>售价</label>
                <div class="inp_div sale_inp">
                    <div class="inp "><input type="text" name="price" value="{#$detail_price#}"  placeholder="请输入售价"></div>
                    <span class="selecte_box">
                        <select name="ptype" id="ptype">
                            {#html_options options=$ptypeList selected=$ptype#}
                            <option value="1" selected="selected">元/㎡</option>
                            <option value="2">万元/套</option>
                         </select>
                         <s></s>
                    </span>
                    <span class="txt">起</span>
                    <p class="last_tip">如尚未定价可填0</p>
                </div>
            </div>
        *#}

        <!-- 隐藏e -->

        <div class="inpbox required " v-cloak>
            <label><em>* </em>销售状态</label>
            <div class="inp_div radiobox">
                <ul >
                    <li :class="{'chose':i==salestate}" v-for="(item,i) in salestatenames" @click="salestate = i">
                         <input type="radio"  name="salestate" :value="i" :checked="i==salestate"><s></s>{{item}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="inpbox required ">
            <label><em>* </em>楼盘状态</label>
            <div class="inp_div radiobox"  v-cloak>
                <ul >
                 <li :class="{'chose':i==existing}" v-for="(item,i) in existingnames" @click="existing = i"><input type="radio" name="existing" :value="i" :checked="i==existing"><s></s>{{item}}</li>
                </ul>
            </div>
        </div>
        <div class="inpbox  ">
            <label><em>* </em>物业类型</label>
            <div class="inp_div checkbox"  v-cloak>
                <ul >
                 <li :class="{'check':protype.indexOf(item.id)>-1 }"  v-for="(item,i) in protypelist" @click="checkIn(item.id)"><input type="checkbox" name="protype[]" :value="item.id" :checked="protype.indexOf(item.id)>-1"><s></s>{{item.typename}}</li>
                 </ul>
            </div>
        </div>
        <div class="inpbox required"  v-cloak>
            <label><em>* </em>产权年限</label>
            <div class="inp_div sale_inp">
                <div class="inp "><input type="text" name="buildage" value="{#$detail_buildage#}"  placeholder="请输入产权年限"></div>
                <span class="txt">年</span>
                <!-- <p class="last_tip">如尚未定价可填0</p> -->
            </div>
        </div>
        <a href="javascript:;" class="submit" @click="submit">确认提交</a>
    </form>
</div>