<script>
    {#$timeArr = explode('-',$detail_worktime)#}
    var formScheme = {
        address:'{#$detail_address#}',
        openStart:'{#$timeArr[0]#}', //开始时间
        openEnd:'{#$timeArr[1]#}', //结束时间
        tel:'{#$detail_tel#}', //电话
        copywriting:'{#$detail_copywriting#}', //致电文案
        verify_capital:'{#$detail_verify_capital#}', //验资情况

        zhuangxiu:'{#$detail_zhuangxiuval#}', //装修情况
        decoration_price:'{#$detail_decoration_price#}', //装修单价
        planarea:'{#$detail_planarea#}', //占地面积
        buildarea:'{#$detail_buildarea#}',//建筑面积
        planhouse:'{#$detail_planhouse#}', //规划户数
        parknum:'{#$detail_parknum#}', //车位数
        above_parking:'{#$detail_above_parking#}', //地上车位数
        parking_ratio:'{#$detail_parking_ratio#}', //车位比例
        rongji:Number('{#$detail_rongji#}')||'', //容积率
        green:Number('{#$detail_green#}')||'', //绿化率
        green_area:Number('{#$detail_green_area#}')||'', //绿化面积
        property:'{#$detail_property#}', //物业公司
        proprice:'{#$detail_proprice#}', //物业费
        heating:{#$detail_heating|default:1#}, //供暖
        water:{#$detail_water|default:1#}, //水
        power:{#$detail_power|default:1#}, //电
        note:`{#$detail_note|strip_tags#}`,
        feature:'{#$detail_feature#}', //特色
        worktime:'{#$detail_worktime#}'
        // peitao:[],
    }


</script>
<el-form class="tabCon" id="formbox2" label-width="158px" :rules="rules" :model="formScheme"  ref="formScheme">
    <!-- 销售信息 -->
    <div class="formPart">
        <div class="part_tit">
            <h4>销售信息</h4>
        </div>
        <el-form-item label="售楼处地址" prop="address">
            <el-input class="lgInp " placeholder="请填写" v-model="formScheme.address">
            </el-input>
            <span class="form_tip pointD" @click="formScheme.address = '{#$detail_addrs#}'">使用楼盘地址</span>
        </el-form-item>
        <el-form-item label="售楼处服务时间" required>
            <!-- <el-input class="Inp borderL" placeholder="请填写" v-model="formScheme.openStart">
            </el-input> -->
            
            <!-- <el-input class="Inp borderR" placeholder="请填写" v-model="formScheme.openEnd">
            </el-input> -->
            <div class="disflex">
                <el-form-item prop="openStart">
                    <el-time-picker
                        value-format="HH:mm"
                        format="HH:mm"
                        class="Inp borderL"
                        v-model="formScheme.openStart"
                        placeholder="请选择">
                    </el-time-picker>
                </el-form-item>
                <span class="txtLab">至</span>
                <el-form-item prop="openEnd">
                    <el-time-picker
                        class="Inp borderR"
                        value-format="HH:mm"
                    format="HH:mm"
                        v-model="formScheme.openEnd"
                        placeholder="请选择">
                    </el-time-picker>
                </el-form-item>
            </div>
        </el-form-item>
        <el-form-item label="售楼电话" prop="address">
            <el-input class="lgInp " placeholder="请填写售楼处电话" v-model="formScheme.tel">
            </el-input>
        </el-form-item>
        <el-form-item label="致电文案" prop="copywriting">
            <el-input class="lgInp " placeholder="请填写售楼处电话" v-model="formScheme.copywriting">
            </el-input>
            <span class="form_tip">如有分机号请写入文案内以提示客户</span>
        </el-form-item>
        <el-form-item label="是否验资">
            <div class="inp_div disflex" >
                <div @click="formScheme.verify_capital = (ind == 1 ? 0 : 1)" :class="`radiobox ${(ind == 1 ? 0 : 1) == formScheme.verify_capital ? 'active' : ''}`" v-for="(item,ind) in 2">
                    <div class="radio_g"></div>
                    <span>{{ind == 1 ? '否' : '是'}}</span>
                </div>
            </div>
        </el-form-item>
    </div>

    <!-- 楼盘概况 -->
    <div class="formPart">
        <div class="part_tit">
            <h4>楼盘概况</h4>
        </div>
        <el-form-item label="装修标准" prop="zhuangxiu">
            <el-select class="selectbox smInp" v-model="formScheme.zhuangxiu" placeholder="请选择" >
                {#foreach from=$zhuangxiuList item=item key=key#}
                {#if $key#}
                <el-option
                    key="{#$key#}"
                    label="{#$item#}"
                    value="{#$key#}">
                </el-option>
                {#/if#}
                {#/foreach#}
            </el-select>
            <el-input class="Inp smInp" placeholder="装修标准" v-model="formScheme.decoration_price">
                <template slot="append">元/㎡</template>
            </el-input>
        </el-form-item>
        <el-form-item label="占地面积" prop="planarea">
            <el-input class="smInp" placeholder="请填写均价" v-model="formScheme.planarea">
                <template slot="append">㎡</template>
            </el-input>
        </el-form-item>
        <el-form-item label="建筑面积" prop="buildarea">
            <el-input class="smInp" placeholder="请填写均价" v-model="formScheme.buildarea">
                <template slot="append">㎡</template>
            </el-input>
        </el-form-item>
        <el-form-item label="规划户数" prop="planhouse">
            <el-input class="smInp" placeholder="请填写规划户数" v-model="formScheme.planhouse">
                <template slot="append">户</template>
            </el-input>
        </el-form-item>
        <el-form-item label="停车位">
            <el-col style="width:260px; margin-right: 4px;">
                <el-form-item prop="above_parking">
                    <el-input class="smInp" placeholder="地面车位" v-model="formScheme.above_parking">
                        <template slot="append">个</template>
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col style="width:260px;">
                <el-form-item prop="parknum">
                    <el-input class="smInp" placeholder="地下车位" v-model="formScheme.parknum">
                        <template slot="append">个</template>
                    </el-input>
                </el-form-item>
            </el-col>
            
        </el-form-item>
        <el-form-item label="车位比" prop="parking_ratio">
            <el-input class="smInp" placeholder="请填写" v-model="formScheme.parking_ratio">
                <template slot="prepend">1：</template>
            </el-input>
        </el-form-item>
        <el-form-item label="容积率" prop="rongji">
            <el-input class="smInp" placeholder="请输入容积率" v-model="formScheme.rongji">
            </el-input>
        </el-form-item>
        <el-form-item label="绿化率" prop="green">
            <el-input class="smInp" placeholder="请填写" v-model="formScheme.green">
                <template slot="append">%</template>
            </el-input>
            <el-input class="smInp" placeholder="绿化面积" v-model="formScheme.green_area">
                <template slot="append">㎡</template>
            </el-input>
        </el-form-item>
        <el-form-item label="物业公司" prop="property">
            <el-input class="lgInp" placeholder="请输入物业公司" v-model="formScheme.property">
            </el-input>
        </el-form-item>
        <el-form-item label="物业费" prop="proprice">
            <el-input class="lgInp" placeholder="请输入物业费" v-model="formScheme.proprice">
                <template slot="append">元/㎡/平</template>
            </el-input>
        </el-form-item>
        <el-form-item label="统一供暖" >
            <div class="inp_div disflex" >
                <div @click="formScheme.heating = (ind == 0 ? 1 : 0)" :class="`radiobox ${(ind == 0 ? 1 : 0) == formScheme.heating ? 'active' : ''}`" v-for="(item,ind) in 2">
                    <div class="radio_g"></div>
                    <span>{{ind == 0 ? '有' : '无'}}</span>
                </div>
            </div>
        </el-form-item>
        <el-form-item label="用水类型" >
            <div class="inp_div disflex" >
                <div @click="formScheme.water = (ind == 0 ? 1 : 0)" :class="`radiobox ${(ind == 0 ? 1 : 0) == formScheme.water ? 'active' : ''}`" v-for="(item,ind) in 2">
                    <div class="radio_g"></div>
                    <span>{{ind == 1 ? '商水' : '民水'}}</span>
                </div>
            </div>
        </el-form-item>
        <el-form-item label="用电类型" >
            <div class="inp_div disflex" >
                <div @click="formScheme.power = (ind == 0 ? 1 : 0)" :class="`radiobox ${(ind == 0 ? 1 : 0) == formScheme.power ? 'active' : ''}`" v-for="(item,ind) in 2">
                    <div class="radio_g"></div>
                    <span>{{ind == 1 ? '商电' : '民电'}}</span>
                </div>
            </div>
        </el-form-item>
    </div>

    <!-- 更多 -->
    <div class="formPart">
        <div class="part_tit">
            <h4>更多讲解</h4>
        </div>
        <el-form-item label="楼盘特色" style="width: 1000px;">
            {#foreach from=$featureList item=item key=key#}
            {#if $key#}
            <el-tag :class="`tagItem ${formScheme.feature.split(',').indexOf('{#$key#}') > -1 ? 'active' : ''}`" @click="choseFeature('{#$key#}')" :data-id="{#$key#}">{#$item#}</el-tag>
            {#/if#}
            {#/foreach#}
        </el-form-item>
        <el-form-item label="楼盘介绍">
           <el-input type="textarea" class="lgarea instrTextarea" v-model="formScheme.note" show-word-limit placeholder="填写楼盘介绍"></el-input>
        </el-form-item>
        <el-form-item label="配套/亮点">
           <div class="ptItem" v-for="(item,ind) in peitaoList">
                <div class="inp"><el-input placeholder="例：教育配套" v-model="item[0]"></el-input></div>
                <div class="txtarea">
                    <el-input type="textarea" v-model="item[1]" show-word-limit  placeholder="请输入配套详细内容"></el-input>
                </div>
                <div class="del_btn" @click="delPeitao(ind)"></div>
            </div>
            <div class="add_btn" @click="addPeitao">+增加一条</div>
        </el-form-item>
    </div>
    <a href="javascript:;" class="submit_btn" @click="submitData('formScheme')">确认提交</a>
</el-form>