<link rel="stylesheet" href="{#$cfg_staticPath#}css/ui/element_ui_index.css?v={#$cfg_staticVersion#}">
<script type="text/javascript" src="{#$cfg_staticPath#}js/ui/element_ui_index.js?v={#$cfg_staticVersion#}"></script>
<script>
	var detail_distributor_status = '{#$detail_distributor_status#}'
</script>
<!-- 左侧导航 -->
<div class="left_box leftNavBox">
	<ul v-cloak>
		<template v-for=" (item,i) in navList">
			<li :class="[{'curr':(item.id == currid || item.id === hoverid)},{'hasChild':item.list && item.list.length}]" :data-id="item.id" @mouseover="hoverid = item.id" @mouseleave="hoverid = ''" >
				<a :href="item.link">
					<s v-if="item.id != currid && item.id !== hoverid"><img :src="'{#$templets_skin#}images/'+item.id+'.png?v={#$cfg_staticVersion#}'" ></s>
					<s v-else><img :src="'{#$templets_skin#}images/'+item.id+'.png?v={#$cfg_staticVersion#}'" style="filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);"/></s>
					<span>{{item.txt}}</span>
				</a>
				<i :class="['arr',{'arr_down':item.hide}]" @click="item.hide = !item.hide" v-if="item.list && item.list.length"></i>
			</li>
			<div :class="['slidebox',{'slideUp':item.hide}]">
				<ul>
					<li v-if="item.list && item.list.length" v-for="child in item.list" :class="[{'curr':(child.id == currid || child.id === hoverid)}]" @mouseover="hoverid = child.id" @mouseleave="hoverid = ''">
						<a :href="child.link">
							<s></s>
							<span>{{child.txt}}</span>
						</a>
					</li>
				</ul>
			</div>
			
		</template>
	</ul>
</div>
