.img_upload.inp_div.video_upload .upload_btn s{width: 40px; height: 40px; background: url(../images/add_video.png) no-repeat center/40px}
.img_upload.inp_div .imgShow .file-panel.li-rm{position: absolute; left: 0; right: 0; bottom: 0; line-height: 30px; color: #fff; background-color: rgba(0,0,0,.6); border-radius: 0 0 4px 4px; font-size: 12px; text-align: center;}
.img_upload.inp_div .info{display: none;}
.img_upload.inp_div video{object-fit:contain !important;}
.img_upload.inp_div .imgShow video{border-radius:4px}
.img_upload.inp_div .upload_btn{margin-bottom: 0;}
.img_upload.inp_div .imgShow{width: auto;height: auto;}
.imgShow{display: grid;grid-template-columns: repeat(4,1fr);gap: 12px;}