.chzn-container {vertical-align: middle; width: 100% !important;height: 100%;}
.chzn-container-multi .chzn-choices {width: 100%;height: 100%; border: 0; padding: 0; box-shadow: none;}
.chzn-container-multi .chzn-choices .search-choice span {position: relative; width: auto; height: auto; background: transparent; line-height: 25px;}
.inpbox .inp_div{position: relative;}
.inp_div .placeholder{font-size: 14px;color: #B1B7CC;align-self: center;padding-left: 5px;}
.inp_div .inp.tags{position: relative;display: grid;padding: 6px;min-height: 46px;box-sizing: border-box;height: auto;grid-template-columns: repeat(5,1fr);gap: 6px;}
.inp_div .inp.tags .label{height: 32px;background: #F9F9F9;border-radius: 3px;border: 1px solid #CCCCCC;display: inline-flex;align-items: center;padding: 0 4px;box-sizing: border-box;cursor: pointer;justify-content: space-between;}
.inp_div .inp.tags .label span{font-size: 12px;color: #666666;margin-right: 4px;}
.inp_div .inp.tags .label img{width: 18px;height: 18px;}
.inp_div .inp.tags .label .nor{display: block;}
.inp_div .inp.tags .label .act{display: none;}
.inp_div .inp.tags .label:hover .nor{display: none;}
.inp_div .inp.tags .label:hover .act{display: block;}
.inp_div .list{position: absolute;top: 100%;z-index: 2;background: #FFFFFF;box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);border-radius: 4px;border: 1px solid #E5E5E5;width: 450px;box-sizing: border-box;}
.inp_div .list.topShow{animation: topShow 0.3s linear;display: block;}
.inp_div .list.topHide{display: none;}
.inp_div .list .item{height: 42px;border-bottom: 1px solid #F0F0F0;display: flex;align-items: center;justify-content: space-between;padding: 0 10px;cursor: pointer;}
.inp_div .list .item:last-of-type{border-bottom: 0;}
.inp_div .list .item span{font-weight: bold;font-size: 13px;color: #333333;}
.inp_div .list .item img{width: 16px;height: 16px;}
.inp_div .list .item .nor{display: block;}
.inp_div .list .item .act{display: none;}
.inp_div .list .item:hover{background: #F0F5FF;}
.inp_div .list .item.active{background: #F0F5FF;}
.inp_div .list .item.active .nor{display: none;}
.inp_div .list .item.active .act{display: block;}

@keyframes topShow{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
