.noBg{background: transparent; margin-bottom: 20px; min-height: auto;}
.disflex{display: flex;}
.a-c{align-items: center;}
.a-s{align-items: start;}
.j-b{justify-content: space-between;}
.j-e{justify-content: flex-end;}
.j-c{justify-content: center;}

/* .rConBox{min-height: auto;} */
.staticsConBox{border-radius: 10px; box-sizing: border-box; padding: 24px; height: 120px; background: #fff;}
.inCooperation{height: 220px; background: url(../images/top_bg.png) no-repeat top center/cover; }
.cooperDetail .logo{width: 56px; height: 56px; border-radius: 4px; background-color: #fff; flex-shrink: 0; margin-right: 15px;}
.cooperDetail .logo img{width: 100%; height: 100%; object-fit: cover; border-radius: 4px;}
.cooperDetail .info .tit span{font-size: 16px; color: #0F2266; font-weight: bold;}
.cooperDetail .info .tit label{display: inline-block; height: 20px; line-height: 20px; border-radius: 10px; background-color: rgba(178, 232, 255, .5); color: #08B6FF; font-size: 12px; font-weight: normal; padding: 0 9px; margin-left: 8px;}
.cooperDetail .info .tit label.status1{background-color: #FFE6E3; color: #FF4F38;}
.cooperDetail .info .tit label.status2{background-color: #BBC0C7; color: #fff;}
.cooperDetail .info p{color: #6C7080; font-size: 14px; margin-top: 6px;}
.cooperDetail .fzr{color: #919399; font-size: 14px; margin-right: 38px;}
.cooperDetail .fzr span{color: #616366;}
.cooperDetail .fzr em{color: #333; margin-left: 4px;}
.cooperDetail .stopCooper{border: 1px solid rgba(25, 102, 255, .6); background-color: transparent; width: 120px; height: 42px; box-sizing: border-box; color: #1966FF; }
.cooperDetail .stopCooper:hover{border-color: rgba(25, 102, 255, 1);}
.cooperDetail .startCooper{width: 120px; height: 42px; color: #fff; background: linear-gradient(90deg, #1966FF 0%, #3377FF 100%); border-radius: 6px; border: none;}
.cooperDetail .startCooper:hover{opacity: .88;}
.cooperDetail .moreOpt{width: 42px; height: 42px; background: rgba(211, 221, 240,.7); border-radius: 6px; margin-left: 14px; color: #525866; text-align: center; display: flex; align-items: center; justify-content: center; letter-spacing: 4px;}
.cooperDetail .moreOpt:hover{}

.staticsCon{display: grid; grid-template-columns: repeat(6,1fr); column-gap: 22px; margin-top: 22px;}
.staticsCon .staticsItem{height: 96px; background: rgba(255,255,255,.9); border-radius: 8px; border: 1px solid #FFFFFF; position: relative;}
.staticsCon .staticsItem .icon{width: 48px; height: 48px; position: absolute; right: 6px; bottom: 6px;}
.staticsCon .staticsItem .icon img{display: block; width: 100%; height: 100%; object-fit: cover;}
.staticsCon .staticsItem .textShow{padding-left: 22px; padding-top: 16px;}
.staticsCon .staticsItem h6{font-size: 14px; color: #0F2266;}
.staticsCon .staticsItem h4{font-size: 28px; color: #0F2266; font-family: moneyNumber; margin-top: 6px; }
.staticsCon .staticsItem h4 i{display: inline-block; width: 6px; height: 6px; background: #FF3355; border-radius: 50%; vertical-align: text-top; transform: translate(2px, 4px);}

.optionPopover {padding-left: 0; padding-right: 0; height: 140px; box-sizing: border-box; background: #FFFFFF; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 4px; border: 1px solid #EBEEF2;}
.optionPopover .opt{font-size: 15px; color: #555; padding-left: 50px; height: 56px; line-height: 56px; cursor: pointer;}
.optionPopover .opt:hover{background-color: #f5f5f7;}

.rConBox .tabHeaderBox{margin: 0 23px;border-bottom: solid 1px #eee;}
.rConBox .tabBox{font-size: 17px; color: #333; line-height: 52px;   position: relative;}
.rConBox .tabBox span{float: left; margin-right: 68px; cursor: pointer; opacity: 0.7; font-weight: bold;}
.rConBox .tabBox span.curr{opacity: 1;}
.rConBox .tabBox s{display: block; width: 70px; height: 2px; background-color: #2278FF; left: 0; bottom: 0; position: absolute;  transform: translatex(0px); transition: transform .3s}
.rConBox .btn_lab a{color: #1966FF; font-size: 14px; margin-left: 22px;}
.rConBox .tabCon{margin: 0 20px; padding-bottom: 64px;}

.rConBox .tabCon .llgInp{width: 900px;}
.rConBox .tabCon .lgInp{width: 450px;}
.rConBox .tabCon .Inp{width: 220px;}
.rConBox .tabCon .lgarea{width: 900px;}
.rConBox .tabCon .lgarea textarea{min-height: 86px !important;}
.el-input .suffix_text{color: #333 ; font-size: 14px; min-width: 30px; text-align: center; display: inline-block; text-align: center;}
.formPart.part1{padding-top: 58px; padding-bottom: 50px;}
.tabCon .radio{font-size: 14px; color: #333; margin-right: 33px; margin-left: 20px; cursor: pointer;}
.tabCon .radio.noMarLeft{margin-left: 0;}
.tabCon .radio i{width: 16px; display: inline-block; height: 16px; background: #FFFFFF; border-radius: 50%; border: 1px solid #AFB0B3; box-sizing: border-box; vertical-align: middle; position: relative;}
.tabCon .radio em{vertical-align: middle;}
.tabCon .radio.onCheck i{border-color: #2672EC;}
.tabCon .radio i::before{content: ''; display: block; width: 10px; height: 10px; background-color: #2672EC; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) scale(0); border-radius: 50%;}
.tabCon .radio.radio.onCheck i::before{transform: translate(-50%,-50%) scale(1);}
.rConBox .tabCon .btn_lab{display: inline-block; vertical-align: top; font-weight: normal;}
.rConBox .tabCon .form_tip{color: #8D93A6; font-size: 13px; margin-left: 10px;}
.formPart .part_tit {height: 50px; background: #F7F9FC; border-radius: 6px; margin-bottom: 40px;}
.formPart .part_tit h4{font-size: 16px; color: #333; font-weight: bold; line-height: 50px; padding: 0 20px;}
.el-form-item .el-form-label{float: left; line-height: normal;}
.el-form-item .el-form-label p{color: rgba(102, 102, 102, .6); font-size: 12px;}
.el-form-item .el-form-item__label i.icon.tip_icon{display: inline-block; cursor: pointer; width: 16px; height: 16px; background: url(../images/tip_icon1.png) no-repeat center center/cover; vertical-align: middle; transform: translateY(-1px);}
.rConBox .el-form-item__label{position: relative; z-index: 1;}
.formTipPopper {width: 400px;  box-sizing: border-box; padding: 20px 16px; background: #FFFFFF; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 8px; border: 1px solid #EDEDED;}
.formTipPopper .txtbox{line-height: 24px;}
.formTipPopper .txtbox span{color: #1966FF;}
.formTipPopper .txtbox .txt{margin-bottom: 22px;}
.formTipPopper .txtbox .txt:last-of-type{margin-bottom: 0;}
.rConBox .tabCon .dk_area{width: 900px;}
.rConBox .tabCon .dk_area textarea{min-height: 126px !important;}

.plistbox{ background: #FFFFFF; border-radius: 4px; border: 1px solid #EDEDED; padding: 10px; max-width: 850px;}
.plistbox .box_header{font-size: 14px; color: #333; line-height: 1.5em; padding: 0 6px;}
.plistbox .box_header .edit{color: #1966FF;}
.plistbox .list{padding-top: 10px;display: flex;}
.plistbox .list .item{width: 200px; height: 60px; background: #F7F8FA;  border-radius: 4px; margin-bottom: 8px; float: left; margin-right: 10px; box-sizing: border-box; padding-left: 20px; padding-right: 10px;}
.plistbox .list .item .photo{width: 30px; height: 30px; flex-shrink: 0; margin-right: 9px;  border-radius: 50%; background-color: #fff;}
.plistbox .list .item .photo img{width: 30px; height: 30px; border-radius: 50%;}
.plistbox .list .item .name{font-size: 14px; color: #333;}
.plistbox .list .item .del_btn{font-size: 20px; color: #333; width: 24px; height: 24px ; line-height: 24px; text-align: center; border-radius: 4px;}
.plistbox .list .item .del_btn:hover{background-color: #DCE0E6;}
.plistbox .list .add_btn{width: 60px; height: 60px; background: #EDF4FF; border-radius: 4px; font-size: 20px; color: #336EFF; font-weight: bold;display: flex;align-items: center;justify-content: center;}
.btn_save{margin-left: 130px; color: #fff; width: 160px; height: 46px; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); border-radius: 6px; border: none; margin-top: 65px;}
.btn_save:hover{opacity: .9; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); border: none;}


.formBox{margin: 0 20px; padding-top: 56px; padding-bottom: 90px; }
.formPart1{padding-left: 30px; position: relative;}
.formPart1 .formItemBox{margin-left: 140px; padding-top: 10px;}
.formPart1::after{content: ''; clear: both;}
.fileUpBox{float: left; width: 120px; height: 120px; position: absolute; left: 30px; top: 0;}
.fileUpBox #fileUp{position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0 ; cursor: pointer;}
.fileUpBtn,.fileUpPic{width: 120px; height: 120px; background: #F5F7FA; border-radius: 4px; text-align: center; box-sizing: border-box; padding-top: 30px;  }
.fileUpPic img{width: 100%; height: 100%; object-fit: cover;}
.fileUpPic {padding: 0;}
.fileUpPic .changeText{font-size: 12px; line-height: 30px; background-color: rgba(0,0,0,.5); color: #fff; position: absolute; left: 0; right: 0; bottom: 0; }
.fileUpBtn .el-icon{font-size: 26px; text-align: center; color: #626973;}
.fileUpBtn p{color: #666; font-size: 14px; margin-top: 8px;}
.formBox .el-input,.formBox .el-textarea{width: 450px;}

.formPart2{margin-top: 50px; padding-bottom: 56px;}
.formPart2 .part_tit {height: 50px; background: #F7F9FC; border-radius: 6px; margin-bottom: 40px;}
.formPart2 .part_tit h4{font-size: 16px; color: #333; font-weight: bold; line-height: 50px; padding: 0 20px;}
.warntext{display: inline-block; font-size: 13px; color: #8D93A6; margin-left: 15px;}
.formPart2 .el-textarea textarea{min-height: 100px !important; box-sizing: border-box;}
.btn_save{margin-left: 110px; color: #fff; width: 160px; height: 46px; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); border-radius: 6px; border: none;}
.btn_save:hover{opacity: .9; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); border: none;}

.err_tip{display: inline-block; font-size: 13px; color: #1975FF; position: static;} 
.err_tip i{font-size: 14px; margin-right: 2px;}
.err_tip.onError{color:#FF4F38; font-size: 13px;}
.copybtn{display: inline-block;width: 110px; height: 32px; background: linear-gradient(90deg, #1966FF 0%, #3377FF 100%); border-radius: 4px; color: #fff; font-size: 14px; padding: 0; border: none;}
.copybtn:hover{opacity: .9; color: #fff; border: none;}


.pop_mask.show,.reportUserPop.show{ display: flex;}
.reportUserPop{width: 860px; height: 728px; background: #FFFFFF; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; border-radius: 16px; flex-direction: column; z-index: 6;}
.reportUserPop .pop_con{flex-grow: 1;}
.reportUserPop .pop_foot{height: 92px; border-top: solid 1px #eee; flex-shrink: 0; padding: 0 30px;}
.reportUserPop .pop_foot .el-button{width: 140px; height: 46px; border-radius: 6px; font-size: 16px; color: #212121;}
.reportUserPop .pop_foot .el-button.cancel:hover{background-color: #EBEBEB; border-color: #EBEBEB;color: #212121; }
.reportUserPop .pop_foot .el-button.confirm{background-color: #266EFF; color: #fff;}
.reportUserPop .pop_foot .el-button.confirm:hover{background-color: rgb(38, 110, 255,.85); color: #fff;}
.reportUserPop .pop_head {padding: 0 20px; height: 54px; border-bottom: solid 1px #eee; flex-shrink: 0;}
.reportUserPop .pop_head h2{color: #212226; font-size: 17px; font-weight: bold;}
.reportUserPop .pop_head a.close_pop{font-size: 20px; border-radius: 4px; width: 24px; height: 24px; line-height: 24px; text-align: center;}
.reportUserPop .pop_head a.close_pop:hover{background-color: #DCE0E6;}
.reportUserPop .pop_con {align-items: stretch;}
.reportUserPop .pop_con .pop_leftCon{min-width: 480px; box-sizing: border-box; flex-grow: 1;}
.reportUserPop .pop_con .pop_rightCon{border-left: solid 1px #eee;}
.reportUserPop .pop_con .pop_con_hedder{margin: 0 30px; padding-top: 20px; padding-bottom: 20px;}
.reportUserPop .pop_con .pop_con_hedder h3{font-size: 16px; color: #212226; font-weight: bold;}
.reportUserPop .pop_con .pop_con_hedder .pop_form{margin-top: 18px;}
.reportUserPop .pop_con .pop_con_hedder .el-input{max-width: 304px;}
.pop_con_hedder .pop_form .el-input input{border-right: none;}
.pop_form .inputBox {border: solid 1px #EBEBEB;border-radius: 8px; overflow: hidden; }
.pop_form .inputBox:hover{border-color: #D9D9D9;}
.pop_form .inputBox:focus-within{border-color: #3377FF; }
.pop_form .inputBox input{border: none !important; height: 46px;}
.pop_form .el-input-group__append{background: transparent; border-left: none; border: none; }
.position_select {min-width: 100px; position: relative; z-index: 1;  }
.position_select input.el-input__inner{padding: 10px !important; color: #212121; }
.position_select input::placeholder{color: #212121;}

.reportUserPop .pop_con .pop_con_hedder .addMember{width: 108px; display: flex; align-items: center; font-size: 14px;  justify-content: center; height: 46px; background: #FFFFFF; border-radius: 8px; border: 1px solid #D9D9D9; margin-left: 10px;}
.reportUserPop .pop_con .pop_con_hedder .addMember .el-icon{color: #626973; font-size: 16px; margin-right: 4px; font-weight: bold;}
.reportUserPop .pop_con .pop_con_hedder .addMember:hover{background-color: #F2F4F7; border-color: #F2F4F7;}
.el-checkbox__inner::after{border-width:2px;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color:#266EFF; border-color: #266EFF;}
.pop_con_table {}
.pop_con_table .th{color: #212121; font-size: 15px;}

.pop_con_table .alignCenter{text-align: center;}
.pop_con_table{position: relative;}
.pop_con_table .table{max-height: 450px; overflow: auto; padding: 0 40px;}
.pop_con_table .table::-webkit-scrollbar {
    z-index: 11;
    width: 6px
}
.pop_con_table .table::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 6px;
    background: rgba(0,0,0,.15)
}
.pop_con_table .th{position: sticky; top: 0; background-color: #fff; z-index: 2; height: 40px;}
.pop_con_table .tr{height: 54px;}
.pop_con_table .td.info{width: 160px; min-width: 120px; flex-shrink: 0; color: #45474D; font-size: 14px;}
.pop_con_table .td.info .photo{width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;}
.pop_con_table .td.info .photo img{width: 100%; display: block; height: 100%; object-fit: cover; border-radius: 50%;}
.pop_con_table .td.role{flex-grow: 1; min-width: 120px;flex-basis: 1; color: #45474D; font-size: 14px;}
.pop_con_table .td.choose{width: 60px; flex-shrink: 0;}

.reportUserPop .pop_con .pop_rightCon{border-left: solid 1px #eee; width: 380px;}
.reportUserPop .pop_con .pop_rightCon .chose_item{margin: 0 20px; height: 60px;  padding: 0 14px 0 20px; margin-bottom: 8px; background: #F5F7FA; border-radius: 4px; color: #45474D; font-size: 14px;}
.reportUserPop .pop_con .pop_rightCon .chose_item .photo{width: 30px; height: 30px; border-radius: 50%; margin-right: 10px; background-color: #fff;}
.reportUserPop .pop_con .pop_rightCon .chose_item .photo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.reportUserPop .pop_con .pop_rightCon .chose_item .del{width: 24px; height: 24px;  border-radius: 4px; font-size: 18px; color: #333; font-weight: bold;}
.reportUserPop .pop_con .pop_rightCon .chose_item .del:hover{background: #DCE0E6;}
.el-loading-spinner .el-icon-loading{font-size: 40px; color: #fff;}
.el-loading-spinner .el-loading-text{font-size: 15px; color: #fff; margin-top: 10px;}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label .lab:before{    content: '*'; color: #F56C6C; margin-right: 4px;}
.noLabel .el-form-item__error{margin-left: 130px;}


.popMask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.3); z-index: 5; }
.popConBox{position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-color: #fff; border-radius: 16px; width: 860px; height: 876px; z-index:5; display: flex; flex-direction: column; display: none; animation: popup .3s ease-in-out;}
.show.popConBox{display: flex;}
.popHeader {height: 54px; padding: 0 20px; display: flex; align-items: center; justify-content: space-between;border-bottom: solid 1px #eee; flex-shrink: 0;}
.popHeader h3{font-size: 18px; color: #212226; font-weight: bold; }
.popHeader .close_pop{width: 40px; height: 40px; background: url(../images/close_pop.png) no-repeat center/20px; margin-right: -20px;}
.popCon{flex-grow: 1;}
/* .popCon{padding:0 20px;} */
.popCon .flexLeft.formbox{border-right: solid 1px #eee;}
.popCon .flexLeft.formbox{flex-grow: 1; padding: 30px 40px;}
.popCon .flexLeft.formbox .form_item{display: flex; align-items: flex-start; margin-bottom: 20px;}
.popCon .flexLeft.formbox .form_item .inpbox{flex-grow: 1;}
.popCon .flexLeft.formbox .form_item .inpbox p{color: #8D93A6; margin-top: 12px;}
.popCon .flexLeft.formbox label{padding-right: 16px; line-height: 46px; font-size: 14px; color: #4D4D4D; float: left; text-align: right; flex-shrink: 0; width: 100px;} 
.popCon .flexLeft.formbox .form_item .inpbox.sminp{max-width: 260px;}
.popCon .flexLeft.formbox .form_item .inpbox input{height: 46px;}
.popCon .flexLeft.formbox .form_item .inpbox .txt{line-height: 46px; text-align: center; width: 30px; display: block;}
.popCon .flexLeft.formbox label i{color: #FF0000; margin-right: 2px; font-style: normal;}
.form_item .upload_btn{width: 100px; height: 100px; background-color: #F5F7FA; position: relative; border-radius: 4px; } 
.form_item .upload_btn.wechatUpload{width: 120px; height: 120px;  } 
.form_item .upload_btn input{width: 100%; height: 100%; opacity: 0; position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.form_item .upload_btn::before{content: ''; width: 24px; height: 24px; background: url(../images/upload_icon.png) no-repeat center/cover; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;} 
.form_item .upload_btn img{width: 100%; height: 100%; object-fit: cover;}
.form_item .upload_btn p{width: 100px; height: 30px; background: rgba(0,0,0,.6); border-radius:0 0 6px 6px; position: absolute; left: 0; right:0; bottom: 0; color: #fff; line-height: 30px; font-size: 12px; text-align: center;}
.form_item .upload_btn.hasImg::before{display: none;}
.form_item .uploadBox .tip{color: #8D93A6; font-size: 12px; margin-left: 10px; margin-top: 16px;}

.popCon .flexRight.zwConBox{width: 360px; box-sizing: border-box; padding: 0 20px;}
.popCon .flexRight.zwConBox h4{font-size: 16px; color: #212226; font-weight: bold; margin-top: 10px; padding: 14px 0;}
.popCon .flexRight.zwConBox .zwBox{width: 320px; background: #F5F7FA; border-radius: 4px; box-sizing: border-box; padding: 14px 20px;}
.popFoot {height: 92px; display: flex; align-items: center; justify-content: flex-end; padding: 0 30px; border-top: solid 1px #eee;}
.popFoot .btn_confirm{width: 160px; height: 46px; background: #266EFF; color: #fff; font-size: 16px; border-radius: 6px; text-align: center; line-height: 46px; display: block; position: relative;}
.popFoot .btn_confirm:hover::after{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.08);}
.zwBox .selectbox{width: 100%;}
.qxBox h6{color: #4D4D4D; font-size: 14px; margin-top: 14px; margin-bottom: 16px;}
.qxBox .checkbox{margin-bottom: 14px;}
/* .qxBox .checkbox:last-of-type{margin-bottom: 0;} */
.qxBox .checkbox.disabled .el-checkbox__input.is-checked .el-checkbox__inner,.qxBox .checkbox.disabled .el-checkbox__input.is-indeterminate .el-checkbox__inner{opacity: 0.4;}

.warnTip{color: #1966FF;}
.warnTip span{color: #666666;}
.el-input__suffix{font-size: 14px;color: #333333;padding-right: 10px;}
/* 步长器隐藏 */
input[type=number] {-moz-appearance: textfield;}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}