.disflex{display: flex;}
.a-c{align-items: center;}
.a-s{align-items: start;}
.a-st{align-items: stretch;}
.j-b{justify-content: space-between;}
.j-e{justify-content: flex-end;}
.j-c{justify-content: center;}
.f-g{flex-grow: 1;}


.tabBox{height: 52px; border-bottom: solid 1px #eee; padding: 0 21px;}
.tabBox .tab{font-size: 18px; color: rgba(51,51,51,.3); font-weight: bold; margin-right: 50px; cursor: pointer;}
.tabBox .tab.active{color: #333; }

.formBox{padding: 26px 20px;}
.formBox .el-form-item__label{font-size: 14px; color: #333; padding-right: 18px;}
.formBox .boldItem .el-form-item__label{font-size: 18px; font-weight: bold; font-size: 16px; color: #333;}
.formBox .el-radio-button{margin-right: 12px;}
.formBox .el-radio-button__inner{width: 80px; height: 36px; background: rgba(235,237,240,0); border-radius: 6px !important; border: 1px solid #EBEBEB; padding: 0; display: flex; align-items: center; justify-content: center;}
.formBox .el-radio-button__inner:hover{color: #3275FA;}
.formBox .el-radio-button__orig-radio:checked+.el-radio-button__inner{background-color: #3275FA; border-color: #3275FA; color: #fff;}
.formBox p.tip{color: #8D93A6; font-size: 13px;}
.formBox p.tip span{text-decoration: underline;cursor: pointer;}
.formBox p.tip span:hover{color: #1966FF;}
.formBox .itemForm{padding: 20px; background: #F7F9FC; border-radius: 6px;}
.formBox .form_item .label.labelw{display: block; width: 150px; box-sizing: border-box; text-align: right;}
.formBox .form_item .label.labelsw{display: block; width: 90px; box-sizing: border-box; text-align: right;}
.formBox .form_item .label{ color: #666;  padding-right: 20px;}
.formBox .form_item{margin-bottom: 10px;}
.formBox .itemForm .form_item:last-of-type{margin-bottom: 0;}
/* .el-form-item .el-radio-group.radiobox {margin-bottom: 10px;} */
.el-form-item .el-radio-group.radiobox .el-radio{line-height: 40px; color: #333; font-size: 14px;}
.el-form-item .el-radio-group.radiobox .el-radio__input.is-checked+.el-radio__label{color: #333;}
.el-form-item .el-radio-group.radiobox .el-radio__input.is-checked .el-radio__inner{border-color: #2672EC; background-color: #fff;}
.el-form-item .el-radio-group.radiobox .el-radio__input.is-checked.is-disabled .el-radio__inner{opacity: .3;}
.el-form-item .el-radio-group.radiobox .el-radio__inner{ width: 16px; height: 16px; box-sizing: border-box; border-color: #AFB0B3;}
.el-form-item .el-radio-group.radiobox .el-radio__inner::after{background-color: #2672EC; width: 10px; height: 10px;}

.formBox .itemForm .bgForm{background-color: #fff; min-height: 100px; padding: 30px;}
.formBox .itemForm .bgForm .label{width: 100px; text-align: right;}
.formBox .itemForm .bgForm .el-input{width: 300px;}
.formBox .inlinebox{color: #666;}
.formBox .inlinebox .el-input{width: 110px; height: 40px; margin-left: 8px; margin-right: 6px;}
.formBox .inlinebox .tip{margin-left: 18px;}
.formBox .inlinebox .el-radio__label{color: #666 !important;}

.saveBtn,.saveBtn:focus{width: 160px; height: 46px; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); border-radius: 6px; border-color: #4281FF; font-size: 14px;}
.saveBtn:hover{opacity: .88;  background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); }

.titbox{height: 50px; background: #F7F9FC; border-radius: 6px; padding: 0 17px; margin-bottom: 36px;}
.titbox h4{font-size: 16px; color: #333; font-weight: bold; margin-right: 14px;}
.titbox p{color: #8D93A6 ;font-size: 14px;}
.textareabox .el-textarea{max-width: 900px; }
.textareabox .el-textarea textarea{min-height: 126px !important;}
.el-form-item:hover .delbtn{display: block;}
.delbtn{color: #666; font-size: 14px; padding: 0 10px; margin-left: 10px; cursor: pointer; display: none;}
.delbtn:hover{color: #333;}
.addCall{width: 100px; height: 38px; background: #EDF4FF; border-radius: 4px; color: #266EFF; font-size: 14px; border-color: #EDF4FF; padding: 0; line-height: 38px; margin-bottom: 70px;}
.addCall:focus{background: #EDF4FF;  border-color: #EDF4FF; color: #266EFF; }
.addCall i{font-size: 16px; margin-right: 6px; font-weight: bold;}
.addCall:hover{background: #266EFF; color: #fff; border-color: #266EFF;}

.el-checkbox__inner::after{border-width:2px;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color:#266EFF; border-color: #266EFF;}
.el-checkbox__input.is-checked+.el-checkbox__label{color: #5C5E66;}
.el-checkbox__input.is-checked+.el-checkbox__label em{color: #1966FF;}