.disflex{display: flex;}
.a-c{align-items: center;}
.a-s{align-items: start;}
.j-b{justify-content: space-between;}
.j-e{justify-content: flex-end;}
.j-c{justify-content: center;}


.formConBox{padding-top: 28px; padding-bottom: 28px;}
.formbox{margin: 0 20px;}
.checkBtns .checkBtn{width: 80px; height: 36px; border: 1px solid #EBEBEB; background-color: #fff; border-radius: 6px; display: inline-flex; align-items: center; justify-content: center; color: #606266; margin-right: 12px; cursor: pointer;}
.checkBtns .checkBtn:hover{background-color: #EBEBEB;}
.checkBtns .checkBtn.on_chose{background: #3275FA; border-color: #3275FA; color: #fff;}
.rConBox .formbox .llgInp{width: 900px;}
.rConBox .formbox .lgInp{width: 450px;}
.rConBox .formbox .Inp{width: 220px;}
.rConBox .formbox .lgarea{width: 900px;}
.rConBox .formbox .lgarea textarea{min-height: 86px !important;}
.formbox .radio{font-size: 14px; color: #333; margin-right: 33px; margin-left: 20px; cursor: pointer;}
.formbox .radio.noMarLeft{margin-left: 0;}
.formbox .radio i{width: 16px; display: inline-block; height: 16px; background: #FFFFFF; border-radius: 50%; border: 1px solid #AFB0B3; box-sizing: border-box; vertical-align: middle; position: relative;}
.formbox .radio em{vertical-align: middle;}
.formbox .radio.onCheck i{border-color: #2672EC;}
.formbox .radio i::before{content: ''; display: block; width: 10px; height: 10px; background-color: #2672EC; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) scale(0); border-radius: 50%;}
.formbox .radio.radio.onCheck i::before{transform: translate(-50%,-50%) scale(1);}
.el-input .suffix_text{color: #333 ; font-size: 14px; min-width: 30px; text-align: center; display: inline-block; text-align: center;}
.rConBox .formbox .form_tip{color: #8D93A6; font-size: 13px; margin-left: 10px;}
.formPart .part_tit {height: 50px; background: #F7F9FC; border-radius: 6px; margin-bottom: 40px;}
.formPart .part_tit h4{font-size: 16px; color: #333; font-weight: bold; line-height: 50px; padding: 0 20px;}
.el-form-item .el-form-label{float: left; line-height: normal;}
.el-form-item .el-form-label p{color: rgba(102, 102, 102, .6); font-size: 12px;}
.el-form-item .el-form-item__label i.icon.tip_icon{display: inline-block; cursor: pointer; width: 16px; height: 16px; background: url(../images/tip_icon1.png) no-repeat center center/cover; vertical-align: middle; transform: translateY(-1px);}
.rConBox .el-form-item__label{position: relative; z-index: 1;}
.rConBox .btn_lab a{color: #1966FF; font-size: 14px; margin-left: 22px;}
.rConBox .formbox .btn_lab{display: inline-block; vertical-align: top; font-weight: normal;}
.formTipPopper {width: 400px;  box-sizing: border-box; padding: 20px 16px; background: #FFFFFF; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 8px; border: 1px solid #EDEDED;}
.formTipPopper .txtbox{line-height: 24px;}
.formTipPopper .txtbox span{color: #1966FF;}
.formTipPopper .txtbox .txt{margin-bottom: 22px;}
.formTipPopper .txtbox .txt:last-of-type{margin-bottom: 0;}
.rConBox .formbox .dk_area{width: 900px;}
.rConBox .formbox .dk_area textarea{min-height: 126px !important;}

.plistbox{ background: #FFFFFF; border-radius: 4px; border: 1px solid #EDEDED; padding: 10px; max-width: 850px;}
.plistbox .box_header{font-size: 14px; color: #333; line-height: 1.5em; padding: 0 6px;}
.plistbox .box_header .edit{color: #1966FF;}
.plistbox .list{padding-top: 10px;display: flex}
.plistbox .list .item{width: 200px; height: 60px; background: #F7F8FA;  border-radius: 4px;float: left; margin-right: 10px; box-sizing: border-box; padding-left: 20px; padding-right: 10px;}
.plistbox .list .item .photo{width: 30px; height: 30px; flex-shrink: 0; margin-right: 9px;  border-radius: 50%; background-color: #fff;}
.plistbox .list .item .photo img{width: 30px; height: 30px; border-radius: 50%;}
.plistbox .list .item .name{font-size: 14px; color: #333;}
.plistbox .list .item .del_btn{font-size: 20px; color: #333; width: 24px; height: 24px ; line-height: 24px; text-align: center; border-radius: 4px;}
.plistbox .list .item .del_btn:hover{background-color: #DCE0E6;}
.plistbox .list .add_btn{width: 60px; height: 60px; background: #EDF4FF; border-radius: 4px; font-size: 20px; color: #336EFF; font-weight: bold;display: flex;align-items: center;justify-content: center;}
.btn_save{margin-left: 130px; color: #fff; width: 160px; height: 46px; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); border-radius: 6px; border: none; margin-top: 65px;}
.btn_save:hover{opacity: .9; background: linear-gradient(90deg, #306BFF 0%, #4281FF 100%); border: none;}


.pop_mask.show,.reportUserPop.show{ display: flex;}
.reportUserPop{width: 860px; height: 696px; background: #FFFFFF; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; border-radius: 16px; flex-direction: column; z-index: 6;}
.reportUserPop .pop_con{flex-grow: 1;}
.reportUserPop .pop_foot{height: 92px; border-top: solid 1px #eee; flex-shrink: 0; padding: 0 30px;}
.reportUserPop .pop_foot .el-button{width: 140px; height: 46px; border-radius: 6px; font-size: 16px; color: #212121;}
.reportUserPop .pop_foot .el-button.cancel:hover{background-color: #EBEBEB; border-color: #EBEBEB;color: #212121; }
.reportUserPop .pop_foot .el-button.confirm{background-color: #266EFF; color: #fff;}
.reportUserPop .pop_foot .el-button.confirm:hover{background-color: rgb(38, 110, 255,.85); color: #fff;}
.reportUserPop .pop_head {padding: 0 20px; height: 54px; border-bottom: solid 1px #eee; flex-shrink: 0;}
.reportUserPop .pop_head h2{color: #212226; font-size: 17px; font-weight: bold;}
.reportUserPop .pop_head a.close_pop{font-size: 20px; border-radius: 4px; width: 24px; height: 24px; line-height: 24px; text-align: center;}
.reportUserPop .pop_head a.close_pop:hover{background-color: #DCE0E6;}
.reportUserPop .pop_con {align-items: stretch;}
.reportUserPop .pop_con .pop_leftCon{min-width: 480px; box-sizing: border-box; flex-grow: 1;}
.reportUserPop .pop_con .pop_rightCon{border-left: solid 1px #eee;}
.reportUserPop .pop_con .pop_con_hedder{margin: 0 30px; padding-top: 20px; padding-bottom: 20px;}
.reportUserPop .pop_con .pop_con_hedder h3{font-size: 16px; color: #212226; font-weight: bold;}
.reportUserPop .pop_con .pop_con_hedder .pop_form{margin-top: 18px;}
.reportUserPop .pop_con .pop_con_hedder .el-input{max-width: 304px;}
.pop_con_hedder .pop_form .el-input input{border-right: none;}
.pop_form .inputBox {border: solid 1px #EBEBEB;border-radius: 8px; overflow: hidden; }
.pop_form .inputBox:hover{border-color: #D9D9D9;}
.pop_form .inputBox:focus-within{border-color: #3377FF; }
.pop_form .inputBox input{border: none !important; height: 46px;}
.pop_form .el-input-group__append{background: transparent; border-left: none; border: none; }
.position_select {min-width: 100px; position: relative; z-index: 1;  }
.position_select input.el-input__inner{padding: 10px !important; color: #212121; }
.position_select input::placeholder{color: #212121;}

.reportUserPop .pop_con .pop_con_hedder .addMember{width: 108px; display: flex; align-items: center; font-size: 14px;  justify-content: center; height: 46px; background: #FFFFFF; border-radius: 8px; border: 1px solid #D9D9D9; margin-left: 10px;}
.reportUserPop .pop_con .pop_con_hedder .addMember .el-icon{color: #626973; font-size: 16px; margin-right: 4px; font-weight: bold;}
.reportUserPop .pop_con .pop_con_hedder .addMember:hover{background-color: #F2F4F7; border-color: #F2F4F7;}
.el-checkbox__inner::after{border-width:2px;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color:#266EFF; border-color: #266EFF;}
.pop_con_table {}
.pop_con_table .th{color: #212121; font-size: 15px;}

.pop_con_table .alignCenter{text-align: center;}
.pop_con_table{position: relative;}
.pop_con_table .table{max-height: 450px; overflow: auto; padding: 0 40px;}
.pop_con_table .table::-webkit-scrollbar {
    z-index: 11;
    width: 6px
}
.pop_con_table .table::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 6px;
    background: rgba(0,0,0,.15)
}
.pop_con_table .th{position: sticky; top: 0; background-color: #fff; z-index: 2; height: 40px;}
.pop_con_table .tr{height: 54px;}
.pop_con_table .td.info{width: 160px; min-width: 120px; flex-shrink: 0; color: #45474D; font-size: 14px;}
.pop_con_table .td.info .photo{width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;}
.pop_con_table .td.info .photo img{width: 100%; display: block; height: 100%; object-fit: cover; border-radius: 50%;}
.pop_con_table .td.role{flex-grow: 1; min-width: 120px;flex-basis: 1; color: #45474D; font-size: 14px;}
.pop_con_table .td.choose{width: 60px; flex-shrink: 0;}

.reportUserPop .pop_con .pop_rightCon{border-left: solid 1px #eee; width: 380px;}
.reportUserPop .pop_con .pop_rightCon .chose_item{margin: 0 20px; height: 60px;  padding: 0 14px 0 20px; margin-bottom: 8px; background: #F5F7FA; border-radius: 4px; color: #45474D; font-size: 14px;}
.reportUserPop .pop_con .pop_rightCon .chose_item .photo{width: 30px; height: 30px; border-radius: 50%; margin-right: 10px; background-color: #fff;}
.reportUserPop .pop_con .pop_rightCon .chose_item .photo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.reportUserPop .pop_con .pop_rightCon .chose_item .del{width: 24px; height: 24px;  border-radius: 4px; font-size: 18px; color: #333; font-weight: bold;display: flex;align-items: center;justify-content: center;}
.reportUserPop .pop_con .pop_rightCon .chose_item .del:hover{background: #DCE0E6;}
.el-loading-spinner .el-icon-loading{font-size: 40px; color: #fff;}
.el-loading-spinner .el-loading-text{font-size: 15px; color: #fff; margin-top: 10px;}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label .lab:before{    content: '*'; color: #F56C6C; margin-right: 4px;}
.noLabel .el-form-item__error{margin-left: 130px;}
/* 步长器隐藏 */
input[type=number] {-moz-appearance: textfield;}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}