.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color: #266EFF; border-color: #266EFF; }
.el-checkbox__input.is-checked+.el-checkbox__label{color: #266EFF;}
.disflex{display: flex; align-items: center; gap: 35px;}
.headbox{height: 84rpx; display: flex; align-items: center; justify-content: space-between;}
.headbox .left_list{flex-grow: 1; min-width: 0; }
.headbox .right{flex-shrink: 0;}
.headbox .post_ul{white-space: nowrap; overflow: auto;}
.headbox .post_ul::-webkit-scrollbar{ width: 0px; height: 4px; border-radius: 4px; background: none;}
.headbox .post_ul::-webkit-scrollbar-thumb{    border-radius: 5px; -webkit-box-shadow: inset 0 0 5px #bec0c4; background: #bec0c4;}
.headbox .post_li{padding: 0 15px; cursor: pointer; height: 38px; color: #606266; font-size: 14px; border-radius: 6px; margin-right: 12px; display: inline-block; line-height: 38px;}
.headbox .post_li em{color: #909399;}
.headbox .post_li:hover{background-color: #F2F4F7;}
.headbox .post_li.active{color: #fff; background-color: #3377FF;}
.headbox .post_li.active em{color: #fff;}
.headbox .btn{width: 120px;  color: #fff; font-size: 14px; height: 42px; background: #3377FF; border-radius: 6px; line-height: 42px; text-align: center; float: left; margin-left: 12px; cursor: pointer;}
.headbox .btn.add_post{background: linear-gradient(90deg, #1966FF 0%, #3377FF 100%);}
.headbox .btn.add_member::before{content: ''; display: block; width: 20px; height: 20px; background: url(../images/add_icon.png) no-repeat center/cover; margin-right: 4px;}
.headbox .btn.add_member{display: flex; align-items: center; justify-content: center;}

.wx_tip{height: 60px; background: #F2F7FF; box-shadow: 1px 5px 16px 0px rgba(0,15,77,0.04); border-radius: 8px; border: 1px solid #DEEBFF; padding:0 20px ; display: flex; align-items: center; font-size: 15px; color: #4C5059; margin: 0 20px 20px;}
.wx_tip i{display: block; width: 20px; height: 20px; background: url(../images/tip_icon.png) no-repeat center/cover; margin-right: 8px;}
.listbox { margin-top: 25px; min-height: 450px; border: solid 1px #eee; }
.listbox .alignRight { text-align: left !important; padding-left: 20px; box-sizing: border-box; }
.listbox .alignCenter { text-align: center; justify-content: center; }
.listbox .table_row { border-bottom: solid 1px #eee; height: 80px; box-sizing: border-box; color: #5C5E66;}
.listbox .titlebox { height: 50px; background: #F5F5F7; font-size: 14px; color: #333; border-bottom: solid 1px #eee; }
.listbox   .cell { float: left; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.listbox .titlebox  .cell { line-height: 48px;  }
.listbox .cell.blue { color: #2672EC !important; }
.listbox .cell.grey { color: #999 !important; }
.listbox .col5 { width: 50%; box-sizing: border-box;  }
.listbox .col4 { width: 40%; }
.listbox .col3 { width: 30%; box-sizing: border-box; padding-left: 20px; }
.listbox .col1 { width: 10%; text-align: center; }
.listbox .col25 { width: 25%; text-align: center; }
.listbox .col35 { width: 35%; text-align: center; }
.listbox .col45 { width: 45%; text-align: center; }
.listbox .col2 { width: 20% }
.listbox .col15 { width: 15% }

.listbox .table_row .cell{height: 80px; display: flex; align-items: center;}
.listbox .table_row .cell .quanxian{display: inline-block; height: 22px; color: #08B6FF; font-size: 13px; border-radius: 11px; padding: 0 9px; line-height: 22px; background-color: #E3F7FF;}
.listbox .table_row .cell .quanxian.off{background-color: #BBC0C7; color: #fff;}
.listbox .table_row .cell .name{color: #17171A; font-size: 16px; margin-right: 12px;}
.listbox .table_row .cell .photo{width: 52px; height: 52px; border-radius: 50%; background-color: #f5f5f5;}
.listbox .table_row .cell .photo img{display: block; width: 100%; height: 100%; object-fit: cover;}
.listbox .table_row .cell .btns a{font-size: 14px; color: #8D93A6;}
.listbox .table_row .cell .btns .blue{color: #1966FF;}
.listbox .table_row .cell .tel::before{content: ''; display: inline-block; width: 18px; height: 18px; background: url(../images/tel_blue.png) no-repeat center/cover; margin-right: 4px;}
.listbox .table_row .cell .tel{display: flex; align-items: center;}
.qxSetBox{display: flex; flex-wrap: wrap;}
.qxSetBox.moreMargin .el-checkbox{margin-right: 65px;}
.listbox .table_row .cell .htitle{color: #17171A; font-size: 15px; font-weight: bold;}
.listbox .table_row .cell .htitle .edit_icon{display: inline-block; width: 20px; height: 20px; background: url(../images/edit_icon.png) no-repeat center/cover; margin-left: 2px; vertical-align: middle; cursor: pointer;} 
.listbox .table_row .cell .htitle .tip_icon{width: 16px; height: 16px; background: url(../images/tip_icon1.png) no-repeat center/cover; display: inline-block; vertical-align: middle; }
.listbox .table_row .cell .saveBtn{width: 70px; height: 34px; background: #3377FF; border-radius: 6px; color: #fff; font-size: 14px; display: flex; align-items: center; justify-content: center; margin-left: 38px; cursor: pointer;}
.listbox .table_row .cell .saveBtn:hover{background: #2B6ED0;}
.tipConBox .tipCon{font-size: 14px; color: #333; line-height: 24px;}
.tipConBox .tipCon span{color: #266EFF;}
.tipConBox {transform: translateX(-38px); padding: 20px;}
.tipConBox  .popper__arrow{transform: translateX(30px);}
.el-checkbox__inner::after{border-width:2px;}