.disflex{display: flex;}
.a-c{align-items: center;}
.a-s{align-items: start;}
.a-st{align-items: stretch;}
.j-b{justify-content: space-between;}
.j-e{justify-content: flex-end;}
.j-c{justify-content: center;}
.f-g{flex-grow: 1;}

.rConBox>.h3{padding-right: 16px; border-bottom: solid 1px #eee;}
.rConBox>.h3 h3{border: none;}
.rConBox .refresh_btn{display: flex; align-items: center;min-width: 106px; height: 24px; background: #E3ECFF; border-radius: 12px; box-sizing: border-box; padding: 0 7px; color: #266EFF; font-size: 14px;}
.rConBox .refresh_btn::before{content: ''; display: block; width: 16px; height: 16px; background: url(../images/blue_gou.png) no-repeat center/cover;}
.refresh_tip{color: #909299; font-size: 13px; margin-left: 4px;}
.refresh_tip span{text-decoration: underline;cursor: pointer;}
.refresh_tip span:hover{color: #1966FF;}
.rConBox{min-height: calc(100vh - 300px);}
.headbox{height: 84rpx; display: flex; align-items: center; justify-content: space-between;}
.headbox .left_list{flex-grow: 1; min-width: 0; flex-shrink: 0; }
.headbox .right{flex-grow: 1; display: flex; justify-content: flex-end;}
.headbox .right .selectbox{float: left; margin-left: 10px; width: 168px;}
.headbox .right .selectbox input,.headbox .right .search input{ height: 42px;}
.headbox .right .search{width: 228px; float: left; margin-left: 10px;}
.headbox .right .search .el-icon{width: 30px; line-height: 40px; font-size: 18px; color: #828799; cursor: pointer;}
.headbox .post_li.active::after{content: ''; display: block; width: 30px; height: 5px; border-radius: 3px; background-color: #2278FF; position: absolute; bottom: -5px; left: 0; right: 0; margin: auto;}
.headbox .post_li{cursor: pointer; height: 38px; color: #6C7080; font-size: 15px; border-radius: 6px; margin-right: 30px; display: inline-block; line-height: 38px; position: relative;}
.headbox .post_li.active{color: #292B33; font-weight: bold;}
.headbox .post_li .tag{display: inline-block; padding: 0 4px; min-width: 20px; text-align: center; box-sizing: border-box; height: 20px; line-height: 20px; border-radius: 10px; background-color: #FF4F38; color: #fff; font-size: 14px; }
/* .headbox .post_li.has_new{margin-right: 60px;} */
.headbox .btn{width: 120px;  color: #fff; font-size: 14px; height: 42px; background: #08B6FF; border-radius: 6px; line-height: 42px; text-align: center; float: left; margin-left: 12px; cursor: pointer; position: relative; display: flex; align-items: center; justify-content: center;}
.headbox .btn.import_btn{background: #00195A; position: relative;}
.headbox .btn.import_btn .uploadFile{position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; cursor: pointer;}
.headbox .btn::before{content: ''; display: block; width: 20px; height: 20px; background: url(../images/export_icon.png) no-repeat center/cover; margin-right: 4px;}
.headbox .btn.import_btn::before{background-image: url(../images/import_icon.png);}
/* .headbox .btn{display: flex; align-items: center; justify-content: center;} */
.headbox .btn:hover::after{content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; pointer-events: none; background-color: rgba(0,0,0,.08);}

.bodyBox{margin-top: 20px;}
 .el-table .grey_row th.el-table__cell{background-color: #F7F9FC;}
 .el-table .grey_row th.el-table__cell.el-table-column--selection .cell {visibility: hidden;}
 .el-table .el-table__body .el-table__cell{height: 70px;}
 .el-table .phone_text{color: #9598A6; margin-left: 4px;}
 .el-table .cancelReport{color: #8D93A6; font-size: 14px; margin-left: 36px; white-space: nowrap;}
 .el-table .link{color: #1966FF;}
 .el-table .confirm_btn{height: 34px; flex-shrink: 0; background: #FFFFFF; padding:  0 10px; box-sizing: border-box; min-width: 66px; border-radius: 6px; border: 1px solid #6699FF; font-size: 14px; color: #1966FF;}
 .el-table .confirm_btn:hover{background-color: rgba(102, 153, 255, 0.1); border-color:rgba(102, 153, 255, 0.1) ;}
 .el-table .confirm_btn.el-button--primary{background-color: #266EFF; border-top: #266EFF; color: #fff;}
 .el-table .confirm_btn.el-button--primary:hover{opacity: .88;}
.el-table .el-tag.tag_1{background-color: #EBF9FF; border-color: #08B6FF; color: #08B6FF; cursor: pointer;}
.el-table .el-tag.tag_2{background-color: #F5F7FA; border-color: #CEDAF2; color: #7D8FB3; cursor: pointer;}
.el-table .tel_icon.icon{width: 16px; height: 16px; background: url(../images/tel_blue.png) no-repeat center/cover; margin-right: 5px;}
.el-table .tip_icon{width: 16px; height: 16px; background: url(../images/tip_icon1.png) no-repeat center/cover; display: inline-block; vertical-align: middle;}
.el-table .v_pic{width: 30px; height: 30px; border-radius: 2px; background-color: #D9D9D9; margin-left: 6px; position: relative; position: relative; flex-shrink: 0;}
.el-table .v_pic img{width: 100%; height: 100%; object-fit: cover; border-radius: 2px;}
.el-table .v_pic span{position: absolute; top: 0; bottom: 0; left: 0; right: 0; border-radius: 2px; color: #fff; background-color: rgba(0,0,0,.3);}
.bodyBox .optBox{height: 70px; color: #5C5E66; font-size: 14px; cursor: pointer;}
.bodyBox .optBox .el-checkbox{margin-right: 10px;}
.reportInfoPopover{box-sizing: border-box; height: 170px; background: #FFFFFF; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 8px; border: 1px solid #EDEDED; padding: 20px;}
.reportInfo .cpInfo {padding-bottom: 18px; border-bottom: solid 1px #F0F2F7;}
.reportInfo .cpInfo .logo{width: 48px; height: 48px; border-radius: 4px; margin-right: 12px;}
.reportInfo .cpInfo .logo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 4px;}
.reportInfo .cpInfo h4{font-size: 14px; color: #1C1D21; }
.reportInfo .cpInfo p{font-size: 14px; color: #6C7080; margin-top: 6px; }
.reportInfo .peopleInfo{line-height: 28px; color: #616366; font-size: 14px; padding-top: 10px;}
.reportInfo .peopleInfo label{color: #A6A6A6; margin-right: 4px;}
.el-checkbox__inner::after{border-width:2px;}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color:#266EFF; border-color: #266EFF;}
.el-checkbox__input.is-checked+.el-checkbox__label{color: #5C5E66;}
.el-checkbox__input.is-checked+.el-checkbox__label em{color: #1966FF;}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{min-width: 32px; font-size: 14px; height: 32px; background-color: transparent; border: solid 1px #D9D9D9; font-weight: normal; box-sizing: border-box; line-height: 30px; padding: 0 5px; border-radius: 2px;}
.el-pagination.is-background .el-pager li:not(.disabled).active{border-color:#027CFF ; color: #fff; background-color: #027CFF;}
.el-pagination button[disabled='disabled']{opacity: 0;}

/* 成交弹窗 */
.Popbox.show,.pop_mask.show{display: block;}
.dealPop{width: 820px; height: 816px;}
.dealPop .pop_head {padding: 0 20px; height: 54px; border-bottom: solid 1px #eee; flex-shrink: 0;}
.dealPop .pop_head h2{color: #212226; font-size: 17px; font-weight: bold;}
.dealPop .pop_head a.close_pop{font-size: 20px; border-radius: 4px; width: 24px; height: 24px; line-height: 24px; text-align: center;}
.dealPop .pop_head a.close_pop:hover{background-color: #DCE0E6;}
.dealPop .pop_con{padding: 20px 24px 6px; max-height: 660px; box-sizing: border-box; overflow: auto;}
.dealPop .pop_con .dealInfo{height: 130px; background: linear-gradient(90deg, #EDF6FF 0%, #F6FCFF 100%); border-radius: 6px; padding: 20px 28px; box-sizing: border-box;}
.dealPop .pop_con .dealInfo h2{font-weight: bold; color: #17171A; font-size: 15px;}
.dealPop .pop_con .dealInfo h2 b{color: #3377FF;}
.dealPop .pop_con .dealInfo ul{overflow: hidden; display: block; padding-left: 6px; margin-top: 14px;}
.dealPop .pop_con .dealInfo li{float: left; line-height: 30px; color: #17171A; font-size: 14px; width: 40%;}
.dealPop .pop_con .dealInfo li label{color: #999; min-width: 70px; display: inline-block;}
.dealPop .pop_foot{ height: 100px; border-top: solid 1px #eee;}
.dealPop .pop_foot .btns_group{height: 100%; margin-right: 30px;}
.dealPop .pop_foot .btns_group .el-button{min-width: 140px; height: 46px; border-radius: 6px; font-size: 16px;}
.dealPop .pop_foot .btns_group .el-button.submit_btn {background-color: #266EFF ; border-color: #266EFF;}
.dealPop .pop_foot .btns_group .el-button.submit_btn:hover{opacity: .88;}
.dealPop .pop_foot .btns_group .el-button.cancel_btn{color: #212121;}
.dealPop .pop_foot .btns_group .el-button.cancel_btn:hover{background-color: #f5f5f5; border-color: #f5f5f5;}

.el-form.formbox{padding-top: 30px;}
.el-form.formbox .el-form-item__label{line-height: 48px;}
.el-form-item{margin-bottom: 20px;}
.el-form-item.formPicbox{margin-bottom: 10px;}
.el-form-item .purchase_inp{width: 200px; }
.el-form-item .dong{width: 120px; }
.el-form-item .danyuan{width: 100px; }
.el-form-item .sminp{margin-right: 22px;  font-size: 16px;}
.el-form-item .sminp .tip{color: #8D93A6; font-size: 14px;}
.el-form-item .inpbox{ margin-right: 9px;}
.el-form-item .inpbox input{height: 48px; font-size: 16px;}
.el-form-item .inpbox input::placeholder{color: #C0C2CC; font-size: 16px; font-weight: normal;}
.el-form-item .sminp .inpbox input{font-size: 18px; font-weight: bold; color: #212226;}
.el-form-item .el-radio-group {margin-bottom: 10px;}
.el-form-item .el-radio-group .el-radio{line-height: 48px; color: #333; font-size: 14px;}
.el-radio__input.is-checked+.el-radio__label{color: #333;}
.el-radio__input.is-checked .el-radio__inner{border-color: #2672EC; background-color: #fff;}
.el-radio__inner{ width: 16px; height: 16px; box-sizing: border-box; border-color: #AFB0B3;}
.el-radio__inner::after{background-color: #2672EC; width: 10px; height: 10px;}
.uploadBox{width: 120px; height: 120px; background: #F7F9FA; border-radius: 4px; position: relative; float: left; margin-right: 10px; margin-bottom: 10px; }
.uploadBox img{display: block; width: 100%; height: 100%; border-radius: 4px; object-fit: cover;}
.uploadBox .upPlace{color: #8D92A6; font-size: 14px; flex-direction: column; width: 100%; height: 100%;}
.uploadBox .upPlace::before{content: ''; display: block; width: 24px; height: 24px; background: url(../images/upload_icon1.png) no-repeat center/cover;}
.uploadBox input{position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;}
.uploadBox .reUptext{display: block; text-align: center; background-color: rgba(0,0,0,.3); color: #fff; font-size: 12px; line-height: 30px; position: absolute; left: 0; right: 0; bottom: 0; border-radius: 0 0 4px 4px;}
.uploadBox .del{position: absolute; right: -4px; top: -4px; color: #666; font-size: 20px; background-color: #fff; border-radius: 25%; width: 20px; height: 20px;}

.certificate_mask{z-index: 3;}
.certificatePop{top: 98px; bottom: 42px; width: 60%; min-width: 800px; align-items: stretch;}
.certificatePop.show{display: flex;}
.certificatePop .flPicBox{flex-grow: 1;}
.certificatePop .frReportBox{width: 360px; flex-shrink: 0; border-left: solid 1px #eee; box-sizing: border-box; padding: 20px;}
.repInfoBox{background: #F7FAFF; border-radius: 10px; min-height: 360px; box-sizing: border-box; padding: 38px 20px 20px; position: relative;}
.repInfoBox  .rp_lab{min-width: 60px; height: 24px; background: linear-gradient(90deg, #FFE9DE 0%, #FFF0E6 100%); border-radius: 10px 2px 10px 2px; color: #BF8673; font-size: 12px; position: absolute; top: -6px; left: -4px;}
.repInfoBox .repUser{margin-bottom: 24px;}
.repInfoBox .photo{width: 52px; height: 52px; border-radius: 50%; margin-right: 10px; background-color: #fff;}
.repInfoBox .photo img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%; display: block;}
.repInfoBox .repUser h4{font-size: 17px; color: #17171A; font-weight: bold;}
.repInfoBox li{font-size: 14px; line-height: 28px;}
.repInfoBox li label{color: #A6A6A6;}
.repInfoBox .btns{margin-top: 20px;}
.repInfoBox .btns .btn .el-button{width: 100%; height: 50px; border-radius: 8px;}
.repInfoBox .btns .btn .el-button.btn_check{background: rgba(255, 255, 255, 0); height: 50px; font-weight: bold; font-size: 17px; border-radius: 6px; border: 1px solid #FF7300; color: #FF7300; }
.repInfoBox .btns .btn .el-button.confirm_btn{background-color: #3377FF; color: #fff; font-weight: bold; font-size: 17px; border-color: #3377FF; }
.repInfoBox .btns .btn .el-button.confirm_btn:hover{opacity: .88;}
.repInfoBox .btns .btn .el-button.confirm_btn.redBtn{background-color: #D92E00; border-color: #D92E00;}
.repInfoBox .btns .btn{margin-bottom: 16px; }
.repInfoBox .btns .btn .el-button.cancel_btn{font-size: 15px; color: #212121; border-color: #EDEDED;}
.repInfoBox .btns .btn .el-button.cancel_btn:focus{background-color: #fff;}
.repInfoBox .btns .btn .el-button.cancel_btn:hover{background-color: #ededed !important;}
.flPicBox{flex-direction: column;}
.flPicBox .p_h h4{font-size: 17px; color: #212226; font-weight: bold; line-height: 62px; padding: 0 20px;}
.flPicBox .pic_box{ flex-grow: 1; box-sizing: border-box; padding: 0 50px; overflow: auto; display: flex; align-items: center; position: relative;}
.flPicBox .pic_box .imgBox{ margin: 0 22px; flex-grow: 1;}
.flPicBox .pic_box .imgBox img{display: block; width: 100%;}
.flPicBox .pic_box .el-carousel{ height: 100%; width: 100%;}
.flPicBox .pic_box .el-carousel img{ width: 100%; height: 100%; object-fit: contain;}
.flPicBox .p_b{ height: 88px; display: flex; align-items: center; justify-content: center;}
.flPicBox .p_b li{width: 30px; height: 30px; /* background: #212121;*/ border-radius: 2px; position: relative; overflow: hidden; margin-left: 6px; cursor: pointer;}
.flPicBox .p_b li img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 2px;}
.flPicBox .p_b li span{display: flex; align-items: center; justify-content: center; font-size: 14px; color: #fff; background-color: rgba(0,0,0,.2); position: absolute; left: 0; right: 0; top: 0; bottom: 0;border-radius: 2px; }
.flPicBox .p_b li:first-of-type{margin-left: 0;}
.flPicBox .p_b li.active span{background-color: #3377FF;  }
.certificatePop .close_pop{position: absolute; right: -47px; top: 2px; width: 32px; height: 32px; background: url(../images/close_pop_icon.png) no-repeat center/cover; }
.img_tag{font-size: 12px; display: block; position: absolute; left: 50px; bottom: 0; height: 24px; line-height: 24px; background: rgba(51, 119, 255,.6); border-radius: 0px 10px 0px 0px; color: #fff; padding: 0 10px;}
.confirmVerify-dialog{width: 540px; height: 320px; background: #FFFFFF; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08); border-radius: 8px; border: 1px solid #EDEDED;}
.confirmVerify-dialog .confirm_header{height: 70px;}
.confirmVerify-dialog .confirm_header_title{color: #333; font-size: 16px; font-weight: bold;}
.confirmVerify-dialog .confirm_header span{display: inline-block; min-width: 90px; height: 34px; background: #F5F7FA; border-radius: 4px; text-align: center; line-height: 34px; font-size: 14px; background-color: #F5F7FA; color:  #8D91A6; box-sizing: border-box; padding: 0 16px; margin-left: 10px; cursor: pointer;}
.confirmVerify-dialog .confirm_header span.on_chose{background-color: #FFEDF1; color: #F52D5C;}
.confirmVerify-dialog  .confirm_content textarea{width: 100%;height: 96px; background: #FFFFFF; border-radius: 6px; border: 1px solid #EEEEEE; padding: 16px 12px; box-sizing: border-box;}
.confirmVerify-dialog  .confirm_content textarea:focus{outline: #027CFF solid 1px;}
.confirmVerify-dialog.confirm-dialog .el-message-box__content{height: auto; min-height: 100px;}
.confirmVerify-dialog.confirm-dialog .el-message-box__message{margin: auto;}

.el-popper.confirmVerify-dialog{width: 540px; height: 270px; box-sizing: border-box; padding: 0 24px 24px;}
.el-popper.confirmVerify-dialog .btns{text-align: right; margin: 0; margin-top: 30px;}
.el-popper.confirmVerify-dialog .el-button{width: 120px; height: 42px; border-radius: 6px; font-size: 14px; color: #666;}
.el-popper.confirmVerify-dialog .el-button.el-button--default:not(.el-button--primary):hover{background-color: #EBECED; border-color: #EBECED; opacity: 1; color: #666;}
.el-popper.confirmVerify-dialog .el-button.el-button--primary{background-color: #266EFF; border-color: #266EFF; color: #fff;}
.el-popper.confirmVerify-dialog .el-button.el-button--primary:hover{opacity: .88;}
.el-popper.confirmVerify-dialog .el-button.confirm_del_btn{background-color: #FD687A; border-color: #FD687A;}


.confirm-deal-dialog.confirm-dialog{width: 640px; height: 280px; border-radius: 12px; box-sizing: border-box; box-shadow: 1px 8px 40px 0px rgba(0,15,77,0.08);}
.confirm-deal-dialog.confirm-dialog .el-message-box__header{padding-left: 25px; padding-top: 26px; padding-bottom: 10px;}
.confirm-dialog.confirm-deal-dialog .el-message-box__content{height: auto; color: #666; padding-left: 20px; padding-top: 0;}
.confirm-dialog.confirm-deal-dialog .el-message-box__message{margin-left: 0; margin-right: 0;}
.confirm-dialog.confirm-deal-dialog .inpDiv {margin-top: 20px;}
.confirm-dialog.confirm-deal-dialog .inpDiv span{margin-right: 22px;}
.confirm-dialog.confirm-deal-dialog .inpDiv span:last-child{margin-right: 0;}
.confirm-dialog.confirm-deal-dialog .inpDiv input{outline: none; width: 120px; border: solid 1px #EDEDED; height: 48px; margin-right: 8px; border-radius: 4px; padding: 0 12px; color: #212226; font-size: 18px; font-weight: bold;}
.confirm-dialog.confirm-deal-dialog .inpDiv input::placeholder{color: #C0C2CC; font-size: 16px;}
.confirm-dialog.confirm-deal-dialog .el-message-box__message p.tip{ margin-top: 12px; color: #8D93A6;}
.confirm-dialog.confirm-deal-dialog .el-message-box__btns .el-button.confirm_del_btn{background-color: #D92E00; border-color: #D92E00;}



/* 报备详情弹窗 */
.reportPop_mask{background-color: #F5F7FA; z-index: 3;}
.reportPop.show{display: flex;}
.reportPop .close_pop{font-size: 20px; color: #333; position: fixed; right: 40px; top: 98px; width: 24px; height: 24px; display: flex; align-items: center; justify-content: center; border-radius: 4px;}
.reportPop .close_pop:hover{background-color: #DCE0E6;}
.reportPop .pop_header{height: 60px; padding: 0 20px;}
.reportPop .pop_header h4{font-weight: bold; color: #212226; font-size: 18px; line-height: 60px;}
.reportPop{top: 98px; bottom: 58px; width: 68%; background: linear-gradient(180deg,#E5EEFF 0, #fff 358px, #fff 100% ) #fff; flex-direction: column; z-index: 3;}
.reportPop.failPop{background: linear-gradient(180deg,#E8EAED 0, #fff 358px, #fff 100% ) #fff;}
.reportPop .pop_header{flex-shrink: 0;}
.reportPop .pop_con{flex-grow: 1; min-height: 0; }
.reportPop .fl_popcon{flex-grow: 1; padding-bottom: 40px; display: flex; flex-direction: column; position: relative; min-height: 0;}
.reportPop .fr_popcon{width: 360px;  flex-shrink: 0;  border-left: 1px solid #eee;  box-sizing: border-box; padding: 0 20px; }
.reportPop .fr_popcon .repInfoBox{background-color: #fff;}
.customerInfoBox{margin: 0 30px; min-height: 180px; padding:0 20px; border-radius: 10px; background-color: #fff; position: relative; display: flex; flex-direction: column; }
.customerInfoBox .customerInfo{box-sizing: border-box; padding: 26px 6px 0; flex-shrink: 0; padding-bottom: 10px;}
.customerInfoBox .customerInfo h3{font-size: 22px; color: #17171A; font-weight: bold; margin-bottom: 16px;}
.customerInfoBox .customerInfo h3 span{font-size: 16px; color: #266EFF; font-family: moneyNumber;}
.customerInfoBox .customerInfo_title{min-width: 60px; height: 24px; background: linear-gradient(90deg, #FFE9DE 0%, #FFF0E6 100%); border-radius: 10px 2px 10px 2px; color: #BF8673; font-size: 12px; position: absolute; top: -6px; left: -4px; text-align: center; padding: 0 8px; line-height: 24px;}
.customerInfoBox .customerInfo .inline{color: #A6A6A6; font-size: 14px; line-height: 28px; display: inline-block; margin-right: 54px;}
.customerInfoBox .customerInfo .inline span{color: #616366;}
.customerInfoBox .rpMark{min-height: 56px; border-top: solid 1px #eee;color: #A6A6A6; font-size: 14px; padding: 10px 0; box-sizing: border-box;}
.customerInfoBox .rpMark span{color: #313233;}
.reportPop .fl_popcon .qrCodeBox{border-top: solid 1px #eee; margin-top: 10px; flex-grow: 1; justify-content: center; align-items: center; flex-direction: column; position: absolute; left: 0; background-color: #fff; left: 30px; right: 30px; top: 134px; bottom: 0; z-index: 1;}
.reportPop .fl_popcon .qrCodeBox h4{color: #17171A; font-size: 22px; font-weight: bold;}
.reportPop .fl_popcon .qrCodeBox .qrbox{width: 230px; height: 230px; background: #FFFFFF; border-radius: 6px; border: 1px solid #EEEEEE; box-sizing: border-box; padding: 15px; margin-top: 40px;}
.reportPop .fl_popcon .qrCodeBox .qrbox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.reportPop .fl_popcon .qrCodeBox .tipInfo{text-align: center ; color: #919399; font-size: 14px; text-align: center; margin-top: 32px;}
.reportPop .fl_popcon .qrCodeBox .tipInfo p{margin-bottom: 18px;}
.reportPop .fl_popcon .qrCodeBox .back_btn{width: 160px; height: 48px; background: #FFFFFF; border-radius: 8px; border: 1px solid #3377FF; font-size: 15px; color: #266EFF;  margin-top: 40px;}
.reportPop .fl_popcon .qrCodeBox .back_btn:hover{background-color: rgba(51, 119, 255,.1); border-color: rgba(51, 119, 255,.1);}
.reportPop .close_pop{position: fixed;}

.progressListBox{margin: 30px 30px 0; padding-left: 10px;}
.progressListBox ul.progressList{border-left: dashed 1px #CAD8ED; min-height: 200px; }
.progressListBox ul.progressList .ptime {color: #999; font-size: 13px; margin-left: -3px; display: flex; align-items: center; margin-bottom: 14px;}
.progressListBox ul.progressList .ptime::before{content: '';  display: inline-block; width: 5px; height: 5px; background: #33DDFF; border-radius: 50%; margin-right: 10px; }
.progressListBox ul.progressList.errBox .ptime::before,.progressListBox ul.progressList.successBox .ptime::before{background-color: #CAD3E0;}
.progressListBox ul.progressList .currStep{color: #19B2FF; font-size: 15px; display: flex; align-items: center; transform: translateY(-4px); margin-bottom: 14px;}
.progressListBox ul.progressList .currStep .clock{font-size: 16px; color: #19B2FF; margin-left: -8px;  margin-right: 6px; background-color: #fff; font-weight: 500;}
.progressListBox ul.progressList .currStep .check{font-size: 14px; color: #666;}
.progressListBox ul.progressList.successBox .currStep{color: #FF7300;}
.progressListBox ul.progressList.successBox .currStep .clock{color: #FF7300;}
.progressListBox ul.progressList.errBox .currStep{color: #FF1E00;}
.progressListBox ul.progressList.errBox .currStep .clock{color: #FF1E00;}
.progressListBox ul.progressList.failBox .currStep{color: #F53C1E;}
.progressListBox ul.progressList.failBox .currStep .clock{color: #F53C1E;}
.progressListBox ul.progressList .pcon{margin-left: 20px;min-height: 70px; background: #F7F9FC; border-radius: 6px;  display: flex; flex-direction: column; justify-content: center;}
.progressListBox ul.progressList .progressItem{padding-bottom: 24px;}
.scrollBox{max-height: 100%;overflow: auto;  }
.scrollBox .scrollCon{padding-top: 6px; background: linear-gradient(180deg,#E5EEFF -62px, #fff 358px, #fff 100% ) #fff;}
.scrollBox::-webkit-scrollbar{width: 12px}
.scrollBox::-webkit-scrollbar-thumb { border-radius: 2px; width: 12px; background: rgb(0, 31, 77,.1); }
.progressItem .optItem{padding: 14px 20px; position: relative;}
.progressItem .optItem::after{content: ''; position: absolute; right: 30px; left: 50px; bottom: 0; border-bottom: solid 1px #eee;}
.progressItem .optItem:last-of-type::after{display: none;}
.progressItem .optItem .photo{width: 30px; height: 30px; background-color: #fff; border-radius: 50%; margin-right: 8px; flex-shrink: 0;}
.progressItem .optItem .photo img{width: 100%; height: 100%; object-fit: cover; display: block; border-radius: 50%; }
.progressItem .optItem .txt{font-size: 14px; color: #313233;}
.progressItem .optItem .time{color: #A6A6A6; font-size: 12px; margin-left: 40px;}
.progressItem .optItem .note{margin-left: 40px; font-size: 14px; color: #999; line-height: 20px;}
.progressItem .optItem .note.error{color: #FF5042;}
.progressItem .optItem .txt span{color:#999;}
.progressItem .currState {min-height: 60px; flex-grow: 1; background: linear-gradient(90deg, #EDF6FF 0%, #F6FCFF 100%); border-radius: 6px; margin-left: 20px; margin-bottom: 10px; padding:15px 22px ; box-sizing: border-box; border-radius: 6px;}
.progressListBox ul.progressList.errBox  .currState {background: linear-gradient(90deg, #FFF1F0 0%, #FFF6F5 100%);}
.progressListBox ul.progressList.errBox  .currState .currInfo h5{color: #17171A;}
.progressListBox ul.progressList.errBox  .currState .currInfo p{color: #FF1E00;}
.progressListBox ul.progressList.successBox  .currState {background: linear-gradient(90deg, #FFF0E5 0%, #FFF6F2 100%);}
.progressListBox ul.progressList.successBox  .currState .currInfo h5{color: #FF7300;}
.progressListBox ul.progressList.failBox  .currState {background: linear-gradient(90deg, #EDEFF2 0%, #F7F8FA 100%);}
.progressListBox ul.progressList.failBox  .currState .currInfo h5,.progressListBox ul.progressList.failBox  .currState .currInfo  p{color: #FF1E00;}
.progressItem .currState .currInfo h5{color: #266EFF; font-size: 16px; font-weight: bold;}
.progressItem .currState .currInfo p{color: #999; font-size: 13px; margin-top: 6px;}
.progressItem .currState .btn_confirm{margin-left: 22px;min-width: 130px; height: 40px; background: #3377FF; border-radius: 6px; border-color:#3377FF ;}
.progressItem .currState .btn_check{width: 100px; height: 40px; background: rgba(255,255,255,0); border-radius: 6px; border: 1px solid #FF7300; color: #FF7300;}
.progressItem .currState .btn_check:hover{background-color: rgba(255, 115, 0,.1); border-color:  rgba(255, 115, 0,.1); }
.progressItem .currState .btn_confirm.redBtn{background-color: #D92E00; border-color: #D92E00;}

.reportPop .fl_popcon .showQr{display: flex; align-items: center; font-size: 14px; color: #17171A; flex-shrink: 0;}
.reportPop .fl_popcon .showQr::before{content: ''; display: block; width: 24px; height: 24px; background: url(../images/scan_icon.png) no-repeat center/cover; margin-right: 7px;}
.linkBtn{color: #266EFF; font-size: 13px; display: flex; align-items: center; justify-content: center;}
.linkBtn s{display: inline-block; flex-shrink: 0; width: 30px; height: 30px; background: rgba(0,0,0,.3); border-radius: 2px; margin-left: 7px;}
.linkBtn s img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 2px; opacity: .5;}
.picbox {overflow: hidden; margin-top: 10px;}
.picbox .pic{position: relative; float: left; margin-right: 5px;}
.picbox .imgShow{width: 70px; height: 65px; background: #E7E7E7; border-radius: 3px;}
.picbox .imgShow img{width: 100%; height: 100%; display: block;  border-radius: 3px; object-fit: contain;}
.picbox p{position: absolute; left: 0; right: 0; bottom: 0; border-radius: 0 0 3px 3px; background-color: rgba(54, 56, 61,.6); color: #fff; font-size: 12px; padding: 0 3px;}