.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color: #266EFF; border-color: #266EFF; }
.el-checkbox__input.is-checked+.el-checkbox__label{color: #266EFF;}
.disflex{display: flex; }
.headbox{height: 84px; display: flex; align-items: center; justify-content: space-between;}
.headbox .left_list{flex-grow: 1; min-width: 0; }
.headbox .right{flex-shrink: 0;}
.headbox .post_ul{white-space: nowrap; overflow: auto;}
.headbox .post_ul::-webkit-scrollbar{ width: 0px; height: 4px; border-radius: 4px; background: none;}
.headbox .post_ul::-webkit-scrollbar-thumb{    border-radius: 5px; -webkit-box-shadow: inset 0 0 5px #bec0c4; background: #bec0c4;}
.headbox .post_li{padding: 0 15px; cursor: pointer; height: 38px; color: #606266; font-size: 14px; border-radius: 6px; margin-right: 12px; display: inline-block; line-height: 38px;}
.headbox .post_li em{color: #909399;}
.headbox .post_li:hover{background-color: #F2F4F7;}
.headbox .post_li.active{color: #fff; background-color: #3377FF;}
.headbox .post_li.active em{color: #fff;}
.headbox .btn{width: 120px;  color: #fff; font-size: 14px; height: 42px; background: #08B6FF; border-radius: 6px; line-height: 42px; text-align: center; float: left; margin-left: 12px; cursor: pointer; position: relative;}
.headbox .btn.add_post{background: linear-gradient(90deg, #1966FF 0%, #3377FF 100%);}
.headbox .btn.add_member::before{content: ''; display: block; width: 20px; height: 20px; background: url(../images/add_icon.png) no-repeat center/cover; margin-right: 4px;}
.headbox .btn.add_member{display: flex; align-items: center; justify-content: center;}
.headbox .btn:hover::after{content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; pointer-events: none; background-color: rgba(0,0,0,.08);}

.listbox { margin-top: 25px; min-height: 450px; border: solid 1px #eee; }
.listbox .alignRight { text-align: left !important; padding-left: 20px; box-sizing: border-box; }
.listbox .alignCenter { text-align: center;  }
.listbox .table_row { border-bottom: solid 1px #eee; height: 80px; box-sizing: border-box; color: #5C5E66;}
.listbox .titlebox { height: 50px; background: #F5F5F7; font-size: 14px; color: #333; border-bottom: solid 1px #eee; }
.listbox .cell { line-height: 48px; float: left; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.listbox .cell.blue { color: #2672EC !important; }
.listbox .cell.grey { color: #999 !important; }
.listbox .col5 { width: 50%; box-sizing: border-box; padding-left: 3.6vw ; }
.listbox .col4 { width: 40%; }
.listbox .col3 { width: 30%; box-sizing: border-box; padding-left: 20px; }
.listbox .col1 { width: 10%; text-align: center; }
.listbox .col25 { width: 25%; text-align: center; }
.listbox .col35 { width: 35%; text-align: center; }
.listbox .col2 { width: 20% }
.listbox .col15 { width: 15% }

.listbox .table_row .cell{height: 80px; display: flex; align-items: center;}
.listbox .table_row .cell .quanxian{display: inline-block; height: 22px; color: #08B6FF; font-size: 13px; border-radius: 11px; padding: 0 9px; line-height: 22px; background-color: #E3F7FF;}
.listbox .table_row .cell .quanxian.off{background-color: #BBC0C7; color: #fff;}
.listbox .table_row .cell .name{color: #17171A; font-size: 16px; margin-left: 12px;}
.listbox .table_row .cell .photo{width: 52px; height: 52px; border-radius: 50%; background-color: #f5f5f5;}
.listbox .table_row .cell .photo img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%; }
.listbox .table_row .cell .btns{align-items: center; gap: 35px;}
.listbox .table_row .cell .btns a{font-size: 14px; color: #8D93A6;}
.listbox .table_row .cell .btns .blue{color: #1966FF;}
.listbox .table_row .cell .tel::before{content: ''; display: inline-block; width: 18px; height: 18px; background: url(../images/tel_blue.png) no-repeat center/cover; margin-right: 4px;}
.listbox .table_row .cell .tel{display: flex; align-items: center;}
.listbox .table_row .cell .con{max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}


.popMask{position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.3); z-index: 5; }
.popConBox{position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-color: #fff; border-radius: 16px; width: 860px; height: 876px; z-index:5; display: flex; flex-direction: column; display: none; animation: popup .3s ease-in-out;}
.show.popConBox{display: flex;}
.popHeader {height: 54px; padding: 0 20px; display: flex; align-items: center; justify-content: space-between;border-bottom: solid 1px #eee; flex-shrink: 0;}
.popHeader h3{font-size: 18px; color: #212226; font-weight: bold; }
.popHeader .close_pop{width: 40px; height: 40px; background: url(../images/close_pop.png) no-repeat center/20px; margin-right: -20px;}
.popCon{flex-grow: 1;}
/* .popCon{padding:0 20px;} */
.popCon .flexLeft.formbox{border-right: solid 1px #eee;}
.popCon .flexLeft.formbox{flex-grow: 1; padding: 30px 40px;}
.popCon .flexLeft.formbox .form_item{display: flex; align-items: flex-start; margin-bottom: 20px;}
.popCon .flexLeft.formbox .form_item .inpbox{flex-grow: 1;}
.popCon .flexLeft.formbox .form_item .inpbox p{color: #8D93A6; margin-top: 12px;}
.popCon .flexLeft.formbox label{padding-right: 16px; line-height: 46px; font-size: 14px; color: #4D4D4D; float: left; text-align: right; flex-shrink: 0; width: 100px;} 
.popCon .flexLeft.formbox .form_item .inpbox.sminp{max-width: 260px;}
.popCon .flexLeft.formbox .form_item .inpbox input{height: 46px;}
.popCon .flexLeft.formbox .form_item .inpbox .txt{line-height: 46px; text-align: center; width: 30px; display: block;}
.popCon .flexLeft.formbox label i{color: #FF0000; margin-right: 2px; font-style: normal;}
.form_item .upload_btn{width: 100px; height: 100px; background-color: #F5F7FA; position: relative; border-radius: 4px; } 
.form_item .upload_btn.wechatUpload{width: 120px; height: 120px;  } 
.form_item .upload_btn input{width: 100%; height: 100%; opacity: 0; position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.form_item .upload_btn::before{content: ''; width: 24px; height: 24px; background: url(../images/upload_icon.png) no-repeat center/cover; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;} 
.form_item .upload_btn img{width: 100%; height: 100%; object-fit: cover;}
.form_item .upload_btn p{height: 30px; background: rgba(0,0,0,.6); border-radius:0 0 6px 6px; position: absolute; left: 0; right:0; bottom: 0; color: #fff; line-height: 30px; font-size: 12px; text-align: center;}
.form_item .upload_btn.hasImg::before{display: none;}
.form_item .uploadBox .tip{color: #8D93A6; font-size: 12px; margin-left: 10px; margin-top: 16px;}

.popCon .flexRight.zwConBox{width: 360px; box-sizing: border-box; padding: 0 20px;}
.popCon .flexRight.zwConBox h4{font-size: 16px; color: #212226; font-weight: bold; margin-top: 10px; padding: 14px 0;}
.popCon .flexRight.zwConBox .zwBox{width: 320px; background: #F5F7FA; border-radius: 4px; box-sizing: border-box; padding: 14px 20px;}
.popFoot {height: 92px; display: flex; align-items: center; justify-content: flex-end; padding: 0 30px; border-top: solid 1px #eee;}
.popFoot .btn_confirm{width: 160px; height: 46px; background: #266EFF; color: #fff; font-size: 16px; border-radius: 6px; text-align: center; line-height: 46px; display: block; position: relative;}
.popFoot .btn_confirm:hover::after{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.08);}
.zwBox .selectbox{width: 100%;}
.qxBox h6{color: #4D4D4D; font-size: 14px; margin-top: 14px; margin-bottom: 16px;}
.qxBox .checkbox{margin-bottom: 14px;}
/* .qxBox .checkbox:last-of-type{margin-bottom: 0;} */
.qxBox .checkbox.disabled .el-checkbox{cursor: no-drop;}
.qxBox .checkbox.disabled .el-checkbox__input.is-checked .el-checkbox__inner,.qxBox .checkbox.disabled .el-checkbox__input.is-indeterminate .el-checkbox__inner{opacity: 0.4; cursor: no-drop;}

